force-app/main/default/flows/Account_Team_Member_Record_Triggered_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Next_Rule_NR</name>
        <label>*Next Rule (NR)*</label>
        <locationX>756</locationX>
        <locationY>366</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>New Rule</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-1280 Check if a new team member has been created</description>
        <name>Rule_NC_New_member_created_NSM</name>
        <label>*Rule (NC)* - New member created NSM?</label>
        <locationX>486</locationX>
        <locationY>359</locationY>
        <defaultConnector>
            <targetReference>Next_Rule_NR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Named Sales Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NC_Update_Account_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-1280 Check if a new team member has been created</description>
        <name>Rule_NC_New_member_created_SDR</name>
        <label>*Rule (NC)* - New member created SDR?</label>
        <locationX>166</locationX>
        <locationY>355</locationY>
        <defaultConnector>
            <targetReference>Rule_NC_New_member_created_NSM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Named SDR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NC_Update_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>MIS-1401 Closed Won - Add Owner to Account Team
MIS-1280 - Update &quot;Named SDR&quot; on Account level</description>
    <interviewLabel>Account Team Member - Record Triggered - After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Team Member - Record Triggered - After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update field &quot;Named SDR&quot;</description>
        <name>NC_Update_Account</name>
        <label>NC - Update Account</label>
        <locationX>172</locationX>
        <locationY>561</locationY>
        <connector>
            <targetReference>Rule_NC_New_member_created_NSM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Named_SDR__c</field>
            <value>
                <elementReference>$Record.UserId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update field &quot;Named SDR&quot;</description>
        <name>NC_Update_Account_0</name>
        <label>NC - Update Account</label>
        <locationX>495</locationX>
        <locationY>544</locationY>
        <connector>
            <targetReference>Next_Rule_NR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Named_Sales_Manager__c</field>
            <value>
                <elementReference>$Record.UserId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Rule_NC_New_member_created_SDR</targetReference>
        </connector>
        <object>AccountTeamMember</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
