force-app/main/default/flows/Account_Autolaunched_Send_Emails_to_New_Owners.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>MIS-4853</description>
        <name>Send_Email_to_Manager</name>
        <label>Send Email to Manager</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop.currentOwnerEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesops@similarweb.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Email_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <description>MIS-4853</description>
    <environments>Default</environments>
    <formulas>
        <description>MIS-4853</description>
        <name>Report_Link</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Api.Partner_Server_URL_520}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_520} ))&amp; {!Get_Reassigned_Report.Id}</expression>
    </formulas>
    <interviewLabel>Account - Autolaunched - Send Emails to New Owners {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Autolaunched - Send Emails to New Owners</label>
    <loops>
        <description>MIS-4853</description>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>JSON_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Email_to_Manager</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>MIS-4853</description>
        <name>Get_Reassigned_Report</name>
        <label>Get Reassigned Report</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accounts_Assigned_to_Me_Last_3_Months_k2m</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Report</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Reassigned_Report</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>Email_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi,&lt;br&gt;&lt;br&gt;
{!Loop.previousOwnerName} is now an inactive user and their accounts have been assigned to you.&lt;br&gt;&lt;br&gt;
Please follow this &lt;b&gt;&lt;a href=&quot;{!Report_Link}&quot;&gt;link&lt;/a&gt;&lt;/b&gt; to find the Accounts that were recently assigned to you.&lt;br&gt;&lt;br&gt;
Please be aware that due to the deactivation of {!Loop.previousOwnerName}, you are the current owner of these &lt;b&gt;Accounts, Opps, and Contacts&lt;/b&gt;.&lt;br&gt;
You can assign them to another team member by yourself in Salesforce, or by reaching out to SalesOps with the list of the records together with the new owner&apos;s full name and Salesforce ID.</text>
    </textTemplates>
    <textTemplates>
        <description>MIS-4853</description>
        <name>Email_Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Loop.previousOwnerName} is now an inactive user and their accounts have been assigned to you</text>
    </textTemplates>
    <variables>
        <name>JSON_Collection</name>
        <apexClass>FlowParamsObj</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
