force-app/main/default/flows/Account_Refinitive_Screen_automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Activate_Ongoing_Screening</name>
        <label>Activate Ongoing Screening</label>
        <locationX>389</locationX>
        <locationY>649</locationY>
        <actionName>tr_wc1__tr_automateScreening</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>enableMonitoring</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>enableNameTransposition</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>screeningCaseId</name>
            <value>
                <elementReference>$Record.Primary_Screening_Case__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>worldCheckOneCaseId</name>
            <value>
                <elementReference>$Record.Primary_Screening_Case__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>worldCheckOneCaseSystemId</name>
            <value>
                <elementReference>$Record.Primary_Screening_Case__r.tr_wc1__Thomson_Reuters_Case_Id__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>tr_wc1__tr_automateScreening</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Screen_case</name>
        <label>Create Screen case</label>
        <locationX>688</locationX>
        <locationY>418</locationY>
        <actionName>tr_wc1__tr_automateScreening</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>enableMonitoring</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>enableNameTransposition</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>tr_wc1__tr_automateScreening</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Deactivate_Ongoing_Screening</name>
        <label>Deactivate Ongoing Screening</label>
        <locationX>113</locationX>
        <locationY>415</locationY>
        <actionName>tr_wc1__tr_automateScreening</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>enableMonitoring</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>enableNameTransposition</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>screeningCaseId</name>
            <value>
                <elementReference>$Record.Primary_Screening_Case__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>worldCheckOneCaseId</name>
            <value>
                <elementReference>$Record.Primary_Screening_Case__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>worldCheckOneCaseSystemId</name>
            <value>
                <elementReference>$Record.Primary_Screening_Case__r.tr_wc1__Thomson_Reuters_Case_Id__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>tr_wc1__tr_automateScreening</nameSegment>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Stage_is_changed</name>
        <label>Stage is changed</label>
        <locationX>382</locationX>
        <locationY>417</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_Early_Stage_Pipeline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Early Stage Pipeline</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Screen_case</targetReference>
            </connector>
            <label>Stage = Early Stage Pipeline</label>
        </rules>
        <rules>
            <name>Stage_Paying_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activate_Ongoing_Screening</targetReference>
            </connector>
            <label>Status = Active</label>
        </rules>
        <rules>
            <name>Lost_Churn_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deactivate_Ongoing_Screening</targetReference>
            </connector>
            <label>Lost / Churn Account</label>
        </rules>
    </decisions>
    <description>Remove Billing Name Update
Removed No Touch Accounts from trigger
Removed Max Probability</description>
    <interviewLabel>Account - Refinitive - Screen automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Refinitive - Screen automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>265</locationX>
        <locationY>55</locationY>
        <connector>
            <targetReference>Stage_is_changed</targetReference>
        </connector>
        <filterLogic>(1 OR 2) and 3</filterLogic>
        <filters>
            <field>Stage__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>No_Touch_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
