force-app/main/default/flows/Assign_Country_Subsidiary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Set_subsidiary_from_account</name>
        <label>Set subsidiary from account</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Subsidiary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Country_Subsidiary_from_account.Subsidiary__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_subsidiary_from_opp</name>
        <label>Set subsidiary from opp</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Subsidiary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opp.Subsidiary__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Has_opportunity</name>
        <label>Where to get the country from</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Country_Subsidiary_from_account</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>opp</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
    </decisions>
    <description>MIS-6157
MIS-1850</description>
    <environments>Default</environments>
    <interviewLabel>Assign Country Subsidiary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Request  - Assign Country Subsidiary</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Country_Subsidiary_from_account</name>
        <label>Get Country Subsidiary from account</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_subsidiary_from_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.BillingCountry</elementReference>
            </value>
        </filters>
        <filters>
            <field>Company__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SW</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Country_Subsidiary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>opp</name>
        <label>Get Country Subsidiary from opp</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_subsidiary_from_opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Account.BillingCountry</elementReference>
            </value>
        </filters>
        <filters>
            <field>Company__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SW</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Country_Subsidiary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Generate_NDA__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>100</triggerOrder>
</Flow>
