force-app/main/default/flows/Assigning_Meeting_to_Opp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Basic_Flow</name>
        <label>Basic Flow</label>
        <locationX>777</locationX>
        <locationY>201</locationY>
        <defaultConnector>
            <targetReference>Relevant_Meeting_Search</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>RelatedMeeting_was_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedMeetingWasChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Meeting</targetReference>
            </connector>
            <label>RelatedMeeting was changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_RelevantMeetingFound</name>
        <label>Relevant Meeting Found</label>
        <locationX>532</locationX>
        <locationY>356</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>outcome_RelevantMeetingFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarMeetingID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_the_Meeting_an_Opp</targetReference>
            </connector>
            <label>Relevant Meeting Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Relevant_Meeting</name>
        <label>Found Relevant Meeting</label>
        <locationX>292</locationX>
        <locationY>555</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Already_Taken</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarOtherOppID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarMeetingID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Already Taken</label>
        </rules>
    </decisions>
    <description>+ MIS-1324;
When an Opp is created.</description>
    <interviewLabel>Assigning Meeting to Opp. {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assigning Meeting to Opp.</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Has_the_Meeting_an_Opp</name>
        <label>Has the Meeting an Opp.?</label>
        <locationX>300</locationX>
        <locationY>357</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Relevant_Meeting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Meeting__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarMeetingID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>VarOtherOppID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Relevant_Meeting_Search</name>
        <label>Relevant Meeting Search</label>
        <locationX>542</locationX>
        <locationY>198</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_RelevantMeetingFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>VarOppCreateDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>VarMeetingRange</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>012b0000000QNbbAAG</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>012b0000000cekvAAA</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0120O0000007rdU</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Meeting__c</object>
        <outputAssignments>
            <assignToReference>VarMeetingID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarMeetingRecordtypeID</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <sortField>Date__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Opportunity_Update</name>
        <label>Opportunity Update</label>
        <locationX>81</locationX>
        <locationY>553</locationY>
        <connector>
            <targetReference>Update_Meeting_Recoed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarOppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Related_Meeting__c</field>
            <value>
                <elementReference>VarMeetingID</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Meeting</name>
        <label>Update Meeting</label>
        <locationX>1100</locationX>
        <locationY>193</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarMeetingID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>VarOppID</elementReference>
            </value>
        </inputAssignments>
        <object>Meeting__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Meeting_Recoed</name>
        <label>Update Meeting Recoed</label>
        <locationX>81</locationX>
        <locationY>740</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarMeetingID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>VarOppID</elementReference>
            </value>
        </inputAssignments>
        <object>Meeting__c</object>
    </recordUpdates>
    <start>
        <locationX>656</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Basic_Flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OppOwnerRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RelatedMeetingWasChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>VarAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarCreatedDateTimePlus1</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarMeeting2ndCheck</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarMeetingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarMeetingRange</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarMeetingRecordtypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarOppCreateDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarOtherOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
