force-app/main/default/flows/Billing_Account_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_SalesOps</name>
        <label>Email SalesOps</label>
        <locationX>1254</locationX>
        <locationY>1080</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>MultipleContactsBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>SalesOps@similarweb.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>MultipleContactsSubject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_AssignBillToVariablesNoState</name>
        <label>Assign Bill To Variables (No State)</label>
        <locationX>1584</locationX>
        <locationY>912</locationY>
        <assignmentItems>
            <assignToReference>LeadAssignment.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadAssignment.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarStreetFinal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadAssignment.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadAssignment.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarPostalcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadAssignment.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadAssignment.Account_ID_for_LD_Convert__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarAccountID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadAssignment.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarOutputFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadAssignment.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarOutputLastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_of_Contacts_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Bill_To_Variables</name>
        <label>Assign Bill To Variables</label>
        <locationX>1065</locationX>
        <locationY>261</locationY>
        <assignmentItems>
            <assignToReference>ContactCountBillTo</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactSecondCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactFirstAssignment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactBillToAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactFirstAssignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_of_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Bill_To_Variables_0_0</name>
        <label>Assign Bill To Variables</label>
        <locationX>1584</locationX>
        <locationY>710</locationY>
        <assignmentItems>
            <assignToReference>LeadAssignment.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadAssignment.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarStreetFinal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadAssignment.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadAssignment.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarPostalcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadAssignment.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadAssignment.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadAssignment.Account_ID_for_LD_Convert__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarAccountID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadAssignment.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarOutputFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadAssignment.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarOutputLastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_of_Contacts_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sold_To_Variables</name>
        <label>Assign Sold To Variables</label>
        <locationX>1341</locationX>
        <locationY>683</locationY>
        <assignmentItems>
            <assignToReference>ContactCountSoldTo</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactSecondCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactFirstAssignment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactSoldToAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactFirstAssignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_of_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_StoreContactInfoNoState</name>
        <label>Store Contact Info (No State)</label>
        <locationX>1200</locationX>
        <locationY>250</locationY>
        <assignmentItems>
            <assignToReference>ContactFirstAssignment.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactFirstAssignment.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarStreetFinal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactFirstAssignment.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactFirstAssignment.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarPostalcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactFirstAssignment.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactFirstCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactFirstAssignment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactFirstAssignment.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarOutputFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactFirstAssignment.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarOutputLastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactFirstAssignment.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarAccountID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactFirstAssignment.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarAccountOwnerID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MarkedBillTo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Hong_Kong</name>
        <label>Hong Kong</label>
        <locationX>943</locationX>
        <locationY>540</locationY>
        <assignmentItems>
            <assignToReference>VarCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hong Kong</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_of_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Macedonia_the_former_Yugoslav_Republic_of</name>
        <label>Macedonia, the former Yugoslav Republic of</label>
        <locationX>793</locationX>
        <locationY>390</locationY>
        <assignmentItems>
            <assignToReference>VarCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Macedonia, the former Yugoslav Republic of</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_of_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Contact_Info</name>
        <label>Store Contact Info</label>
        <locationX>1500</locationX>
        <locationY>444</locationY>
        <assignmentItems>
            <assignToReference>ContactFirstAssignment.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactFirstAssignment.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarStreetFinal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactFirstAssignment.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactFirstAssignment.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarPostalcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactFirstAssignment.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactFirstAssignment.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactFirstCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactFirstAssignment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactFirstAssignment.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarOutputFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactFirstAssignment.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarOutputLastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactFirstAssignment.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarAccountID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactFirstAssignment.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarAccountOwnerID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MarkedBillTo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Contact_Info_Hong_Kong</name>
        <label>Store Contact Info (Hong Kong)</label>
        <locationX>1318</locationX>
        <locationY>256</locationY>
        <assignmentItems>
            <assignToReference>ContactFirstAssignment.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactFirstAssignment.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarStreetFinal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactFirstAssignment.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactFirstAssignment.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarPostalcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactFirstAssignment.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hong Kong</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactFirstCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactFirstAssignment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactFirstAssignment.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarOutputFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactFirstAssignment.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarOutputLastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactFirstAssignment.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarAccountID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactFirstAssignment.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarAccountOwnerID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MarkedBillTo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Virgin_Islands_British1</name>
        <label>Virgin Islands, British</label>
        <locationX>847</locationX>
        <locationY>759</locationY>
        <assignmentItems>
            <assignToReference>VarCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Virgin Islands, British</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_of_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Virgin_Islands_U_S_assignment</name>
        <label>Virgin Islands (U.S.) assignment</label>
        <locationX>833</locationX>
        <locationY>653</locationY>
        <assignmentItems>
            <assignToReference>VarCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Virgin Islands, U.S.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_of_Contacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assigned_country</name>
        <label>Assigned country</label>
        <locationX>450</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Number_of_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Macedonia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Macedonia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Macedonia_the_former_Yugoslav_Republic_of</targetReference>
            </connector>
            <label>Macedonia</label>
        </rules>
        <rules>
            <name>Virgin_Islands_British</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Virgin Islands (British)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Virgin_Islands_British1</targetReference>
            </connector>
            <label>Virgin Islands (British)</label>
        </rules>
        <rules>
            <name>Hong_Kong_China2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hong Kong, China</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hong_Kong</targetReference>
            </connector>
            <label>Hong Kong, China</label>
        </rules>
        <rules>
            <name>Virgin_Islands_U_S</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Virgin Islands (U.S.)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Virgin_Islands_U_S_assignment</targetReference>
            </connector>
            <label>Virgin Islands (U.S.)</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_CountryCanadaUS</name>
        <label>Country = Canada/US OR Hong kong</label>
        <locationX>1255</locationX>
        <locationY>449</locationY>
        <defaultConnector>
            <targetReference>assign_StoreContactInfoNoState</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>outcome_TrueCountryCanadaUS</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>VarCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United States</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Contact_Info</targetReference>
            </connector>
            <label>True - Country = Canada/US?</label>
        </rules>
        <rules>
            <name>Hong_kong_China</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hong Kong, China</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Contact_Info_Hong_Kong</targetReference>
            </connector>
            <label>Hong kong, China</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_CountryCanadaUSCreate</name>
        <label>Country = Canada/US?</label>
        <locationX>1409</locationX>
        <locationY>1300</locationY>
        <defaultConnector>
            <targetReference>create_CreateContactNoState</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>outcome_TrueCountryCanadaUSCreate</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>VarCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United States</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact</targetReference>
            </connector>
            <label>True - Country = Canada/US?</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_CountryCanadaUSLead</name>
        <label>Country = Canada/US?</label>
        <locationX>1879</locationX>
        <locationY>824</locationY>
        <defaultConnector>
            <targetReference>assign_AssignBillToVariablesNoState</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>outcome_TrueCountryCanadaUSLead</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>VarCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United States</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Bill_To_Variables_0_0</targetReference>
            </connector>
            <label>True - Country = Canada/US?</label>
        </rules>
    </decisions>
    <decisions>
        <name>FirstCountResult</name>
        <label>FirstCountResult</label>
        <locationX>1005</locationX>
        <locationY>820</locationY>
        <defaultConnector>
            <targetReference>SecondCountBillToResult</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email&gt;1</defaultConnectorLabel>
        <rules>
            <name>Email_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead</targetReference>
            </connector>
            <label>Email=0</label>
        </rules>
        <rules>
            <name>Email_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <label>Email=1</label>
        </rules>
    </decisions>
    <decisions>
        <name>MarkedBillTo</name>
        <label>MarkedBillTo?</label>
        <locationX>1290</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>MarkedSoldTo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ContactFirstAssignment.Bill_To__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Bill_To_Variables</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>MarkedSoldTo</name>
        <label>MarkedSoldTo?</label>
        <locationX>1678</locationX>
        <locationY>617</locationY>
        <defaultConnector>
            <targetReference>Number_of_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactFirstAssignment.Sold_To__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sold_To_Variables</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Number_Of_Matched_Leads</name>
        <label>Number Of Matched Leads</label>
        <locationX>1405</locationX>
        <locationY>1081</locationY>
        <defaultConnector>
            <targetReference>Email_SalesOps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Match&gt;1</defaultConnectorLabel>
        <rules>
            <name>Match_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_CountryCanadaUSCreate</targetReference>
            </connector>
            <label>Match=0</label>
        </rules>
        <rules>
            <name>Match_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead</targetReference>
            </connector>
            <label>Match=1</label>
        </rules>
    </decisions>
    <decisions>
        <name>SecondCountBillToResult</name>
        <label>Second Count BillTo Result</label>
        <locationX>1008</locationX>
        <locationY>1004</locationY>
        <defaultConnector>
            <targetReference>Email_SalesOps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email&amp;Bill/SoldTo!=1</defaultConnectorLabel>
        <rules>
            <name>Email_BillTo_1</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>ContactCountBillTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BillTo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_1</targetReference>
            </connector>
            <label>Email&amp;BillTo=1</label>
        </rules>
        <rules>
            <name>Email_SoldTo_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SoldTo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactCountSoldTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_1_0</targetReference>
            </connector>
            <label>Email&amp;SoldTo=1</label>
        </rules>
    </decisions>
    <description>+ MQ-1628
Aligns Contact info to Billing Account</description>
    <environments>Default</environments>
    <formulas>
        <name>IsBillTo</name>
        <dataType>Boolean</dataType>
        <expression>({!Type} = &quot;BillTo&quot;) || ({!Type} = &quot;Both&quot;)</expression>
    </formulas>
    <formulas>
        <name>IsSoldTo</name>
        <dataType>Boolean</dataType>
        <expression>({!Type} = &quot;SoldTo&quot;) || ({!Type} = &quot;Both&quot;)</expression>
    </formulas>
    <formulas>
        <name>VarOutputFirstName</name>
        <dataType>String</dataType>
        <expression>LEFT({!VarInputName}, FIND(&quot; &quot;,  {!VarInputName}) - 1)</expression>
    </formulas>
    <formulas>
        <name>VarOutputLastName</name>
        <dataType>String</dataType>
        <expression>RIGHT({!VarInputName}, (LEN({!VarInputName}) - FIND(&quot; &quot;, {!VarInputName})))</expression>
    </formulas>
    <formulas>
        <name>VarStreetFinal</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!VarStreet1}) &lt;= 225, {!VarStreet1} , {!VarStreet2})</expression>
    </formulas>
    <interviewLabel>Billing Account &lt;&gt; Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Billing Account &lt;&gt; Contact</label>
    <loops>
        <name>Number_of_Contacts</name>
        <label>Number of Contacts</label>
        <locationX>1207</locationX>
        <locationY>617</locationY>
        <assignNextValueToReference>ContactFirstAssignment</assignNextValueToReference>
        <collectionReference>Get_Contact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decision_CountryCanadaUS</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>FirstCountResult</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Number_of_Contacts_0</name>
        <label>Number of Contacts</label>
        <locationX>1374</locationX>
        <locationY>816</locationY>
        <assignNextValueToReference>LeadAssignment</assignNextValueToReference>
        <collectionReference>Get_Lead</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decision_CountryCanadaUSLead</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Number_Of_Matched_Leads</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>1696</locationX>
        <locationY>1391</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>VarAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To__c</field>
            <value>
                <elementReference>IsBillTo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>VarEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>VarOutputFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>VarOutputLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>VarCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <elementReference>VarCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>VarPostalcode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>VarState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>VarStreetFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>VarAccountOwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>VarPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sold_To__c</field>
            <value>
                <elementReference>IsSoldTo</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_CreateContactNoState</name>
        <label>Create Contact (No State)</label>
        <locationX>1219</locationX>
        <locationY>1407</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>VarAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To__c</field>
            <value>
                <elementReference>IsBillTo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>VarEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>VarOutputFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>VarOutputLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>VarCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <elementReference>VarCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>VarPostalcode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>VarStreetFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>VarAccountOwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>VarPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sold_To__c</field>
            <value>
                <elementReference>IsSoldTo</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>383</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assigned_country</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Bill_To__c</queriedFields>
        <queriedFields>Sold_To__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>1219</locationX>
        <locationY>919</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Number_of_Contacts_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>811</locationX>
        <locationY>819</locationY>
        <inputReference>ContactFirstAssignment</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_1</name>
        <label>Update Contact</label>
        <locationX>785</locationX>
        <locationY>1003</locationY>
        <inputReference>ContactBillToAssignment</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_1_0</name>
        <label>Update Contact</label>
        <locationX>1016</locationX>
        <locationY>1235</locationY>
        <inputReference>ContactSoldToAssignment</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>1652</locationX>
        <locationY>1077</locationY>
        <inputReference>LeadAssignment</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>609</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>MultipleContactsBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Hi SalesOps,

More than one Contact/Lead was found with the following values:
Email: {!VarEmail}
Bill/Sold To: True

Found Lead IDs: {!Get_Lead}
Found Contact IDs based on email only: {!ContactFirstCollection}
Found Contact IDs based on email and Sold To/Bill To checkbox: {!ContactSecondCollection}
Billing Account ID: {!VarBillingAccountID}

The actions you need to take are:
1. Merge the Contacts/Leads
2. Ensure the new Contacts/Leads is under proper account in Salesforce
3. Update first and last name, address and phone number</text>
    </textTemplates>
    <textTemplates>
        <name>MultipleContactsSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Billing Account updates require a manual update on Contact/Lead</text>
    </textTemplates>
    <variables>
        <name>ContactBillToAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ContactCountBillTo</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ContactCountSoldTo</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ContactFirstAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactFirstCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactSecondCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactSoldToAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>LeadAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LeadCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarAccountOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarBillingAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarInputName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarPostalcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarStreet1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarStreet2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
