force-app/main/default/flows/Budget_Cycle_Start_Month_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Less_than_Today</name>
        <label>Less than Today() ?</label>
        <locationX>461</locationX>
        <locationY>272</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Less</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Budget_Cycle_Start_Month__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_All_Accounts</targetReference>
            </connector>
            <label>Less</label>
        </rules>
    </decisions>
    <description>#1099100 Updated by SMs manually</description>
    <formulas>
        <name>FR_nextyear</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Record.Budget_Cycle_Start_Month__c})+1,MONTH({!$Record.Budget_Cycle_Start_Month__c}),DAY({!$Record.Budget_Cycle_Start_Month__c}))</expression>
    </formulas>
    <formulas>
        <name>FR_Wait</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + 1/1440</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>#1099100 Updated by SMs manually {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Budget Cycle - Start Month Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_All_Accounts</name>
        <label>Update All Accounts</label>
        <locationX>650</locationX>
        <locationY>270</locationY>
        <inputAssignments>
            <field>Budget_Cycle_Start_Month__c</field>
            <value>
                <elementReference>FR_nextyear</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>49</locationX>
        <locationY>192</locationY>
        <connector>
            <targetReference>Less_than_Today</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Budget_Cycle_Start_Month__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-08-17</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Loop_all_accounts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>VarAccountsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
