force-app/main/default/flows/Case_AL_Prefill_Related_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Account_Related_Record_ID</name>
        <label>Assign Account Related Record ID</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>NewCaseVar.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Billing_Account_Related_Record_ID</name>
        <label>Assign Billing Account Related Record ID</label>
        <locationX>3746</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>NewCaseVar.Billing_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseVar.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Billing_Account_Related_Account.Zuora__Account__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Case_Related_Record_ID</name>
        <label>Assign Case Related Record ID</label>
        <locationX>3218</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>NewCaseVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Related_Case</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseVar.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseVar.CreatedDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseVar.LastModifiedDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseVar.SlaStartDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseVar.EntitlementId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Contact_Related_Record_ID</name>
        <label>Assign Contact Related Record ID</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>NewCaseVar.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseVar.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_s_Related_Account.AccountId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Invoice_Related_Record_ID</name>
        <label>Assign Invoice Related Record ID</label>
        <locationX>4274</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>NewCaseVar.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseVar.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Invoice_Related_Account_and_Billing_Account.Zuora__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseVar.Billing_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Invoice_Related_Account_and_Billing_Account.Zuora__BillingAccount__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Lead_Related_Record_ID</name>
        <label>Assign Lead Related Record ID</label>
        <locationX>2954</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>NewCaseVar.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Meeting_Related_Record_ID</name>
        <label>Assign Meeting Related Record ID</label>
        <locationX>2426</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>NewCaseVar.Meeting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseVar.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meeting_Related_Account.Account__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Related_Record_ID</name>
        <label>Assign Opportunity Related Record ID</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>NewCaseVar.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseVar.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opp_s_Related_Account.AccountId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Quote_Related_Record_ID</name>
        <label>Assign Quote Related Record ID</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>NewCaseVar.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseVar.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Related_Opportunity_and_Account.zqu__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseVar.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Related_Opportunity_and_Account.zqu__Opportunity__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Request_Related_Record_ID</name>
        <label>Assign Request Related Record ID</label>
        <locationX>1898</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>NewCaseVar.Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseVar.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Request_Related_Opportunity_and_Account.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseVar.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Request_Related_Opportunity_and_Account.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Which_related_record</name>
        <label>Which related record</label>
        <locationX>2426</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opp_s_Related_Account</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Related_Record_ID</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_s_Related_Account</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a1l</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quote_Related_Opportunity_and_Account</targetReference>
            </connector>
            <label>Quote</label>
        </rules>
        <rules>
            <name>Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a2n</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Request_Related_Opportunity_and_Account</targetReference>
            </connector>
            <label>Request</label>
        </rules>
        <rules>
            <name>Meeting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0t</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Meeting_Related_Account</targetReference>
            </connector>
            <label>Meeting</label>
        </rules>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_Related_Record_ID</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>50</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Related_Case</targetReference>
            </connector>
            <label>Case</label>
        </rules>
        <rules>
            <name>Billing_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a21</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Billing_Account_Related_Account</targetReference>
            </connector>
            <label>Billing Account</label>
        </rules>
        <rules>
            <name>Invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a2G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Invoice_Related_Account_and_Billing_Account</targetReference>
            </connector>
            <label>Invoice</label>
        </rules>
    </decisions>
    <description>Will be used from other flows to refill the case related records</description>
    <environments>Default</environments>
    <interviewLabel>Case - AL - Prefill Related Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - AL - Prefill Related Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Billing_Account_Related_Account</name>
        <label>Get Billing Account Related Account</label>
        <locationX>3746</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Billing_Account_Related_Record_ID</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Billing_Account_Related_Record_ID</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Zuora__CustomerAccount__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Zuora__Account__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Related_Case</name>
        <label>Get Case Related Case</label>
        <locationX>3218</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_Related_Record_ID</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Case_Related_Record_ID</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_s_Related_Account</name>
        <label>Get Contact&apos;s Related Account</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Contact_Related_Record_ID</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Contact_Related_Record_ID</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoice_Related_Account_and_Billing_Account</name>
        <label>Get Invoice Related Account and Billing Account</label>
        <locationX>4274</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Invoice_Related_Record_ID</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Invoice_Related_Record_ID</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Zuora__ZInvoice__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Zuora__Account__c</queriedFields>
        <queriedFields>Zuora__BillingAccount__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Meeting_Related_Account</name>
        <label>Get  Meeting Related Account</label>
        <locationX>2426</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Meeting_Related_Record_ID</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Meeting_Related_Record_ID</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Meeting__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_s_Related_Account</name>
        <label>Get Opp&apos;s Related Account</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Opportunity_Related_Record_ID</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Opportunity_Related_Record_ID</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Related_Opportunity_and_Account</name>
        <label>Get  Quote Related Opportunity and Account</label>
        <locationX>1370</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Quote_Related_Record_ID</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Quote_Related_Record_ID</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>zqu__Quote__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>zqu__Account__c</queriedFields>
        <queriedFields>zqu__Opportunity__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Request_Related_Opportunity_and_Account</name>
        <label>Get Request Related Opportunity and Account</label>
        <locationX>1898</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Request_Related_Record_ID</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Request_Related_Record_ID</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Request__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>2300</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Which_related_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewCaseVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
