force-app/main/default/flows/Case_AL_Auto_Create_Child_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_EMail_Cannot_Get_Child_Case_Owner</name>
        <label>Error EMail: Cannot Get Child Case Owner</label>
        <locationX>930</locationX>
        <locationY>1898</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Quote_Case_Type_Contract_Signed_Manually</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>tal.frumerman@similarweb.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Error on flow: Case - AL - Auto Create Child Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Template_Cannot_Get_Requster_ID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Error_Update_Quote_Status_Ready_for_Billing</name>
        <label>Error: Update Quote Status = Ready for Billing</label>
        <locationX>842</locationX>
        <locationY>2306</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>salesforce@similarweb.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Error: Could Not Update Quote Status = Ready for Billing</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Update_Quote_Status_ReadyforBilling_Body</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Billing_Assign_Case_Fields</name>
        <label>Billing - Assign Case Fields</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Parent_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentStatusCalc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Case.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Case.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Get_Case_RT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Get_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Case.Requester__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Requester_From_Deal_Desk_Billing.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Case.Original_Requester__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parent_Case.Requester__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Case.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parent_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Case.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deal Desk</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Case.Approval_Signed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Type_Contract_Signed_Manually_and_Status_Cancelled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DDQ_Due_Diligence_Security_Questionnaire0_Assign_Case_Fields</name>
        <label>DDQ (Due Diligence / Security Questionnaire0 - Assign Case Fields</label>
        <locationX>1370</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Parent_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DDQParentStatusCalc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Case.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Case.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Legal_DDQ_Get_Case_RT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OwnerCalc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Case.Requester__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Requester_From_Deal_Desk_DDQ.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Case.Original_Requester__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parent_Case.Requester__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Case.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parent_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DDQStatusCalc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Case.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deal Desk</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Case.ClosedDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Type_Contract_Signed_Manually_and_Status_Cancelled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Duplicate_Case_Parent_To_Child</name>
        <label>Duplicate Case Parent To Child</label>
        <locationX>1326</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Child_Case</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parent_Case</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Case.CreatedDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Case.LastModifiedDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Case.EntitlementId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Case.SlaStartDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Case.Child_Case_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parent_Case.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Case.Created_Automatically__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>✅</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parent_Case_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Similarweb_MSA_Assign_Case_Fields</name>
        <label>Similarweb MSA  - Assign Case Fields</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Parent_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Legal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Case.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Case.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Legal_Get_Case_RT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Legal_Get_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Case.Requester__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Requester_From_Deal_Desk_Legal.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Case.Original_Requester__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parent_Case.Requester__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Case.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parent_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Child_Case.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deal Desk</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Type_Contract_Signed_Manually_and_Status_Cancelled</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Requester</name>
        <label>Found Requester?</label>
        <locationX>842</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>Error_EMail_Cannot_Get_Child_Case_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Did Not Found Requester</defaultConnectorLabel>
        <rules>
            <name>Found_Requeste_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Child_Case.Requester__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Case_Type_Contract_Signed_Manually</targetReference>
            </connector>
            <label>Found Requester =  true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_to_update_parent_status</name>
        <label>Need to update parent status?</label>
        <locationX>842</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Update_Parent_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Updated Parent Status</defaultConnectorLabel>
        <rules>
            <name>Don_t_Update_Parent_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Parent_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Signed Manually - Quote for Deal Desk Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Found_Requester</targetReference>
            </connector>
            <label>Don&apos;t Update Parent Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Case_Record_Type</name>
        <label>Parent Case Record Type</label>
        <locationX>1326</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deal_Desk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Parent_Case.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deal Desk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_Case_Type</targetReference>
            </connector>
            <label>Deal Desk</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-6133</description>
        <name>Parent_Case_Type</name>
        <label>Parent Case Type?</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Type_Contract_Signed_Manually_and_Status_Cancelled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contract_Signed_Manually_Quote_for_Deal_Desk_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Parent_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Signed Manually - Quote for Deal Desk Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Parent_Case.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Deal_Desk_Case_Status</targetReference>
            </connector>
            <label>Contract Signed Manually - Quote for Deal Desk Review</label>
        </rules>
        <rules>
            <name>Customer_Invoice_s_Collections</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Parent_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Invoice(s)/Collections</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Billing_Get_Case_RT</targetReference>
            </connector>
            <label>Customer Invoice(s)/Collections</label>
        </rules>
        <rules>
            <name>Customer_Vendor_Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Parent_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Vendor Form</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Billing_Get_Case_RT</targetReference>
            </connector>
            <label>Customer Vendor Form</label>
        </rules>
        <rules>
            <name>Extension_Temporary_Permanent_Trial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Parent_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Extension (Temporary, Permanent, Trial)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Billing_Get_Case_RT</targetReference>
            </connector>
            <label>Extension (Temporary, Permanent, Trial)</label>
        </rules>
        <rules>
            <name>Similarweb_MSA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Parent_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Similarweb MSA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Legal_Get_Case_RT</targetReference>
            </connector>
            <label>Similarweb MSA</label>
        </rules>
        <rules>
            <name>DDQ_Due_Diligence_Security_Questionnaire</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Parent_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DDQ (Due Diligence / Security Questionnaire)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Legal_DDQ_Get_Case_RT</targetReference>
            </connector>
            <label>DDQ (Due Diligence / Security Questionnaire)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_Contract_Signed_Manually_and_Status_Cancelled</name>
        <label>Type = Contract Signed Manually and Status = Cancelled?</label>
        <locationX>842</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Create_Child_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Skip_child_case_creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Parent_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Signed Manually - Quote for Deal Desk Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Parent_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Need_to_update_parent_status</targetReference>
            </connector>
            <label>Skip child case creation</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-6951 - exclude statuses
MIS-6133
mis-6203</description>
        <name>Update_Quote_Case_Type_Contract_Signed_Manually</name>
        <label>Update Quote - Case Type = Contract Signed Manually</label>
        <locationX>842</locationX>
        <locationY>2090</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Type_Contract_Signed_Manually</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Child_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Signed Manually - Quote for Deal Desk Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Child_Case.Quote__r.zqu_Quote_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Processed Directly in Zuora</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Child_Case.Quote__r.zqu_Quote_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Quote Pending Renewal Date</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Child_Case.Quote__r.zqu_Quote_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sent To Zuora</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Child_Case.Quote__r.zqu_Quote_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Voided</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Child_Case.Quote__r.zqu_Quote_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Status_Ready_for_Billing</targetReference>
            </connector>
            <label>Case Type = Contract Signed Manually</label>
        </rules>
    </decisions>
    <description>MIS-7892 - Child case skip for Contract Signed Manually
MIS-7038 - Auto Cancel DDQ Case
MIS-6951 - update quote - exclude quote statuses
mis-6788 child case description 
mis-6203 add billing case status update
mis 6435 - update Extension Name to Extension (Temporary, Permanent, Trial)
MIS 6429 - update ddq name
MIS-6133 Deal Desk Open A Case - Child Case
Trrigered From: Case - RT - After Save</description>
    <environments>Default</environments>
    <formulas>
        <name>DDQParentStatusCalc</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!Parent_Case.Security_Kit_Shared__c}) = &apos;No&apos;, &apos;Cancelled&apos;, &apos;Pending Legal&apos;)</expression>
    </formulas>
    <formulas>
        <name>DDQStatusCalc</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!Parent_Case.Security_Kit_Shared__c}) = &apos;No&apos;, &apos;Cancelled&apos;, &apos;New&apos;)</expression>
    </formulas>
    <formulas>
        <name>OwnerCalc</name>
        <dataType>String</dataType>
        <expression>IF(
   TEXT({!Parent_Case.DDQ_Type__c}) = &apos;Data Privacy/Compliance/Information Security&apos; || TEXT({!Parent_Case.DDQ_Type__c}) = &apos;Information Security&apos;, 
      {!SecurityCaseOwnerID}, 
      {!DDQ_Get_Queue.Id}
)</expression>
    </formulas>
    <formulas>
        <name>ParentStatusCalc</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!Parent_Case.Status}) = &apos;Cancelled&apos;, &apos;Cancelled&apos;, &apos;Pending Billing&apos;)</expression>
    </formulas>
    <formulas>
        <name>SecurityCaseOwnerID</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Organization.IsSandbox}, &apos;00GPw0000093MtFMAU&apos;, &apos;00GQB000005RtTl2AK&apos;)</expression>
    </formulas>
    <interviewLabel>Case - AL - Auto Create Child Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - AL - Auto Create Child Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Child_Record</name>
        <label>Create Child Record</label>
        <locationX>930</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Need_to_update_parent_status</targetReference>
        </connector>
        <inputReference>Child_Case</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Billing_Get_Case_RT</name>
        <label>Billing - Get Case RT</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Billing_Get_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Billing_Get_Queue</name>
        <label>Billing - Get Queue</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Requester_From_Deal_Desk_Billing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing Cases</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>DDQ_Get_Queue</name>
        <label>DDQ - Get Queue</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Requester_From_Deal_Desk_DDQ</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DDQ Cases</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Organization</name>
        <label>Get Organization</label>
        <locationX>1326</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Duplicate_Case_Parent_To_Child</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Requester_From_Deal_Desk_Billing</name>
        <label>Get Requester From Deal Desk - Billing</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Billing_Assign_Case_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lynn Agajan</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Requester_From_Deal_Desk_DDQ</name>
        <label>Get Requester From Deal Desk - DDQ</label>
        <locationX>1370</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DDQ_Due_Diligence_Security_Questionnaire0_Assign_Case_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lynn Agajan</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Requester_From_Deal_Desk_Legal</name>
        <label>Get Requester From Deal Desk - Legal</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Similarweb_MSA_Assign_Case_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lynn Agajan</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Legal_DDQ_Get_Case_RT</name>
        <label>Legal DDQ- Get Case RT</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DDQ_Get_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Legal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Legal_Get_Case_RT</name>
        <label>Legal - Get Case RT</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Legal_Get_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Legal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Legal_Get_Queue</name>
        <label>Legal - Get Queue</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Requester_From_Deal_Desk_Legal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Legal Cases</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent_Status</name>
        <label>Update Parent Status</label>
        <locationX>930</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Found_Requester</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Parent_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Parent_Case.Status</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>MIS-6203
update the field that the parent case is completed</description>
        <name>Update_Quote_Deal_Desk_Case_Status</name>
        <label>Update Quote Deal Desk Case Status</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Billing_Get_Case_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Parent_Case.Quote__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Deal_Desk_Case_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>zqu__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Status_Ready_for_Billing</name>
        <label>Update Quote Status = Ready for Billing</label>
        <locationX>578</locationX>
        <locationY>2198</locationY>
        <faultConnector>
            <targetReference>Error_Update_Quote_Status_Ready_for_Billing</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Child_Case.Quote__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>zqu_Quote_Status__c</field>
            <value>
                <stringValue>Ready for Billing</stringValue>
            </value>
        </inputAssignments>
        <object>zqu__Quote__c</object>
    </recordUpdates>
    <start>
        <locationX>1200</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Organization</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Email_Template_Cannot_Get_Requster_ID</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Error on flow:  Case - AL - Auto Create Child Case
Error Message: {!$Flow.FaultMessage}
record: {!Parent_Case.Id}
User Running the flow: {!$User.Id} , {!$User.Email}

There was a problem getting the child case owner from Deal Desk team 
A ticket was opened without an owner: {!Child_Case.Id}</text>
    </textTemplates>
    <textTemplates>
        <name>ErrorEmail_Case_Creation</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Error: {!$Flow.FaultMessage}

There was a problem to create the child case
RESOURCE VALUES</text>
    </textTemplates>
    <textTemplates>
        <name>Update_Quote_Status_ReadyforBilling_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Update Quote Status = Ready for Billing failed.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Case: {!Child_Case.Id}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Quote: {!Child_Case.Quote__c}&lt;/p&gt;&lt;p&gt;Running User:  {!$User.FirstName} {!$User.LastName}&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Child_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Parent_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
