force-app/main/default/flows/Chili_Piper_Meeting_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <description>MIS-754</description>
    <interviewLabel>Chili Piper Meeting Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Chili Piper Meeting Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Event</name>
        <label>Create Event</label>
        <locationX>198</locationX>
        <locationY>653</locationY>
        <inputAssignments>
            <field>Assignee_Profile_Name__c</field>
            <value>
                <elementReference>$Record.Assignee_Profile_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CP_Queue_Name__c</field>
            <value>
                <elementReference>$Record.Queue_Name_CP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Related_To__c</field>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Record.EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Sub_Type__c</field>
            <value>
                <elementReference>$Record.Sub_type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_Show_CP__c</field>
            <value>
                <elementReference>$Record.No_Show_CP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Notes__c</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RT_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response_Status_CP__c</field>
            <value>
                <elementReference>$Record.Response_Status_CP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Router_Name_CP__c</field>
            <value>
                <elementReference>$Record.Router_Name_CP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Meeting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_RT_Id</name>
        <label>Get RT Id</label>
        <locationX>179</locationX>
        <locationY>438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meeting__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Calendar_Event</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_RT_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sub_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Chili Piper</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>003</stringValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
