force-app/main/default/flows/Contact_after_save_flow_count_active_and_unqualified_contacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assign_number_of_active_contact</name>
        <label>assign number of active contact</label>
        <locationX>275</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>Numberofactivecontacrs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_active_contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_number_of_contact_equal</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>is_contact_changed_qlifed_status</name>
        <label>is contact changed qlifed status</label>
        <locationX>473</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_had_a_change</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_active_contacts</targetReference>
            </connector>
            <label>Contact had a change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_number_of_contact_equal</name>
        <label>Is number of contact equal</label>
        <locationX>275</locationX>
        <locationY>648</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Number_of_contact_need_to_change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Number_of_Contacts__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Numberofactivecontacrs</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_number_of_active_contacts_on_account</targetReference>
            </connector>
            <label>Number of contact need to change</label>
        </rules>
    </decisions>
    <description>MIS-1973 - count of the number of qualified contacts for status change</description>
    <environments>Default</environments>
    <interviewLabel>Contact after save flow - count active and unqualified contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact after save flow - count active and unqualified contacts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_active_contacts</name>
        <label>Get active contacts</label>
        <locationX>275</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_number_of_active_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_number_of_active_contacts_on_account</name>
        <label>Update number of active contacts on account</label>
        <locationX>143</locationX>
        <locationY>768</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Number_of_Contacts__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Numberofactivecontacrs</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_Contacts__c</field>
            <value>
                <elementReference>Numberofactivecontacrs</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>is_contact_changed_qlifed_status</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>g</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Numberofactivecontacrs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
