force-app/main/default/flows/contact_us_sla_smb.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Contact_Us_Forms_slack_Template_to_channel</name>
        <label>Contact Us Forms slack Template to channel</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A028VJ1KG3G</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>C04SPB0T92T</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>ContactUsSLASMBuponcreation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T038LJQCK</stringValue>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Contact_Us_Forms_slack_Template_to_user</name>
        <label>Contact Us Forms slack Template to user</label>
        <locationX>50</locationX>
        <locationY>734</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <connector>
            <targetReference>Contact_Us_Forms_slack_Template_to_channel</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A028VJ1KG3G</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <elementReference>get_task.Owner:User.Slack_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>ContactUsSLASMBuponcreation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T038LJQCK</stringValue>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Account_or_lead</name>
        <label>Account or lead</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Get_lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vartask.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_contact</targetReference>
            </connector>
            <label>has account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_slack_id</name>
        <label>Has slack id</label>
        <locationX>182</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>Contact_Us_Forms_slack_Template_to_channel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>user_has_slack_id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_task.Owner:User.Slack_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_task.Owner:User.Slack_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>no_slack</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Us_Forms_slack_Template_to_user</targetReference>
            </connector>
            <label>user has slack id</label>
        </rules>
    </decisions>
    <description>MIS-3599</description>
    <environments>Default</environments>
    <formulas>
        <name>tasklink</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Api.Partner_Server_URL_520}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_520} ))&amp;{!vartask.Id}</expression>
    </formulas>
    <interviewLabel>contact us sla smb {!$Flow.CurrentDateTime}</interviewLabel>
    <label>contact us sla smb</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_contact</name>
        <label>get contact</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_slack_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_task.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_lead</name>
        <label>Get lead</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_slack_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_task.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_task</name>
        <label>get task</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_or_lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_task</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_task</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ContactUsFormsslackTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Task Link: {!tasklink}
Email: {!vartask.Email__c}
Company: {!Get_lead.Company}
Annual Revenue Range: {!Get_lead.AnnualRevenue}
Employees: {!Get_lead.Employees_Max__c}
Industry: {!Get_lead.SW_Industry__c} 
First Name: {!Get_lead.FirstName}
Last Name: {!Get_lead.LastName}
Phone: {!Get_lead.Phone} 
Creation date: {!vartask.CreatedDate}
Comments: {!vartask.Description}</text>
    </textTemplates>
    <textTemplates>
        <name>ContactUsSLASMBuponcreation</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi,
Please note that a Contact Us form in your rep&apos;s name has been opened. Details:
Email: {!get_task.Email__c}
Subject: {!get_task.Subject}
Message: {!get_task.Description}
Created: {!get_task.CreatedDate}
Assigned to: {!get_task.Owner:User.FirstName} {!get_task.Owner:User.LastName} 
Link: {!tasklink}
Please review the contact us form and reassign if needed.</text>
    </textTemplates>
    <variables>
        <name>var_task</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vartask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
