force-app/main/default/flows/Create_New_User_When_Log_is_Approved.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_the_requester_on_Chatter_Create</name>
        <label>Alert the requester on Chatter - Create</label>
        <locationX>182</locationX>
        <locationY>900</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>New_User_Created_Text_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Alert_the_requester_on_Chatter_Role_Hierarchy_Update</name>
        <label>Alert the requester on Chatter - Role Hierarchy Update</label>
        <locationX>1986</locationX>
        <locationY>600</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>RoleHierarchy_Updated_Text_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Alert_the_requester_on_Chatter_Update</name>
        <label>Alert the requester on Chatter - Update</label>
        <locationX>1150</locationX>
        <locationY>900</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>User_Updated_Text_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_Mange_User_Log_to_Completed_Create</name>
        <label>Update Mange User Log to Completed - Create</label>
        <locationX>182</locationX>
        <locationY>792</locationY>
        <actionName>ManageUserLogUpdater</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Alert_the_requester_on_Chatter_Create</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Failed_to_Manage_Users_Log</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Approved_By</name>
            <value>
                <elementReference>Approved_By_Name_Formula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Business_Applications_Assignments</name>
            <value>
                <elementReference>Package_Licenses_Names</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Date_For_Action</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Manage_User_Log_ID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Permission_Set_Assignments</name>
            <value>
                <elementReference>Permission_Sets_Added_Names</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Public_Group_Assignments</name>
            <value>
                <elementReference>Public_Groups_Added_Names</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>User</name>
            <value>
                <elementReference>Create_New_User</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ManageUserLogUpdater</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Update_Mange_User_Log_to_Completed_Role_hierarchy_Update</name>
        <label>Update Mange User Log to Completed - Role hierarchy Update</label>
        <locationX>1986</locationX>
        <locationY>492</locationY>
        <actionName>ManageUserLogUpdater</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Alert_the_requester_on_Chatter_Role_Hierarchy_Update</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Failed_to_Manage_Users_Log</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Approved_By</name>
            <value>
                <elementReference>Approved_By_Name_Formula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Date_For_Action</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Manage_User_Log_ID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ManageUserLogUpdater</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Update_Mange_User_Log_to_Completed_Update</name>
        <label>Update Mange User Log to Completed - Update</label>
        <locationX>1150</locationX>
        <locationY>792</locationY>
        <actionName>ManageUserLogUpdater</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Alert_the_requester_on_Chatter_Update</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Failed_to_Manage_Users_Log</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Approved_By</name>
            <value>
                <elementReference>Approved_By_Name_Formula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Business_Applications_Assignments</name>
            <value>
                <elementReference>Package_Licenses_Names</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Date_For_Action</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Manage_User_Log_ID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Permission_Set_Assignments</name>
            <value>
                <elementReference>Permission_Sets_Added_Names</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Public_Group_Assignments</name>
            <value>
                <elementReference>Public_Groups_Added_Names</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>User</name>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ManageUserLogUpdater</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Clone_Permission_Set_or_Public_Groups_or_Package_Licenses</name>
        <label>Clone Permission Set or Public Groups or Package Licenses?</label>
        <locationX>182</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Update_Mange_User_Log_to_Completed_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Assign_PS_or_PG_or_PL</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Clone_Permission_Set_Assignments__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Clone_Public_Group_Memberships__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Clone_Package_Licenses__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Permission_Set_Public_Groups</targetReference>
            </connector>
            <label>Assign PS or PG or PL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Permission_Set_or_Public_Groups_or_Package_Licenses</name>
        <label>Update Permission Set or Public Groups or Package Licenses?</label>
        <locationX>1150</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Update_Mange_User_Log_to_Completed_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Assign_PS_or_PG_or_PL_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Clone_Permission_Set_Assignments__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Clone_Public_Group_Memberships__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Clone_Package_Licenses__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_and_Assign_Permission_Set_Public_Groups</targetReference>
            </connector>
            <label>Assign PS or PG or PL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Action</name>
        <label>Which Action?</label>
        <locationX>1480</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_User</targetReference>
            </connector>
            <label>Create</label>
        </rules>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_User</targetReference>
            </connector>
            <label>Update</label>
        </rules>
        <rules>
            <name>Role_Hierarchy_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Role Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Role</targetReference>
            </connector>
            <label>Role Hierarchy Update</label>
        </rules>
    </decisions>
    <description>MIS-8472 - Added Role Type field
MIS-8040 - Added AllowForecasting and TableauID fields
MIS-7804 - Added CallCenter to be copied on Create/Update
MIS-6829 - Added Role Type
2024-12-10: Add Roles and Hierarchy support</description>
    <environments>Default</environments>
    <formulas>
        <name>Alias_Formula</name>
        <dataType>String</dataType>
        <expression>lower(Left({!$Record.First_Name__c},1) &amp;  left({!$Record.Last_Name__c},4))</expression>
    </formulas>
    <formulas>
        <name>Approved_By_Name_Formula</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} + &apos; &apos; + {!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>Community_Nickname_Formula</name>
        <dataType>String</dataType>
        <expression>lower({!$Record.First_Name__c}+&apos;.&apos;+{!$Record.Last_Name__c})</expression>
    </formulas>
    <formulas>
        <name>Created_or_updated_UserID</name>
        <dataType>String</dataType>
        <expression>{!Create_New_User}</expression>
    </formulas>
    <interviewLabel>Create New User When Log is Approved {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New User When Log is Approved</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_User</name>
        <label>Create New User</label>
        <locationX>182</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Clone_Permission_Set_or_Public_Groups_or_Package_Licenses</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Failed_to_Manage_Users_Log</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Alias</field>
            <value>
                <elementReference>Alias_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallCenterId</field>
            <value>
                <elementReference>$Record.Source_User_to_Duplicate__r.CallCenterId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Manager__c</field>
            <value>
                <elementReference>$Record.Channel_Manager_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommunityNickname</field>
            <value>
                <elementReference>Community_Nickname_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CompanyName</field>
            <value>
                <elementReference>$Record.Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CountryCode</field>
            <value>
                <elementReference>$Record.Country_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department</field>
            <value>
                <elementReference>$Record.Department__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division</field>
            <value>
                <elementReference>$Record.Division__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailEncodingKey</field>
            <value>
                <elementReference>$Record.Source_User_to_Duplicate__r.EmailEncodingKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee_Hire_Date__c</field>
            <value>
                <elementReference>$Record.Employee_Hire_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ForecastEnabled</field>
            <value>
                <elementReference>$Record.Source_User_to_Duplicate__r.ForecastEnabled</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gong__c</field>
            <value>
                <elementReference>$Record.Chorus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <elementReference>$Record.Source_User_to_Duplicate__r.LanguageLocaleKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Level_11__c</field>
            <value>
                <elementReference>$Record.Level_11__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Linkedin_Sales_Navigator_LISN__c</field>
            <value>
                <elementReference>$Record.Linkedin_Sales_Navigator_LISN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <elementReference>$Record.Source_User_to_Duplicate__r.LocaleSidKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ManagerId</field>
            <value>
                <elementReference>$Record.Manager_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <elementReference>$Record.Source_User_to_Duplicate__r.ProfileId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role_Type__c</field>
            <value>
                <elementReference>$Record.Role_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salesloft__c</field>
            <value>
                <elementReference>$Record.SalesLoft__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Division__c</field>
            <value>
                <elementReference>$Record.Sub_Divison__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TableauID__c</field>
            <value>
                <stringValue>salesforce@similarweb.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <elementReference>$Record.Time_Zone_SidKey__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>$Record.Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserPermissionsInteractionUser</field>
            <value>
                <elementReference>$Record.Source_User_to_Duplicate__r.UserPermissionsInteractionUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserPermissionsMarketingUser</field>
            <value>
                <elementReference>$Record.Source_User_to_Duplicate__r.UserPermissionsMarketingUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserRoleId</field>
            <value>
                <elementReference>$Record.Source_User_to_Duplicate__r.UserRoleId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Business_Unit__c</field>
            <value>
                <elementReference>$Record.User_Business_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Existing_Role</name>
        <label>Update Existing Role</label>
        <locationX>1986</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Update_Mange_User_Log_to_Completed_Role_hierarchy_Update</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Failed_to_Manage_Users_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Role_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ParentRoleId</field>
            <value>
                <elementReference>$Record.Parent_Role_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>UserRole</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_User</name>
        <label>Update Existing User</label>
        <locationX>1150</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Update_Permission_Set_or_Public_Groups_or_Package_Licenses</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Failed_to_Manage_Users_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CallCenterId</field>
            <value>
                <elementReference>$Record.Source_User_to_Duplicate__r.CallCenterId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Manager__c</field>
            <value>
                <elementReference>$Record.Channel_Manager_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department</field>
            <value>
                <elementReference>$Record.Department__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division</field>
            <value>
                <elementReference>$Record.Division__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ForecastEnabled</field>
            <value>
                <elementReference>$Record.Source_User_to_Duplicate__r.ForecastEnabled</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Level_11__c</field>
            <value>
                <elementReference>$Record.Level_11__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ManagerId</field>
            <value>
                <elementReference>$Record.Manager_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <elementReference>$Record.Source_User_to_Duplicate__r.ProfileId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role_Type__c</field>
            <value>
                <elementReference>$Record.Source_User_to_Duplicate__r.Role_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Division__c</field>
            <value>
                <elementReference>$Record.Sub_Divison__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TableauID__c</field>
            <value>
                <stringValue>salesforce@similarweb.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>$Record.Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserPermissionsMarketingUser</field>
            <value>
                <elementReference>$Record.Source_User_to_Duplicate__r.UserPermissionsMarketingUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserRoleId</field>
            <value>
                <elementReference>$Record.Source_User_to_Duplicate__r.UserRoleId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Business_Unit__c</field>
            <value>
                <elementReference>$Record.User_Business_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Failed_to_Manage_Users_Log</name>
        <label>Update Failed to Manage Users Log</label>
        <locationX>1458</locationX>
        <locationY>900</locationY>
        <inputAssignments>
            <field>Fault_Massage__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>507</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 OR 2 OR 3) AND 4 AND 5</filterLogic>
        <filters>
            <field>Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Create</stringValue>
            </value>
        </filters>
        <filters>
            <field>Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </filters>
        <filters>
            <field>Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Role Update</stringValue>
            </value>
        </filters>
        <filters>
            <field>Approved__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Manage_Users_Log__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X1_Minute_After</name>
            <connector>
                <targetReference>Which_Action</targetReference>
            </connector>
            <label>1 Minute After</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Based on the User to Duplicate From</description>
        <name>Assign_Permission_Set_Public_Groups</name>
        <label>Assign Permission Set &amp; Public Groups</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Update_Mange_User_Log_to_Completed_Create</targetReference>
        </connector>
        <flowName>Assign_Permission_Set_based_on_another_User</flowName>
        <inputAssignments>
            <name>Clone_Package_Licenses_Checkbox</name>
            <value>
                <elementReference>$Record.Clone_Package_Licenses__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Clone_Permission_Sets_Checkbox</name>
            <value>
                <elementReference>$Record.Clone_Permission_Set_Assignments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Clone_Public_Groups_Checkbox</name>
            <value>
                <elementReference>$Record.Clone_Public_Group_Memberships__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>New_User_Id</name>
            <value>
                <elementReference>Create_New_User</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>User_Id_To_Clone_From</name>
            <value>
                <elementReference>$Record.Source_User_to_Duplicate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_Action_Selected</name>
            <value>
                <stringValue>Create</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Permission_Sets_Added_Names</assignToReference>
            <name>Names_of_Permission_Sets_Added</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Package_Licenses_Names</assignToReference>
            <name>Package_Licenses_Names</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Public_Groups_Added_Names</assignToReference>
            <name>Public_Groups_Membership_Names</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Based on the User to Duplicate From</description>
        <name>Remove_and_Assign_Permission_Set_Public_Groups</name>
        <label>Remove and Assign Permission Set &amp; Public Groups</label>
        <locationX>1018</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Update_Mange_User_Log_to_Completed_Update</targetReference>
        </connector>
        <flowName>Assign_Permission_Set_based_on_another_User</flowName>
        <inputAssignments>
            <name>Clone_Package_Licenses_Checkbox</name>
            <value>
                <elementReference>$Record.Clone_Package_Licenses__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Clone_Permission_Sets_Checkbox</name>
            <value>
                <elementReference>$Record.Clone_Permission_Set_Assignments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Clone_Public_Groups_Checkbox</name>
            <value>
                <elementReference>$Record.Clone_Public_Group_Memberships__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>New_User_Id</name>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>User_Id_To_Clone_From</name>
            <value>
                <elementReference>$Record.Source_User_to_Duplicate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_Action_Selected</name>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Permission_Sets_Added_Names</assignToReference>
            <name>Names_of_Permission_Sets_Added</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Package_Licenses_Names</assignToReference>
            <name>Package_Licenses_Names</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Public_Groups_Added_Names</assignToReference>
            <name>Public_Groups_Membership_Names</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>New_User_Created_Text_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!$Record.CreatedById}] Your request to create a new User for {!$Record.First_Name__c} {!$Record.Last_Name__c} is approved by {!$Record.LastModifiedBy.FirstName} {!$Record.LastModifiedBy.LastName} and the User created Successfully.</text>
    </textTemplates>
    <textTemplates>
        <name>RoleHierarchy_Updated_Text_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;@[{!$Record.CreatedById}] Your request to update the Role Hierarchy for the Role - {!$Record.Role_Name__c} is approved by {!$Record.LastModifiedBy.FirstName} {!$Record.LastModifiedBy.LastName} and the Role was updated Successfully.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>User_Updated_Text_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;@[{!$Record.CreatedById}] Your request to update the User for  {!$Record.User__r.FirstName} {!$Record.User__r.LastName} is approved by {!$Record.LastModifiedBy.FirstName} {!$Record.LastModifiedBy.LastName} and the User updated Successfully.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>Package_Licenses_Names</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Permission_Sets_Added_Names</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Public_Groups_Added_Names</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
