force-app/main/default/flows/Event_Record_Triggered_Flow_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>MIS-5378</description>
        <name>Send_Appcues_Email</name>
        <label>Send Appcues Email</label>
        <locationX>831</locationX>
        <locationY>1787</locationY>
        <actionName>Event.Appcues_Event_Created</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Relevant_for_Last_Activity_by_GTM</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Event.Appcues_Event_Created</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_if_Lead_or_contact</name>
        <label>Check if Lead or contact</label>
        <locationX>765</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Update_contact_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>task_related_to_lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_lead_status</targetReference>
            </connector>
            <label>task related to lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Related_To_Lead_or_Contact</name>
        <label>Related To Lead or Contact?</label>
        <locationX>710</locationX>
        <locationY>3503</locationY>
        <defaultConnector>
            <targetReference>Update_Last_CP_status_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Related to Contact</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Related_to_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Last_CP_status_Lead</targetReference>
            </connector>
            <label>Related to Lead</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-5675 - Added ISNEW
MIS-3396</description>
        <name>Event_was_created_by_Qualified</name>
        <label>Event was created by Qualified</label>
        <locationX>963</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Rule_ECA_Event_Created_by_Appcues</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_replied</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Meeting Booked via Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Conversation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MIR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.CommunityNickname</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified.Integration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Lead_or_contact</targetReference>
            </connector>
            <label>Update replied</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_CP_Event</name>
        <label>Is CP Event?</label>
        <locationX>963</locationX>
        <locationY>3287</locationY>
        <defaultConnector>
            <targetReference>NEW_RULE_HERE_PLEASE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_CP_Event</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0056700000Av2XiAAJ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Queue_Name_CP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_CP_Event</targetReference>
            </connector>
            <label>Yes, Is CP Event</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_CP_Event</name>
        <label>New CP Event?</label>
        <locationX>644</locationX>
        <locationY>3395</locationY>
        <defaultConnector>
            <targetReference>NEW_RULE_HERE_PLEASE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_New_CP_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Related_To_Lead_or_Contact</targetReference>
            </connector>
            <label>Yes, New CP Event</label>
        </rules>
        <rules>
            <name>CP_Status_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Response_Status_CP__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Response_Status_CP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Related_To_Lead_or_Contact</targetReference>
            </connector>
            <label>CP Status changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>NEW_RULE_HERE_PLEASE</name>
        <label>NEW RULE HERE PLEASE</label>
        <locationX>963</locationX>
        <locationY>3971</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RULE_PLACEHOLDER</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>works123</stringValue>
                </rightValue>
            </conditions>
            <label>RULE PLACEHOLDER</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_To_Lead_or_Contact</name>
        <label>Related To Lead or Contact?</label>
        <locationX>182</locationX>
        <locationY>3503</locationY>
        <defaultConnector>
            <targetReference>Update_Last_CP_fields_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Related to Contact</defaultConnectorLabel>
        <rules>
            <name>Related_to_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Last_CP_fields_Lead</targetReference>
            </connector>
            <label>Related to Lead</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-5810 - excluded internal Account from automation
MIS-5675</description>
        <name>Relevant_for_Last_Activity_by_GTM</name>
        <label>Relevant for Last Activity by GTM?</label>
        <locationX>963</locationX>
        <locationY>1979</locationY>
        <defaultConnector>
            <targetReference>Relevant_for_Last_Activity_by_MIR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Relevant_for_GTM</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5 AND NOT(6) AND (NOT(7) AND (NOT(8) AND 9 AND 10)) AND 11 AND 12 AND 13 AND 14</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActivityDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActivityDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SW MIR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SW Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Username</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>appcues@similarweb.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Username</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>qualified.integration@similarweb.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Username</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>qualified.integration@similarweb.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SW MIR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SW Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0010O0000272rRK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0010O0000272rRKQAY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SW Read Only (View all GTM Data)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SW Read Only (View all GTM Data)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_to_Last_Activity_by_GTM_SubFlow</targetReference>
            </connector>
            <label>Relevant for GTM</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-6229</description>
        <name>Relevant_for_Last_Activity_by_MIR</name>
        <label>Relevant for Last Activity by MIR?</label>
        <locationX>963</locationX>
        <locationY>2279</locationY>
        <defaultConnector>
            <targetReference>Rule_RBIS_Relevant_for_BI_Intent_Score_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Relevant_for_MIR</name>
            <conditionLogic>(1 OR 2) AND 3 AND (4 OR 5) AND NOT(6) AND 7 AND 8</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActivityDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActivityDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SW MIR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SW MIR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Username</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>appcues@similarweb.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0010O0000272rRK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0010O0000272rRKQAY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_to_Last_Activity_by_MIR_SubFlow</targetReference>
            </connector>
            <label>Relevant for MIR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Relevant_for_LastActivityDate</name>
        <label>Relevant for LastActivityDate?</label>
        <locationX>963</locationX>
        <locationY>2987</locationY>
        <defaultConnector>
            <targetReference>Is_CP_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Relevant_for_LastActivityDate</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StartDateTime</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EndDateTime</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActivityDateTime</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActivityDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_lead_s_LastActivityDate</targetReference>
            </connector>
            <label>Yes, Relevant for LastActivityDate</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-5675 - Added ISNEW
MIS-4429 PB to Flow migration</description>
        <name>Rule_CPMC_CP_Meeting_Created_Lead</name>
        <label>*Rule (CPMC)* - CP Meeting Created - Lead</label>
        <locationX>963</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Rule_CPMCC_CP_Meeting_Created_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE_CP_Meeting_Created_Lead</name>
            <conditionLogic>(1 OR 4) AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0056700000Av2XiAAJ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Queue_Name_CP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Status_to_Replied</targetReference>
            </connector>
            <label>TRUE - CP Meeting Created - Lead</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-4429 PB to Flow migration</description>
        <name>Rule_CPMCC_CP_Meeting_Created_Contact</name>
        <label>*Rule (CPMCC)* - CP Meeting Created - Contact</label>
        <locationX>1557</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Event_was_created_by_Qualified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE_Rule_CPMCC</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0056700000Av2XiAAJ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Queue_Name_CP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Status_to_Replied</targetReference>
            </connector>
            <label>TRUE - *Rule (CPMCC)*</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-5675 - Added ISNEW
MIS-5378</description>
        <name>Rule_ECA_Event_Created_by_Appcues</name>
        <label>*Rule (ECA)* - Event Created by Appcues?</label>
        <locationX>963</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Relevant_for_Last_Activity_by_GTM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ECA_Created_by_Appcues</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reached - Market Intelligence Hook Users</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appcues Goal Reached - MI Hook Completion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Username</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>appcues@similarweb.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>ECA - Created by Appcues</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-6396</description>
        <name>Rule_RBIS_Relevant_for_BI_Intent_Score_Update</name>
        <label>*Rule (RBIS)* - Relevant for BI Intent Score Update?</label>
        <locationX>963</locationX>
        <locationY>2579</locationY>
        <defaultConnector>
            <targetReference>Relevant_for_LastActivityDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RBIS_Lead_Relevant_for_Intent_Update</name>
            <conditionLogic>1 AND (2 OR (3 AND NOT(4))) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Username</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>chilipiper.integration@similarweb.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Username</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>qualified.integration@similarweb.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Username</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>qualified.integration@similarweb.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RBIS_Lead_Update_First_MQL_Date</targetReference>
            </connector>
            <label>RBIS - Lead Relevant for Intent Update</label>
        </rules>
        <rules>
            <name>RBIS_Contact_Relevant_for_Intent_Update</name>
            <conditionLogic>1 AND (2 OR (3 AND NOT(4))) AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Username</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>chilipiper.integration@similarweb.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Username</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>qualified.integration@similarweb.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Username</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>qualified.integration@similarweb.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Number_Of_Open_Meetings__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RBIS_Contact_Update_First_MQL_Date</targetReference>
            </connector>
            <label>RBIS - Contact Relevant for Intent Update</label>
        </rules>
    </decisions>
    <description>MIS-8419 - Updated conditions to identify CP events
MIS-7947 - CP fields sync with Lead and Contact, Added Last CP Start Date
MIS-7636 - Added LastActivityDate handling
MIS-7201
MIS-6473 - Update First MQL Date on Handraise
MIS-6396 - Update BI Intent Score
MIS-6229 - Added Last Activity by MIR
MIS-5810 - excluded internal Account from last actiivity by GTM automation
MIS-5675 - Added Last Activity by GTM SubFlow
MIS-5378 - Appcues Update
MIS-4429 - PB to Flow migration</description>
    <environments>Default</environments>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Event - Record Triggered Flow - After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event - Record Triggered Flow - After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>MIS-5378</description>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>831</locationX>
        <locationY>1571</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Event_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>MIS-6473</description>
        <name>RBIS_Contact_Update_First_MQL_Date</name>
        <label>RBIS - Contact Update First MQL Date</label>
        <locationX>963</locationX>
        <locationY>2687</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>RBIS_Update_BI_Data</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>First_MQL_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SW_Fit_Score__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>A</stringValue>
            </value>
        </filters>
        <filters>
            <field>SW_Fit_Score__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>B</stringValue>
            </value>
        </filters>
        <filters>
            <field>SW_Fit_Score__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>C</stringValue>
            </value>
        </filters>
        <filters>
            <field>SW_Fit_Score__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>D</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>First_MQL_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>MIS-6473</description>
        <name>RBIS_Lead_Update_First_MQL_Date</name>
        <label>RBIS - Lead Update First MQL Date</label>
        <locationX>699</locationX>
        <locationY>2687</locationY>
        <connector>
            <targetReference>RBIS_Update_BI_Data</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>First_MQL_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SW_Fit_Score__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>A</stringValue>
            </value>
        </filters>
        <filters>
            <field>SW_Fit_Score__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>B</stringValue>
            </value>
        </filters>
        <filters>
            <field>SW_Fit_Score__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>C</stringValue>
            </value>
        </filters>
        <filters>
            <field>SW_Fit_Score__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>D</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>First_MQL_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <description>MIS-6396</description>
        <name>RBIS_Update_BI_Data</name>
        <label>RBIS - Update BI Data</label>
        <locationX>699</locationX>
        <locationY>2795</locationY>
        <connector>
            <targetReference>Relevant_for_LastActivityDate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Record_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Intent_Score__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Intent_Score__c</field>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </inputAssignments>
        <object>BI_Data__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_contact_status</name>
        <label>Update contact status</label>
        <locationX>897</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Rule_ECA_Event_Created_by_Appcues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Replied</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>MIS-4429 PB to Flow migration</description>
        <name>Update_Contact_Status_to_Replied</name>
        <label>Update Contact Status to Replied</label>
        <locationX>1161</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_Event_SubType_Chili_Piper_for_Contact</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Event_was_created_by_Qualified</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Replied</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>MIS-5378</description>
        <name>Update_Event_Owner</name>
        <label>Update Event Owner</label>
        <locationX>831</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>Send_Appcues_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>Manager_Email__c</field>
            <value>
                <elementReference>Get_Contact.Account.Owner.Manager.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Contact.Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>MIS-4429 PB to Flow migration</description>
        <name>Update_Event_SubType_Chili_Piper_for_Contact</name>
        <label>Update Event SubType = Chili Piper for Contact</label>
        <locationX>1161</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Event_was_created_by_Qualified</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Event_was_created_by_Qualified</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Sub_type__c</field>
            <value>
                <stringValue>Chili Piper</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>MIS-4429 PB to Flow migration</description>
        <name>Update_Event_SubType_Chili_Piper_for_Lead</name>
        <label>Update Event SubType = Chili Piper for Lead</label>
        <locationX>369</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Event_was_created_by_Qualified</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Event_was_created_by_Qualified</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Sub_type__c</field>
            <value>
                <stringValue>Chili Piper</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Last_CP_fields_Contact</name>
        <label>Update Last CP fields (Contact)</label>
        <locationX>314</locationX>
        <locationY>3611</locationY>
        <connector>
            <targetReference>NEW_RULE_HERE_PLEASE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_CP_Created_Date__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_CP_Event_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_CP_Owner_Assigned__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_CP_Queue_Name__c</field>
            <value>
                <elementReference>$Record.Queue_Name_CP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_CP_Response_Status__c</field>
            <value>
                <elementReference>$Record.Response_Status_CP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_CP_Router_Name_CP__c</field>
            <value>
                <elementReference>$Record.Router_Name_CP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_CP_Start_Date__c</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_CP_Subject__c</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Last_CP_fields_Lead</name>
        <label>Update Last CP fields (Lead)</label>
        <locationX>50</locationX>
        <locationY>3611</locationY>
        <connector>
            <targetReference>NEW_RULE_HERE_PLEASE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_CP_Created_Date__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_CP_Event_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_CP_Owner_Assigned__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_CP_Queue_Name__c</field>
            <value>
                <elementReference>$Record.Queue_Name_CP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_CP_Response_Status__c</field>
            <value>
                <elementReference>$Record.Response_Status_CP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_CP_Router_Name_CP__c</field>
            <value>
                <elementReference>$Record.Router_Name_CP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_CP_Start_Date__c</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_CP_Subject__c</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Last_CP_status_Contact</name>
        <label>Update Last CP status (Contact)</label>
        <locationX>842</locationX>
        <locationY>3611</locationY>
        <connector>
            <targetReference>NEW_RULE_HERE_PLEASE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Last_CP_Event_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_CP_Response_Status__c</field>
            <value>
                <elementReference>$Record.Response_Status_CP__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Last_CP_status_Lead</name>
        <label>Update Last CP status (Lead)</label>
        <locationX>578</locationX>
        <locationY>3611</locationY>
        <connector>
            <targetReference>NEW_RULE_HERE_PLEASE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Last_CP_Event_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_CP_Response_Status__c</field>
            <value>
                <elementReference>$Record.Response_Status_CP__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_lead_s_LastActivityDate</name>
        <label>Update lead&apos;s LastActivityDate</label>
        <locationX>831</locationX>
        <locationY>3095</locationY>
        <connector>
            <targetReference>Is_CP_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LastActivityDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_lead_status</name>
        <label>Update lead status</label>
        <locationX>633</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Rule_ECA_Event_Created_by_Appcues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Replied</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <description>MIS-4429 PB to Flow migration</description>
        <name>Update_Lead_Status_to_Replied</name>
        <label>Update Lead Status to Replied</label>
        <locationX>369</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Event_SubType_Chili_Piper_for_Lead</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Event_was_created_by_Qualified</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Replied</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>837</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Rule_CPMC_CP_Meeting_Created_Lead</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>00Q</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>003</stringValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>MIS-5675</description>
        <name>Send_to_Last_Activity_by_GTM_SubFlow</name>
        <label>Send to Last Activity by GTM SubFlow</label>
        <locationX>831</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>Relevant_for_Last_Activity_by_MIR</targetReference>
        </connector>
        <flowName>Account_Contact_Lead_Last_Activity_by_GTM_SubFlow</flowName>
        <inputAssignments>
            <name>IN_AccountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IN_Last_Activity_Date_by_GTM</name>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IN_WhoId</name>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>MIS-6229</description>
        <name>Send_to_Last_Activity_by_MIR_SubFlow</name>
        <label>Send to Last Activity by MIR SubFlow</label>
        <locationX>831</locationX>
        <locationY>2387</locationY>
        <connector>
            <targetReference>Rule_RBIS_Relevant_for_BI_Intent_Score_Update</targetReference>
        </connector>
        <flowName>Account_Contact_Lead_Last_Activity_by_GTM_SubFlow</flowName>
        <inputAssignments>
            <name>IN_AccountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IN_Last_Activity_Date_by_MIR</name>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IN_WhoId</name>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
