force-app/main/default/flows/FeedComment_AL_New_Comment_On_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <description>MIS-6888</description>
        <name>Update_Case_Status_Resubmitted</name>
        <label>Update Case Status Resubmittedl</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Status_Resubmitted</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>JSON_Collection.caseItem.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Requester</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>JSON_Collection.caseItem.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>JSON_Collection.feedComment.CreatedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>JSON_Collection.caseItem.Requester__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>JSON_Collection.feedComment.CreatedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>JSON_Collection.caseItem.Original_Requester__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Legal_Case_Resubmitted</targetReference>
            </connector>
            <label>Case Status Resubmitted</label>
        </rules>
        <rules>
            <name>Pending_Requester</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JSON_Collection.feedComment.CreatedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>JSON_Collection.caseItem.Requester__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>JSON_Collection.caseItem.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Requester</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Status_In_Progress</targetReference>
            </connector>
            <label>Pending Requester</label>
        </rules>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JSON_Collection.feedComment.CreatedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>JSON_Collection.caseItem.Requester__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>JSON_Collection.caseItem.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>JSON_Collection.caseItem.Do_Not_Reopen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>JSON_Collection.caseItem.RecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Deal Desk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Status_reopened</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
    </decisions>
    <description>For Comments on Cases feed posts ONLY
MIS-6888 change legal status to resubmitted
MIS-6807 - Do No Reopen on completed + exclude deal desk

MIS-6807 - Do No Reopen on completed + exclude deal desk</description>
    <environments>Default</environments>
    <interviewLabel>FeedComment - AL - New Comment On Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FeedComment - AL - New Comment On Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Case_Status_In_Progress</name>
        <label>Update Case Status= In Progress</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>JSON_Collection.caseItem.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Status_reopened</name>
        <label>Update Case Status= reopened</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>JSON_Collection.caseItem.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Reopened</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>MIS-6888</description>
        <name>Update_Legal_Case_Resubmitted</name>
        <label>Update Legal Case Resubmitted</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>JSON_Collection.caseItem.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Resubmitted</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Case_Status_Resubmitted</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Case_Fields</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>FeedComment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FeedComment</objectType>
    </variables>
    <variables>
        <name>JSON_Collection</name>
        <apexClass>FlowParamsObj</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
