force-app/main/default/flows/Flow_Log_Schedule_To_Delete_Records_Files.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <description>MIS-4816 - changed deletion to age &gt;= 120</description>
    <environments>Default</environments>
    <formulas>
        <description>In order to find the relevant file related to the record</description>
        <name>Add_txt_to_Record_Name</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} + &quot;.txt&quot;</expression>
    </formulas>
    <interviewLabel>Flow Log - Schedule To Delete Records &amp; Files {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Log - Schedule To Delete Records &amp; Files</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Flow_Log_Record</name>
        <label>Delete Flow Log Record</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <connector>
            <targetReference>Delete_the_File</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_the_File</name>
        <label>Delete the File</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Content_Document_Link.ContentDocumentId</elementReference>
            </value>
        </filters>
        <object>ContentDocument</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Content_Document_Link</name>
        <label>Get Content Document Link</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Flow_Log_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LinkedEntityId</queriedFields>
        <queriedFields>ContentDocumentId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Content_Document_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Age_in_Days__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>120.0</numberValue>
            </value>
        </filters>
        <object>flowlog__Flow_Log__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-06-12</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
