force-app/main/default/flows/Foreign_currency_conversion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Is_Renewal</name>
        <label>Is Renewal?</label>
        <locationX>633</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Original_Renewal_Amount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Renewal_0</name>
        <label>Is Renewal?</label>
        <locationX>1854</locationX>
        <locationY>663</locationY>
        <defaultConnector>
            <targetReference>Update_NonRenewalOpportunity_2_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Renewal_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_RenewalOpportunity_2_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Renewal_0_0</name>
        <label>Is Renewal?</label>
        <locationX>1554</locationX>
        <locationY>845</locationY>
        <defaultConnector>
            <targetReference>Update_NonRenewalOpportunity_2_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Renewal_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_RenewalOpportunity_2_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_an_exchange_rate</name>
        <label>Is there an exchange rate?</label>
        <locationX>831</locationX>
        <locationY>884</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Exchange_Rate.USD_Exchange_Rate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Renewal</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Past_Daily_Exchange_Rate_Found</name>
        <label>Past Daily Exchange Rate Found</label>
        <locationX>1571</locationX>
        <locationY>568</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Past_Daily_Exchange_Rate_Found_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Past_Daily_Exchange_Rate.Rate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Renewal_0</targetReference>
            </connector>
            <label>Past Daily Exchange Rate Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Today_Daily_Exchange_Rate_Found</name>
        <label>Today Daily Exchange Rate Found</label>
        <locationX>1288</locationX>
        <locationY>724</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Today_Daily_Exchange_Rate_Found_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Today_Daily_Exchange_Rate.Rate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Renewal_0_0</targetReference>
            </connector>
            <label>Today Daily Exchange Rate Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_was_changed</name>
        <label>What was changed?</label>
        <locationX>948</locationX>
        <locationY>405</locationY>
        <defaultConnectorLabel>The process should not run</defaultConnectorLabel>
        <rules>
            <name>Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Exchange_Rate</targetReference>
            </connector>
            <label>Stage (not Closed Won/ClosedLost)</label>
        </rules>
        <rules>
            <name>Current_Profile_is_SalesOps_and_Local_Cycle_Price_Is_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SalesOps</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cycle_Price_Local__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Cycle_Price_Local__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CloseDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CloseDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_2</targetReference>
            </connector>
            <label>Current Profile is SalesOps and Local Cycle Price Is Changed</label>
        </rules>
        <rules>
            <name>Profile_is_SalesOps_Closed_Date_Is_changed_to_past_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SalesOps</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CloseDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CloseDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CloseDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Past_Daily_Exchange_Rate</targetReference>
            </connector>
            <label>Profile is SalesOps &amp; Closed Date Is changed to past date</label>
        </rules>
        <rules>
            <name>Profile_is_SalesOps_Cycle_Price_is_changed_Closed_Date_Is_changed_to_future_or_t</name>
            <conditionLogic>1 AND (2 OR 4) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SalesOps</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CloseDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CloseDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CloseDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cycle_Price_Local__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Cycle_Price_Local__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Today_Daily_Exchange_Rate</targetReference>
            </connector>
            <label>Profile is SalesOps, Cycle Price is changed &amp; Closed Date Is changed to future or today</label>
        </rules>
    </decisions>
    <description>MIS-6795
+ Additional logic for SalesOps with Daily Exchange Rate;
+ Excluded Closed Lost;
+ Adjusted ORA calculation depending on Currency change
+ Added ROUND on Cycle Price &amp; Original Renewal Amount calculation
Opportunity update:
1.Stage is changed (not Closed Won)
-- Cycle Price is calculated, Exchange Rate on Opp is updated (as of today)
2.Stage = Closed Won, Current profile = SW SalesOps Extended, Cycle Price (local) is changed.
--Cycle Price is calculated (using the existing Exchange Rate on Opp)
3.‘Original Renewal Amount’ is updated for the ‘Renewal’ Opps.</description>
    <environments>Default</environments>
    <formulas>
        <name>Cycle_Price_old_Exchange_USD</name>
        <dataType>Number</dataType>
        <expression>ROUND({!$Record.Cycle_Price_Local__c}*{!$Record.Exchange_Rate__c}, 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>formula_ARRPastDate</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!$Record.Overwrite_ARR__c}),
IF(ISPICKVAL( {!$Record.Cycle__c} , &quot;One-Time&quot;),0,
IF(ISPICKVAL( {!$Record.Cycle__c} , &quot;Monthly&quot;),0,
IF(ISPICKVAL(  {!$Record.Cycle__c} , &quot;Annually&quot;), {!formula_CyclePricePastDailyExchangeRate},
{!$Record.Amount} *12))),{!$Record.Overwrite_ARR__c}
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>formula_ARRToday</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!$Record.Overwrite_ARR__c}),
IF(ISPICKVAL( {!$Record.Cycle__c} , &quot;One-Time&quot;),0,
IF(ISPICKVAL( {!$Record.Cycle__c} , &quot;Monthly&quot;),0,
IF(ISPICKVAL(  {!$Record.Cycle__c} , &quot;Annually&quot;), {!formula_CyclePriceTodayDailyExchangeRate},
{!$Record.Amount} *12))),{!$Record.Overwrite_ARR__c}
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>formula_CyclePricePastDailyExchangeRate</name>
        <dataType>Number</dataType>
        <expression>ROUND({!Get_Past_Daily_Exchange_Rate.Rate__c} * {!$Record.Cycle_Price_Local__c}, 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>formula_CyclePriceTodayDailyExchangeRate</name>
        <dataType>Number</dataType>
        <expression>ROUND({!Get_Today_Daily_Exchange_Rate.Rate__c} * {!$Record.Cycle_Price_Local__c}, 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>formula_ORAPastDate</name>
        <dataType>Number</dataType>
        <expression>IF(
TEXT({!$Record.Currency__c}) != TEXT({!$Record__Prior.Currency__c}),

ROUND({!$Record.Original_Renewal_Amount__c}/{!Get_Past_Daily_Exchange_Rate.Rate__c}*{!Get_Past_Daily_Exchange_Rate.Rate__c}, 0),

ROUND({!$Record.Original_Renewal_Amount__c}/{!$Record.Exchange_Rate__c}*{!Get_Past_Daily_Exchange_Rate.Rate__c}, 0)

)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_ORAToday</name>
        <dataType>Number</dataType>
        <expression>IF(
TEXT({!$Record.Currency__c}) != TEXT({!$Record__Prior.Currency__c}),

ROUND({!$Record.Original_Renewal_Amount__c}/{!Get_Today_Daily_Exchange_Rate.Rate__c}*{!Get_Today_Daily_Exchange_Rate.Rate__c}, 0),

ROUND({!$Record.Original_Renewal_Amount__c}/{!$Record.Exchange_Rate__c}*{!Get_Today_Daily_Exchange_Rate.Rate__c}, 0)

)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fr_ARR</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!$Record.Overwrite_ARR__c}),
IF(ISPICKVAL( {!$Record.Cycle__c} , &quot;One-Time&quot;),0,
IF(ISPICKVAL( {!$Record.Cycle__c} , &quot;Monthly&quot;),0,
IF(ISPICKVAL(  {!$Record.Cycle__c} , &quot;Annually&quot;), {!Updated_Cycle_Price_USD},
{!$Record.Amount} *12))),{!$Record.Overwrite_ARR__c}
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>We&apos;re converting the &apos;Original Renewal Amount&apos; back to local currency (from USD) and then we&apos;re converting it into USD using today&apos;s exchange rate.</description>
        <name>Original_renewal_amount_formula</name>
        <dataType>Currency</dataType>
        <expression>IF(
TEXT({!$Record.Currency__c}) != TEXT({!$Record__Prior.Currency__c}),

ROUND({!$Record.Original_Renewal_Amount__c}/{!Get_Exchange_Rate.USD_Exchange_Rate__c}*{!Get_Exchange_Rate.USD_Exchange_Rate__c}, 0),

ROUND({!$Record.Original_Renewal_Amount__c}/{!$Record.Exchange_Rate__c}*{!Get_Exchange_Rate.USD_Exchange_Rate__c}, 0)

)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>Updated_Cycle_Price_USD</name>
        <dataType>Number</dataType>
        <expression>ROUND(
IF( ISBLANK( {!Get_Exchange_Rate.USD_Exchange_Rate__c}) , 
{!$Record.Exchange_Rate__c}, 
{!Get_Exchange_Rate.USD_Exchange_Rate__c})
* {!$Record.Cycle_Price_Local__c}, 0)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Foreign currency conversion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Foreign currency conversion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Exchange_Rate</name>
        <label>Get Exchange Rate</label>
        <locationX>840</locationX>
        <locationY>685</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_an_exchange_rate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Currency__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Netsuite_Daily_Exchange_Rate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Past_Daily_Exchange_Rate</name>
        <label>Get Past Daily Exchange Rate</label>
        <locationX>1316</locationX>
        <locationY>508</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Past_Daily_Exchange_Rate_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BOI_currency_update_date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Currency_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Currency__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Converted_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Daily_Exchange_Rate__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Rate__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Today_Daily_Exchange_Rate</name>
        <label>Get Today Daily Exchange Rate</label>
        <locationX>1105</locationX>
        <locationY>634</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Today_Daily_Exchange_Rate_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BOI_currency_update_date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </filters>
        <filters>
            <field>Currency_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Currency__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Converted_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Daily_Exchange_Rate__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Rate__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_NonRenewalOpportunity_2_0</name>
        <label>Update Non-Renewal Opportunity</label>
        <locationX>1866</locationX>
        <locationY>899</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cycle_Price__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ARR__c</field>
            <value>
                <elementReference>formula_ARRPastDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cycle_Price__c</field>
            <value>
                <elementReference>formula_CyclePricePastDailyExchangeRate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exchange_Rate__c</field>
            <value>
                <elementReference>Get_Past_Daily_Exchange_Rate.Rate__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NonRenewalOpportunity_2_0_0</name>
        <label>Update Non-Renewal Opportunity</label>
        <locationX>1412</locationX>
        <locationY>1081</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cycle_Price__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ARR__c</field>
            <value>
                <elementReference>formula_ARRToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cycle_Price__c</field>
            <value>
                <elementReference>formula_CyclePriceTodayDailyExchangeRate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exchange_Rate__c</field>
            <value>
                <elementReference>Get_Today_Daily_Exchange_Rate.Rate__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Non-Renewal Opportunity</label>
        <locationX>648</locationX>
        <locationY>1110</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cycle_Price_Local__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ARR__c</field>
            <value>
                <elementReference>fr_ARR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cycle_Price__c</field>
            <value>
                <elementReference>Updated_Cycle_Price_USD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exchange_Rate__c</field>
            <value>
                <elementReference>Get_Exchange_Rate.USD_Exchange_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_2</name>
        <label>Update Opportunity</label>
        <locationX>1604</locationX>
        <locationY>395</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Exchange_Rate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Cycle_Price__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ARR__c</field>
            <value>
                <elementReference>fr_ARR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cycle_Price__c</field>
            <value>
                <elementReference>Cycle_Price_old_Exchange_USD</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Original_Renewal_Amount</name>
        <label>Update Renewal Opportunity</label>
        <locationX>362</locationX>
        <locationY>890</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cycle_Price_Local__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ARR__c</field>
            <value>
                <elementReference>fr_ARR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cycle_Price__c</field>
            <value>
                <elementReference>Updated_Cycle_Price_USD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exchange_Rate__c</field>
            <value>
                <elementReference>Get_Exchange_Rate.USD_Exchange_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Renewal_Amount__c</field>
            <value>
                <elementReference>Original_renewal_amount_formula</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_RenewalOpportunity_2_0_0</name>
        <label>Update Renewal Opportunity</label>
        <locationX>2094</locationX>
        <locationY>658</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cycle_Price__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ARR__c</field>
            <value>
                <elementReference>formula_ARRPastDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cycle_Price__c</field>
            <value>
                <elementReference>formula_CyclePricePastDailyExchangeRate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exchange_Rate__c</field>
            <value>
                <elementReference>Get_Past_Daily_Exchange_Rate.Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Renewal_Amount__c</field>
            <value>
                <elementReference>formula_ORAPastDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_RenewalOpportunity_2_0_0_0</name>
        <label>Update Renewal Opportunity</label>
        <locationX>1699</locationX>
        <locationY>1081</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cycle_Price__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ARR__c</field>
            <value>
                <elementReference>formula_ARRToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cycle_Price__c</field>
            <value>
                <elementReference>formula_CyclePriceTodayDailyExchangeRate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exchange_Rate__c</field>
            <value>
                <elementReference>Get_Today_Daily_Exchange_Rate.Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Renewal_Amount__c</field>
            <value>
                <elementReference>formula_ORAToday</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>832</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>What_was_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Currency__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>500</triggerOrder>
</Flow>
