force-app/main/default/flows/GeneralReassignFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Contact_to_new_Collection</name>
        <label>Add Contact to new Collection</label>
        <locationX>891</locationX>
        <locationY>1722</locationY>
        <assignmentItems>
            <assignToReference>Contacts_to_update_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Contacts_in_loop_SObject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_1_In</name>
        <label>{!VarLog}</label>
        <locationX>569</locationX>
        <locationY>1469</locationY>
        <assignmentItems>
            <assignToReference>VarLog</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>In:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarLog</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Country:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarLog</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarLog</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Business Unit:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarLog</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarBusinessUnit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarLog</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Out:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarLog</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Team:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarLog</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarTeam</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarLog</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Bucket:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarLog</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarBucket</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarLog</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Last Order:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarLog</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarLastOrder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarLog</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>New Owner ID:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarLog</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RR_SObject.UserID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_object_was_it_triggered_on_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Bucket</name>
        <label>Assign Default Bucket</label>
        <locationX>362</locationX>
        <locationY>661</locationY>
        <assignmentItems>
            <assignToReference>VarBucket</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarDefaultBucket</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_RR_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Last_Plus_1</name>
        <label>Assign Last Plus 1</label>
        <locationX>1039</locationX>
        <locationY>825</locationY>
        <assignmentItems>
            <assignToReference>VarLastOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LastOrder_Number_of_Active</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Last_to_1</name>
        <label>Assign Last to 1</label>
        <locationX>286</locationX>
        <locationY>1149</locationY>
        <assignmentItems>
            <assignToReference>VarLastOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_RRs_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Last_to_1_2</name>
        <label>Assign Last to +1</label>
        <locationX>930</locationX>
        <locationY>1371</locationY>
        <assignmentItems>
            <assignToReference>VarLastOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_RRs_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Last</name>
        <label>Assign New Last</label>
        <locationX>333</locationX>
        <locationY>1882</locationY>
        <assignmentItems>
            <assignToReference>RR_SObject.Last__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarLastOrder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_New_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Owner</name>
        <label>Assign New Owner</label>
        <locationX>889</locationX>
        <locationY>1602</locationY>
        <assignmentItems>
            <assignToReference>Contacts_in_loop_SObject.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RR_SObject.UserID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contact_to_new_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_New_Collection</name>
        <label>Assign to New Collection</label>
        <locationX>156</locationX>
        <locationY>1858</locationY>
        <assignmentItems>
            <assignToReference>UpdatingCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RR_SObject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_RRs_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Basic_Assignments</name>
        <label>Basic Assignments</label>
        <locationX>190</locationX>
        <locationY>809</locationY>
        <assignmentItems>
            <assignToReference>VarLastOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RR_SObject.Last__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNumberOfActive</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarObject</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarObject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RR_SObject.UserID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OrderLargerThanLargestInOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Basic_Assignments_1</name>
        <label>Basic Assignments</label>
        <locationX>115</locationX>
        <locationY>2407</locationY>
        <assignmentItems>
            <assignToReference>VarLastOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RR_SObject.Last__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNumberOfActive</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarObject</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarObject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RR_SObject.UserID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_RRs_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLargest</name>
        <label>SetLargest</label>
        <locationX>426</locationX>
        <locationY>1003</locationY>
        <assignmentItems>
            <assignToReference>VarLargestActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RR_SObject.Order__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_RRs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bucket_is_Null</name>
        <label>Bucket is Null?</label>
        <locationX>693</locationX>
        <locationY>596</locationY>
        <defaultConnector>
            <targetReference>Get_All_RR_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Move on</defaultConnectorLabel>
        <rules>
            <name>Bucket_is_NullSelection</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>VarBucket</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarBucket</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Region</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bucket_is_Null_2</name>
        <label>Bucket is Null 2?</label>
        <locationX>364</locationX>
        <locationY>547</locationY>
        <defaultConnector>
            <targetReference>Get_All_RR_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Move on</defaultConnectorLabel>
        <rules>
            <name>Bucket_is_NullSelection_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>VarBucket</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarBucket</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Default_Bucket</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_RR_User_Active</name>
        <label>Current RR User Active?</label>
        <locationX>424</locationX>
        <locationY>776</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_RRs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inactive</defaultConnectorLabel>
        <rules>
            <name>Current_RR_User_ActiveSelection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RR_SObject.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Basic_Assignments</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_RR_User_Active_1</name>
        <label>Current RR User Active?</label>
        <locationX>259</locationX>
        <locationY>2166</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_RRs_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inactive</defaultConnectorLabel>
        <rules>
            <name>Current_RR_User_ActiveSelection_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RR_SObject.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Basic_Assignments_1</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_User_Active_Order_VarLast</name>
        <label>Current User Active &amp; Order=VarLast</label>
        <locationX>341</locationX>
        <locationY>1324</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_RRs_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Move on</defaultConnectorLabel>
        <rules>
            <name>Current_User_Active_Order_VarLastSelection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RR_SObject.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RR_SObject.Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VarLastOrder</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_1_In</targetReference>
            </connector>
            <label>Current User Active &amp; Order=VarLast</label>
        </rules>
    </decisions>
    <decisions>
        <name>LastOrder_Number_of_Active</name>
        <label>LastOrder&gt;=Number_of Active</label>
        <locationX>693</locationX>
        <locationY>1141</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_RRs_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Move on</defaultConnectorLabel>
        <rules>
            <name>LastOrder_Number_of_ActiveSelection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarLastOrder</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>VarLargestActive</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Last_to_1</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>LastOrder_Number_of_Active_0</name>
        <label>LastOrder&gt;=Number_of Active</label>
        <locationX>971</locationX>
        <locationY>1238</locationY>
        <defaultConnector>
            <targetReference>Assign_Last_to_1_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Move on</defaultConnectorLabel>
        <rules>
            <name>LastOrder_Number_of_ActiveSelection_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarLastOrder</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>VarLargestActive</elementReference>
                </rightValue>
            </conditions>
            <label>Stop</label>
        </rules>
    </decisions>
    <decisions>
        <name>OrderLargerThanLargestInOrder</name>
        <label>OrderLargerThanLargestInOrder</label>
        <locationX>400</locationX>
        <locationY>888</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_RRs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Move on</defaultConnectorLabel>
        <rules>
            <name>OrderLargerThanLargestInOrderSelection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RR_SObject.Order__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>VarLargestActive</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetLargest</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_object_was_it_triggered_on</name>
        <label>What object was it triggered on</label>
        <locationX>723</locationX>
        <locationY>93</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectForm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Details_From_Account</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectForm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead_Details</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_object_was_it_triggered_on_0</name>
        <label>What object was it triggered on</label>
        <locationX>340</locationX>
        <locationY>1530</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Account_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectForm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAccount</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Lead_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectForm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_type_of_button</name>
        <label>What type of button</label>
        <locationX>919</locationX>
        <locationY>307</locationY>
        <defaultConnector>
            <targetReference>Get_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>MIR_Reassign</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>VarButtonType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>MIR Reassign</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarButtonType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Reassign Inside Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarButtonType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Reassign Inside CSM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Bucket</targetReference>
            </connector>
            <label>MIR Reassign / Reassign Inside Sales / Reassign Inside CSM</label>
        </rules>
    </decisions>
    <formulas>
        <name>ObjectForm</name>
        <dataType>String</dataType>
        <expression>IF(LEFT({!VarLeadAccountID},3)=&quot;001&quot;,&quot;Account&quot;,
IF(LEFT({!VarLeadAccountID},3)=&quot;00Q&quot;,&quot;Lead&quot;,&quot;Error&quot;))</expression>
    </formulas>
    <interviewLabel>GeneralReassignFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GeneralReassignFlow</label>
    <loops>
        <name>Loop_Through_Contacts</name>
        <label>Loop Through Contacts</label>
        <locationX>708</locationX>
        <locationY>1726</locationY>
        <assignNextValueToReference>Contacts_in_loop_SObject</assignNextValueToReference>
        <collectionReference>AllContactsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Owner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_RRs</name>
        <label>Loop Through RRs</label>
        <locationX>700</locationX>
        <locationY>827</locationY>
        <assignNextValueToReference>RR_SObject</assignNextValueToReference>
        <collectionReference>RRCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Current_RR_User_Active</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Last_Plus_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_RRs_0</name>
        <label>Loop Through RRs</label>
        <locationX>695</locationX>
        <locationY>1274</locationY>
        <assignNextValueToReference>RR_SObject</assignNextValueToReference>
        <collectionReference>RRCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Current_User_Active_Order_VarLast</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LastOrder_Number_of_Active_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_RRs_0_0</name>
        <label>Loop Through RRs</label>
        <locationX>334</locationX>
        <locationY>1760</locationY>
        <assignNextValueToReference>RR_SObject</assignNextValueToReference>
        <collectionReference>RRCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Last</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_LastOrder_on_RR</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_RRs_1</name>
        <label>Loop Through RRs</label>
        <locationX>535</locationX>
        <locationY>2217</locationY>
        <assignNextValueToReference>RR_SObject</assignNextValueToReference>
        <collectionReference>RRCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Current_RR_User_Active_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>QA_Screen_0_0_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>All_related_Contacts</name>
        <label>All related Contacts</label>
        <locationX>711</locationX>
        <locationY>1595</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarLeadAccountID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>AllContactsCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_All_RR_Assignment</name>
        <label>Get All RR Assignment</label>
        <locationX>696</locationX>
        <locationY>719</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_RRs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bucket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarBucket</elementReference>
            </value>
        </filters>
        <object>CSRoundRobin__c</object>
        <outputReference>RRCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Active__c</queriedFields>
        <queriedFields>Bucket__c</queriedFields>
        <queriedFields>Order__c</queriedFields>
        <queriedFields>Last__c</queriedFields>
        <queriedFields>UserID__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_All_RR_Assignment_0</name>
        <label>Get All RR Assignment</label>
        <locationX>739</locationX>
        <locationY>2105</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_RRs_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bucket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarBucket</elementReference>
            </value>
        </filters>
        <object>CSRoundRobin__c</object>
        <outputReference>RRCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Active__c</queriedFields>
        <queriedFields>Bucket__c</queriedFields>
        <queriedFields>Order__c</queriedFields>
        <queriedFields>Last__c</queriedFields>
        <queriedFields>UserID__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Bucket</name>
        <label>Get Bucket</label>
        <locationX>694</locationX>
        <locationY>419</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bucket_is_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarCountry</elementReference>
            </value>
        </filters>
        <filters>
            <field>Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarTeam</elementReference>
            </value>
        </filters>
        <object>CSBucket__c</object>
        <outputAssignments>
            <assignToReference>VarBucket</assignToReference>
            <field>Bucket__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Bucket_2</name>
        <label>Get Bucket 2</label>
        <locationX>363</locationX>
        <locationY>436</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bucket_is_Null_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarRegion</elementReference>
            </value>
        </filters>
        <filters>
            <field>Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarTeam</elementReference>
            </value>
        </filters>
        <object>CSBucket__c</object>
        <outputAssignments>
            <assignToReference>VarBucket</assignToReference>
            <field>Bucket__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Details_From_Account</name>
        <label>Get Details From Account</label>
        <locationX>892</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_type_of_button</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarLeadAccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>VarCountry</assignToReference>
            <field>BillingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarState</assignToReference>
            <field>BillingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarBusinessUnit</assignToReference>
            <field>Business_Unit__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarRegion</assignToReference>
            <field>Country_Region_new__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Details</name>
        <label>Get Lead Details</label>
        <locationX>543</locationX>
        <locationY>166</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_type_of_button</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarLeadAccountID</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>VarBusinessUnit</assignToReference>
            <field>Business_Unit__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarCountry</assignToReference>
            <field>Country</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarRegion</assignToReference>
            <field>Country_Region__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarState</assignToReference>
            <field>State</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Region</name>
        <label>Get Region</label>
        <locationX>362</locationX>
        <locationY>325</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Bucket_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarCountry</elementReference>
            </value>
        </filters>
        <object>CSCountry__c</object>
        <outputAssignments>
            <assignToReference>VarRegion</assignToReference>
            <field>Region__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Team</name>
        <label>Get Team</label>
        <locationX>599</locationX>
        <locationY>292</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Bucket</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarBusinessUnit</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lead_Routing_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarRoutingGroup</elementReference>
            </value>
        </filters>
        <object>CSTeam__c</object>
        <outputAssignments>
            <assignToReference>VarDefaultBucket</assignToReference>
            <field>Bucket__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarTeam</assignToReference>
            <field>Team__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contacts</name>
        <label>Update Contacts</label>
        <locationX>889</locationX>
        <locationY>1839</locationY>
        <inputReference>Contacts_to_update_Collection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_LastOrder_on_RR</name>
        <label>Update LastOrder on RR</label>
        <locationX>518</locationX>
        <locationY>1879</locationY>
        <inputReference>UpdatingCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>230</locationX>
        <locationY>1644</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarLeadAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>RR_SObject.UserID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SYS_Bucket__c</field>
            <value>
                <elementReference>VarBucket</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SYS_New_Last_Order__c</field>
            <value>
                <elementReference>VarLastOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SYS_Reassign_Log__c</field>
            <value>
                <elementReference>VarLog</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAccount</name>
        <label>UpdateAccount</label>
        <locationX>463</locationX>
        <locationY>1648</locationY>
        <connector>
            <targetReference>All_related_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarLeadAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>RR_SObject.UserID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SYS_Bucket__c</field>
            <value>
                <elementReference>VarBucket</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SYS_New_Last_Order__c</field>
            <value>
                <elementReference>VarLastOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SYS_Reassign_Log__c</field>
            <value>
                <elementReference>VarLog</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>QA_Screen</name>
        <label>QA Screen</label>
        <locationX>907</locationX>
        <locationY>43</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_object_was_it_triggered_on</targetReference>
        </connector>
        <fields>
            <name>QA</name>
            <fieldText>Team: {!VarTeam}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>QA_Screen_0</name>
        <label>QA Screen</label>
        <locationX>845</locationX>
        <locationY>503</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Bucket_is_Null</targetReference>
        </connector>
        <fields>
            <name>QA_0</name>
            <fieldText>Team: {!VarTeam}
-
Bucket: {!VarBucket}
- 
Default Bucket: {!VarDefaultBucket}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>QA_Screen_0_0</name>
        <label>QA Screen</label>
        <locationX>1016</locationX>
        <locationY>1115</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LastOrder_Number_of_Active</targetReference>
        </connector>
        <fields>
            <name>QA_0_0</name>
            <fieldText>Last Order: {!VarLastOrder}
-
# of Active Users: {!VarNumberOfActive}
- 
Var Object: {!VarObject}
-
Var Largest Active: {!VarLargestActive}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>QA_Screen_0_0_0</name>
        <label>QA Screen</label>
        <locationX>745</locationX>
        <locationY>978</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Last_Plus_1</targetReference>
        </connector>
        <fields>
            <name>QA_0_0_0</name>
            <fieldText>Last Order: {!VarLastOrder}
-
# of Active Users: {!VarNumberOfActive}
- 
Var Object: {!VarObject}
-
Var Largest Active: {!VarLargestActive}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>QA_Screen_0_0_0_0</name>
        <label>QA Screen</label>
        <locationX>117</locationX>
        <locationY>1457</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_object_was_it_triggered_on_0</targetReference>
        </connector>
        <fields>
            <name>QA_0_0_0_0</name>
            <fieldText>Last Order: {!VarLastOrder}
-
# of Active Users: {!VarNumberOfActive}
-</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>QA_Screen_0_0_1</name>
        <label>QA Screen</label>
        <locationX>736</locationX>
        <locationY>2286</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>QA_0_0_1</name>
            <fieldText>{!VarLastOrder}
-
{!VarNumberOfActive}
- 
{!VarObject}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>QA_Screen_0_0_2</name>
        <label>QA Screen</label>
        <locationX>152</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Through_RRs_0</targetReference>
        </connector>
        <fields>
            <name>QA_0_0_2</name>
            <fieldText>Last Order: {!VarLastOrder}
-
# of Active Users: {!VarNumberOfActive}
- 
Var Object: {!VarObject}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>QA_Screen_0_0_2_0</name>
        <label>QA Screen</label>
        <locationX>563</locationX>
        <locationY>1063</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Last_to_1</targetReference>
        </connector>
        <fields>
            <name>QA_0_0_2_0</name>
            <fieldText>Last Order: {!VarLastOrder}
-
# of Active Users: {!VarNumberOfActive}
- 
Var Object: {!VarObject}


TRUE, Last Order = # of active users.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>QA_Screen_0_1</name>
        <label>QA Screen</label>
        <locationX>910</locationX>
        <locationY>681</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_All_RR_Assignment</targetReference>
        </connector>
        <fields>
            <name>QA_0_1</name>
            <fieldText>Team: {!VarTeam}
-
Bucket: {!VarBucket}
- 
Default Bucket: {!VarDefaultBucket}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>QA_Screen_1</name>
        <label>QA Screen</label>
        <locationX>1001</locationX>
        <locationY>432</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>QA_1</name>
            <fieldText>{!VarTeam}
-
{!VarRoutingGroup}
-
{!VarBucket}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>QA_Screen_1_0</name>
        <label>QA Screen</label>
        <locationX>140</locationX>
        <locationY>419</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>QA_1_0</name>
            <fieldText>{!VarTeam}
-
{!VarRoutingGroup}
-
{!VarBucket}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>What_object_was_it_triggered_on</startElementReference>
    <status>Active</status>
    <variables>
        <name>AllContactsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Contacts_in_loop_SObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Contacts_to_update_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RR_SObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CSRoundRobin__c</objectType>
    </variables>
    <variables>
        <name>RRCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CSRoundRobin__c</objectType>
    </variables>
    <variables>
        <name>UpdatingCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CSRoundRobin__c</objectType>
    </variables>
    <variables>
        <name>VarBucket</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarBusinessUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarButtonType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarDefaultBucket</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarLargestActive</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarLastOrder</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VarLeadAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>recordId</elementReference>
        </value>
    </variables>
    <variables>
        <name>VarLog</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarNumberOfActive</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarRegion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRoutingGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTeam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
