force-app/main/default/flows/Generic_Send_Emails_to_New_Owners_Autolaunched.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>MIS-4853</description>
        <name>Send_Email_to_Manager</name>
        <label>Send Accounts Email to Manager</label>
        <locationX>138</locationX>
        <locationY>458</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_on_Accounts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_on_Accounts.currentOwnerEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesops@similarweb.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Accounts_Email_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Accounts_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>MIS-5104</description>
        <name>Send_Meetings_Email_to_Manager</name>
        <label>Send Meetings Email to Manager</label>
        <locationX>490</locationX>
        <locationY>458</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_on_Meetings</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_on_Meetings.currentOwnerEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesops@similarweb.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Meetings_Email_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Meetings_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>MIS-5335</description>
        <name>Send_Territories_Email_to_Manager</name>
        <label>Send Territories Email to Manager</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Delete_Recipients</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Territories_Email_Recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesops@similarweb.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Territories_Email_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Territories_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>MIS-5335</description>
        <name>Assign_Email_Recipients</name>
        <label>Assign Email Recipients</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Territories_Email_Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Territories.currentOwnerEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Territories_Email_Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>field.growth@similarweb.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Territories_Email_to_Manager</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>MIS-5335</description>
        <name>Delete_Recipients</name>
        <label>Delete Recipients</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Territories_Email_Recipients</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Empty_List</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Territories</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>What_Type_of_Record</name>
        <label>What Type of Record?</label>
        <locationX>534</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>typeOfRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Reassigned_Accounts_Report</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Meeting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>typeOfRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meeting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Reassigned_Meetings_Report</targetReference>
            </connector>
            <label>Meeting</label>
        </rules>
        <rules>
            <name>Territory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>typeOfRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Territory</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Reassigned_Territories_Report</targetReference>
            </connector>
            <label>Territory</label>
        </rules>
    </decisions>
    <description>MIS-7952 - Removed Lara from Territory alert
MIS-5335
MIS-5104
MIS-4853</description>
    <environments>Default</environments>
    <formulas>
        <description>MIS-4853</description>
        <name>Accounts_Report_Link</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Api.Partner_Server_URL_520}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_520} ))&amp; {!Get_Reassigned_Accounts_Report.Id}</expression>
    </formulas>
    <formulas>
        <description>MIS-5104</description>
        <name>Meetings_Report_Link</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Api.Partner_Server_URL_520}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_520} ))&amp; {!Get_Reassigned_Meetings_Report.Id}</expression>
    </formulas>
    <formulas>
        <description>MIS-5335</description>
        <name>Territories_Report_Link</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Api.Partner_Server_URL_520}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_520} ))&amp; {!Get_Reassigned_Territories_Report.Id}</expression>
    </formulas>
    <interviewLabel>Generic - Send Emails to New Owners - Autolaunched {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generic - Send Emails to New Owners - Autolaunched</label>
    <loops>
        <description>MIS-4853</description>
        <name>Loop_on_Accounts</name>
        <label>Loop on Accounts</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <collectionReference>JSON_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Email_to_Manager</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <description>MIS-5104</description>
        <name>Loop_on_Meetings</name>
        <label>Loop on Meetings</label>
        <locationX>402</locationX>
        <locationY>350</locationY>
        <collectionReference>JSON_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Meetings_Email_to_Manager</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <description>MIS-5335</description>
        <name>Loop_on_Territories</name>
        <label>Loop on Territories</label>
        <locationX>754</locationX>
        <locationY>350</locationY>
        <collectionReference>JSON_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Email_Recipients</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>MIS-4853</description>
        <name>Get_Reassigned_Accounts_Report</name>
        <label>Get Reassigned Accounts Report</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accounts_Assigned_to_Me_Last_14_Days_tAn</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Report</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>MIS-5104</description>
        <name>Get_Reassigned_Meetings_Report</name>
        <label>Get Reassigned Meetings Report</label>
        <locationX>402</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Meetings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meetings_Assigned_to_Me_Last_3_Months_uAo</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Report</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>MIS-5335</description>
        <name>Get_Reassigned_Territories_Report</name>
        <label>Get Reassigned Territories Report</label>
        <locationX>754</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Territories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Territories_Assigned_to_MeLast_3_Months_zm9</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Report</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_Type_of_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Accounts_Email_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi,&lt;br&gt;&lt;br&gt;
Please follow this &lt;b&gt;&lt;a href=&quot;{!Accounts_Report_Link}&quot;&gt;link&lt;/a&gt;&lt;/b&gt; to find the Accounts that were recently assigned to you.&lt;br&gt;&lt;br&gt;
Please be aware that you are the current owner of these &lt;b&gt;Accounts, Opps, and Contacts&lt;/b&gt;.&lt;br&gt;
You can assign them to another team member, by reaching out to SalesOps with the list of the records and the new owner&apos;s full name.</text>
    </textTemplates>
    <textTemplates>
        <description>MIS-4853</description>
        <name>Accounts_Email_Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Loop_on_Accounts.previousOwnerName}&apos;s accounts have been assigned to you since their user is now inactive</text>
    </textTemplates>
    <textTemplates>
        <description>MIS-5104</description>
        <name>Meetings_Email_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi,&lt;br&gt;&lt;br&gt;
Please note that {!Loop_on_Meetings.previousOwnerName}&apos;s open meetings have been assigned to you since their user is now inactive.&lt;br&gt;
Please follow this &lt;b&gt;&lt;a href=&quot;{!Meetings_Report_Link}&quot;&gt;link&lt;/a&gt;&lt;/b&gt; to find the Meetings that were assigned to you.&lt;br&gt;
You are the current owner of these &lt;b&gt;Meetings&lt;/b&gt;.&lt;br&gt;
&lt;u&gt;Time is of essence!&lt;/u&gt;&lt;br&gt;
Note that some of these meetings may be taking place in the next days. Please review them ASAP and assign them to another team member to take the meeting.&lt;br&gt;
If any help is required, please reach out to salesops@similarweb.com</text>
    </textTemplates>
    <textTemplates>
        <description>MIS-5104</description>
        <name>Meetings_Email_Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Loop_on_Meetings.previousOwnerName}&apos;s open meetings have been assigned to you since their user is now inactive</text>
    </textTemplates>
    <textTemplates>
        <description>MIS-5335</description>
        <name>Territories_Email_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi,&lt;br&gt;&lt;br&gt;
Note that {!Loop_on_Territories.previousOwnerName}&apos;s Territories have been assigned to you since their user is now inactive.&lt;br&gt;
Territory ownership means that &lt;b&gt;all the accounts in the territory&lt;/b&gt; will move to &lt;b&gt;your ownership.&lt;/b&gt;&lt;br&gt;
Please follow this &lt;b&gt;&lt;a href=&quot;{!Territories_Report_Link}&quot;&gt;link&lt;/a&gt;&lt;/b&gt; to find the Territories that were assigned to you.&lt;br&gt;
&lt;b&gt;This is only an interim solution -  managers should not be territories owners.&lt;/b&gt;&lt;br&gt;
Please work with the growth team to reassign to a relevant team member.&lt;br&gt;
If any help is required, please reach out to &lt;a href=&quot;mailto:field.growth@similarweb.com&quot;&gt;@Field Growth&lt;/a&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>MIS-5335</description>
        <name>Territories_Email_Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Loop_on_Territories.previousOwnerName}&apos;s Territories have been assigned to you since their user is now inactive</text>
    </textTemplates>
    <variables>
        <description>MIS-5335</description>
        <name>Empty_List</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JSON_Collection</name>
        <apexClass>FlowParamsObj</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>MIS-5335</description>
        <name>Territories_Email_Recipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>MIS-5104</description>
        <name>typeOfRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
