force-app/main/default/flows/GPT_Summary_ScreenFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Related_to_Lead_or_Account</name>
        <label>Related to Lead or Account?</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Related to Lead</defaultConnectorLabel>
        <rules>
            <name>Related_to_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Source_Task.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Related to Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Lead_or_Account</name>
        <label>Update Lead or Account</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Update_Lead_Summary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Lead</defaultConnectorLabel>
        <rules>
            <name>Update_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Related_to_Account</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Summary</targetReference>
            </connector>
            <label>Update Account</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Prompt_Formula_with_website</name>
        <dataType>String</dataType>
        <expression>&quot;Could you provide a brief for this company website:&quot; + {!Get_Lead.Website} + {!Get_Account.Website} +
&quot;present the response as follows: 1. Description of the company 2. What they sell 3. How they make money 4. The industry they are in 5. The location of their HQ 6. Their competitors with their websites, along with a brief description of each competitor&quot;</expression>
    </formulas>
    <interviewLabel>GPT Summary ScreenFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GPT Summary ScreenFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GPT_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Source_Task.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ChatGPT_Summary__c</queriedFields>
        <queriedFields>Website</queriedFields>
        <queriedFields>Chat_Gpt_Last_Call_Datetime__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GPT_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Source_Task.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ChatGPT_Summary__c</queriedFields>
        <queriedFields>Website</queriedFields>
        <queriedFields>Chat_Gpt_Last_Call_Datetime__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Summary</name>
        <label>Update Account Summary</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>GPT_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ChatGPT_Summary__c</field>
            <value>
                <elementReference>Get_Website_Summary.Output_Answer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chat_Gpt_Last_Call_Datetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Summary</name>
        <label>Update Lead Summary</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>GPT_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ChatGPT_Summary__c</field>
            <value>
                <elementReference>Get_Website_Summary.Output_Answer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chat_Gpt_Last_Call_Datetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>GPT_Summary</name>
        <label>GPT Summary</label>
        <locationX>182</locationX>
        <locationY>434</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Website_Summary</targetReference>
        </connector>
        <fields>
            <name>GPT_Summary_Date</name>
            <fieldText>&lt;p&gt;{!Get_Lead.Chat_Gpt_Last_Call_Datetime__c}&lt;/p&gt;&lt;p&gt;{!Get_Account.Chat_Gpt_Last_Call_Datetime__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GPT_Summary_Text</name>
            <fieldText>&lt;p&gt;{!Get_Lead.ChatGPT_Summary__c}&lt;/p&gt;&lt;p&gt;{!Get_Account.ChatGPT_Summary__c}&lt;/p&gt;&lt;p&gt;{!Get_Website_Summary.Output_Answer}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Get Summary</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Related_to_Lead_or_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Website_Summary</name>
        <label>Get Website Summary</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <connector>
            <targetReference>Update_Lead_or_Account</targetReference>
        </connector>
        <flowName>ChatGPT_Generic_SubFlow</flowName>
        <inputAssignments>
            <name>Input_Prompt</name>
            <value>
                <elementReference>Prompt_Formula_with_website</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Source_Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
