force-app/main/default/flows/JBSystemFlow_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj1f886a7b19b6ff9667f7c7aff718ace4_FireJBTrigger</name>
        <label>SalesforceObj1f886a7b19b6ff9667f7c7aff718ace4_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;Id&quot;,
  &quot;relationshipName&quot;: &quot;&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;Contact&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj1f886a7b19b6ff9667f7c7aff718ace4</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>510004013</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Title&quot;,&quot;Email&quot;,&quot;OwnerId&quot;,&quot;LastName&quot;,&quot;Status__c&quot;,&quot;FirstName&quot;,&quot;Department&quot;,&quot;CreatedDate&quot;,&quot;Owner_Email__c&quot;,&quot;SW_Industry__c&quot;,&quot;MailingCountry&quot;,&quot;Account_name__c&quot;,&quot;Employees_Min__c&quot;,&quot;Owner_Division__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;Current_Registration_Type__c&quot;,&quot;Current_Registration_Type_Timestamp__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjed824a3dc16bdf56bcbcc142d01b16c0_FireJBTrigger</name>
        <label>SalesforceObjed824a3dc16bdf56bcbcc142d01b16c0_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1f886a7b19b6ff9667f7c7aff718ace4</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1f886a7b19b6ff9667f7c7aff718ace4</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjed824a3dc16bdf56bcbcc142d01b16c0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>510004013</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;Status__c&quot;,&quot;Owner_Role__c&quot;,&quot;SW_Industry__c&quot;,&quot;Owner_Email__c&quot;,&quot;MailingCountry&quot;,&quot;Country_Tier__c&quot;,&quot;Country_Code__c&quot;,&quot;Account_name__c&quot;,&quot;Base_Product__c&quot;,&quot;Employees_Max__c&quot;,&quot;Employees_Min__c&quot;,&quot;Account_Owner__c&quot;,&quot;Owner_Division__c&quot;,&quot;Account_Status__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;MailingCountryCode&quot;,&quot;Campaign_Name_UTM__c&quot;,&quot;Booking_Status_CP__c&quot;,&quot;Contact_Owner_Name__c&quot;,&quot;Campaign_Medium_UTM__c&quot;,&quot;Campaign_Content_UTM__c&quot;,&quot;Status_changed_timestamp__c&quot;,&quot;Current_Registration_Type__c&quot;,&quot;Current_Registration_Type_Timestamp__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj1f886a7b19b6ff9667f7c7aff718ace4</name>
        <label>JB_Decision_Null_Check_SalesforceObj1f886a7b19b6ff9667f7c7aff718ace4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj1f886a7b19b6ff9667f7c7aff718ace4_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj1f886a7b19b6ff9667f7c7aff718ace4_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj1f886a7b19b6ff9667f7c7aff718ace4_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj1f886a7b19b6ff9667f7c7aff718ace4_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj1f886a7b19b6ff9667f7c7aff718ace4_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj1f886a7b19b6ff9667f7c7aff718ace4_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjed824a3dc16bdf56bcbcc142d01b16c0</name>
        <label>JB_Decision_Null_Check_SalesforceObjed824a3dc16bdf56bcbcc142d01b16c0</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1f886a7b19b6ff9667f7c7aff718ace4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjed824a3dc16bdf56bcbcc142d01b16c0_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjed824a3dc16bdf56bcbcc142d01b16c0_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjed824a3dc16bdf56bcbcc142d01b16c0_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj1f886a7b19b6ff9667f7c7aff718ace4_Decision</name>
        <label>JB_SalesforceObj1f886a7b19b6ff9667f7c7aff718ace4_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj1f886a7b19b6ff9667f7c7aff718ace4</name>
            <conditionLogic>( ( ( ( ( (1 AND 2)  AND 3)  AND 4)  AND 5)  AND 6)  AND 7)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.HasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Sync_to_Sfmc__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Skipped_Trial__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>skipped trial cc</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.MailingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Belarus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.MailingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Russia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.MailingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Russian Federation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj1f886a7b19b6ff9667f7c7aff718ace4_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj1f886a7b19b6ff9667f7c7aff718ace4</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj1f886a7b19b6ff9667f7c7aff718ace4_State_change_Decision</name>
        <label>JB_SalesforceObj1f886a7b19b6ff9667f7c7aff718ace4_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj1f886a7b19b6ff9667f7c7aff718ace4</name>
            <conditionLogic>NOT  ( ( ( ( ( (1 AND 2)  AND 3)  AND 4)  AND 5)  AND 6)  AND 7)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.HasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Sync_to_Sfmc__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Skipped_Trial__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>skipped trial cc</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.MailingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Belarus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.MailingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Russia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.MailingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Russian Federation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj1f886a7b19b6ff9667f7c7aff718ace4_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj1f886a7b19b6ff9667f7c7aff718ace4</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjed824a3dc16bdf56bcbcc142d01b16c0_Decision</name>
        <label>JB_SalesforceObjed824a3dc16bdf56bcbcc142d01b16c0_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1f886a7b19b6ff9667f7c7aff718ace4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjed824a3dc16bdf56bcbcc142d01b16c0</name>
            <conditionLogic>( ( ( ( ( ( ( ( ( ( ( (1 AND 2)  AND 3)  AND 4)  AND 5)  AND 6)  AND 7)  AND 8)  AND 9)  AND 10)  AND 11)  AND 12)  AND 13)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Booking_Status_CP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Booked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Replied</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SDR Prospecting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.MailingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Russia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.MailingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Russian Federation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.MailingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Iraq</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.MailingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Iran</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.MailingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Syria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.MailingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pakistan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.MailingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Ethiopia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.MailingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Somalia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.MailingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Kenya</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.MailingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Mongolia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjed824a3dc16bdf56bcbcc142d01b16c0_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjed824a3dc16bdf56bcbcc142d01b16c0</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjed824a3dc16bdf56bcbcc142d01b16c0_State_change_Decision</name>
        <label>JB_SalesforceObjed824a3dc16bdf56bcbcc142d01b16c0_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1f886a7b19b6ff9667f7c7aff718ace4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjed824a3dc16bdf56bcbcc142d01b16c0</name>
            <conditionLogic>NOT  ( ( ( ( ( ( ( ( ( ( ( (1 AND 2)  AND 3)  AND 4)  AND 5)  AND 6)  AND 7)  AND 8)  AND 9)  AND 10)  AND 11)  AND 12)  AND 13)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Booking_Status_CP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Booked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Replied</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SDR Prospecting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.MailingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Russia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.MailingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Russian Federation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.MailingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Iraq</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.MailingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Iran</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.MailingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Syria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.MailingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pakistan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.MailingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Ethiopia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.MailingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Somalia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.MailingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Kenya</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.MailingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Mongolia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjed824a3dc16bdf56bcbcc142d01b16c0_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjed824a3dc16bdf56bcbcc142d01b16c0</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Contact</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObjed824a3dc16bdf56bcbcc142d01b16c0</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
