force-app/main/default/flows/KT_to_Campains.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>MemberExists</name>
        <label>MemberExists?</label>
        <locationX>285</locationX>
        <locationY>454</locationY>
        <defaultConnector>
            <targetReference>Create_Lead_Campaign_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>MemberDoesExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AlreadyExistingMemberID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>MemberDoesExist</label>
        </rules>
    </decisions>
    <decisions>
        <name>MemberExists_0</name>
        <label>MemberExists?</label>
        <locationX>1086</locationX>
        <locationY>441</locationY>
        <defaultConnector>
            <targetReference>Create_Contact_Campaign_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>MemberDoesExist_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AlreadyExistingMemberID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>MemberDoesExist</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_member_to_add</name>
        <label>What member to add</label>
        <locationX>657</locationX>
        <locationY>345</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Campaign_ID_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCampaignID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Campaign ID is null</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead_or_Contact_Form</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_campaign_member_exists_0</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead_or_Contact_Form</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_campaign_member_exists</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <description>Change to Asset - QA</description>
    <formulas>
        <name>FormAssetID</name>
        <dataType>String</dataType>
        <expression>RIGHT(LEFT({!VarDescription}, FIND(&quot;]&quot;,  {!VarDescription}  ,  FIND(&quot;kt-asset-id:&quot;, {!VarDescription}) )-1),
 FIND(&quot;]&quot;,  {!VarDescription}  ,  FIND(&quot;kt-asset-id:&quot;, {!VarDescription}) )- (FIND(&quot;kt-asset-id:&quot;, {!VarDescription})+12 ))</expression>
    </formulas>
    <formulas>
        <name>Lead_or_Contact_Form</name>
        <dataType>String</dataType>
        <expression>IF(LEFT({!Contact_Lead_ID},3)=&quot;00Q&quot;,&quot;Lead&quot;,
IF(LEFT({!Contact_Lead_ID},3)=&quot;003&quot;,&quot;Contact&quot;,
&quot;ELSE&quot;))</expression>
    </formulas>
    <interviewLabel>KT to Campains {!$Flow.CurrentDateTime}</interviewLabel>
    <label>KT to Campains</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact_Campaign_Member</name>
        <label>Create Contact Campaign Member</label>
        <locationX>790</locationX>
        <locationY>534</locationY>
        <assignRecordIdToReference>VarCampaignMemberID</assignRecordIdToReference>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>VarCampaignID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Contact_Lead_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Downloaded</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Lead_Campaign_Member</name>
        <label>Create Lead Campaign Member</label>
        <locationX>555</locationX>
        <locationY>535</locationY>
        <assignRecordIdToReference>VarCampaignMemberID</assignRecordIdToReference>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>VarCampaignID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>Contact_Lead_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Downloaded</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordCreates>
    <recordLookups>
        <name>Check_if_campaign_member_exists</name>
        <label>Check if campaign member exists</label>
        <locationX>281</locationX>
        <locationY>342</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MemberExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarCampaignID</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Lead_ID</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>AlreadyExistingMemberID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Check_if_campaign_member_exists_0</name>
        <label>Check if campaign member exists</label>
        <locationX>1089</locationX>
        <locationY>342</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MemberExists_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarCampaignID</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Lead_ID</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>AlreadyExistingMemberID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_details_from_activity</name>
        <label>Get details from activity</label>
        <locationX>656</locationX>
        <locationY>70</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCampaignID_from_CS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarTaskID</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>VarDescription</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarSubject</assignToReference>
            <field>Subject</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Contact_Lead_ID</assignToReference>
            <field>WhoId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetCampaignID_from_CS</name>
        <label>GetCampaignID_from_CS</label>
        <locationX>653</locationX>
        <locationY>224</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_member_to_add</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Asset_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FormAssetID</elementReference>
            </value>
        </filters>
        <object>KT_to_Campaign__c</object>
        <outputAssignments>
            <assignToReference>VarCampaignID</assignToReference>
            <field>Campaign_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Get_details_from_activity</startElementReference>
    <status>Active</status>
    <variables>
        <name>AlreadyExistingMemberID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact_Lead_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarCampaignID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarCampaignMemberID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarTaskID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
