force-app/main/default/flows/Lead_After_save_Complete_Registration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_To_Queue</name>
        <label>Assign To Queue</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue_Website_Incomplete_Leads.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Incomplete_queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Complete_Registration_true_and_owner_SF_Admin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShouldUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ready_For_Routing_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Sf_Admin</name>
        <label>Assign To Sf Admin</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005b0000002iwIAAAY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Incomplete_queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShouldUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ready_For_Routing_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ready_For_Routing</name>
        <label>Ready For Routing</label>
        <locationX>358</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>$Record.Ready_For_Routing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShouldUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recalculate_Business_Unit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_Recalculate_Business_Unit_to_true</name>
        <label>set Recalculate Business Unit to true</label>
        <locationX>270</locationX>
        <locationY>1439</locationY>
        <assignmentItems>
            <assignToReference>$Record.Recalculate_Business_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShouldUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Complete_Registration</name>
        <label>Complete Registration</label>
        <locationX>402</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Ready_For_Routing_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Complete_Registration_true_and_owner_SF_Admin</name>
            <conditionLogic>(4 AND  5 AND 6 AND 7 AND 8 and 9) AND (1 OR (2 AND 3))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>salesops@similarweb.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.FirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.LastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Admin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fr_Complete_Registration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pro_User_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Last_Contact_Us_Form_Subject__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ContactForm</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pro_User_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Admin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Website_Incomplete_Leads</targetReference>
            </connector>
            <label>incomplete queue</label>
        </rules>
        <rules>
            <name>Complete_Registration_Is_Changed_and_Owner_Queue</name>
            <conditionLogic>(2 OR 3 OR 4 OR 5 OR 6 OR 7) AND 1</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fr_Complete_Registration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Last_Contact_Us_Form_Subject__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pro_User_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pro_User_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Admin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ContactForm</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Last_Contact_Us_Form_Subject__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Queue_Website_Incomplete_Leads</targetReference>
            </connector>
            <label>Complete Registration  Is Changed and Owner = Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Owner_Website_Incomplete_Leads</name>
        <label>Is Owner Website_Incomplete_Leads?</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Ready_For_Routing_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Copy_1_of_Get_Queue_Website_Incomplete_Leads.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Sf_Admin</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ready_For_Routing_Update</name>
        <label>Ready For Routing Update</label>
        <locationX>402</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Recalculate_Business_Unit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LDR_not_Verified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Orchestration_Journey__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LDR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Verified__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Verified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recalculate_Business_Unit</targetReference>
            </connector>
            <label>LDR not Verified</label>
        </rules>
        <rules>
            <name>True_Ready_For_Routing_Update</name>
            <conditionLogic>(1 OR 2 OR 3 OR 7) AND (4 AND 5) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SW_Fit_Score__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SW_Fit_Score__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Business_Unit__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SW_Fit_Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>005b0000002iwIAAAY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ready_For_Routing</targetReference>
            </connector>
            <label>True Ready For Routing Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recalculate_Business_Unit</name>
        <label>Recalculate Business Unit</label>
        <locationX>402</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <targetReference>Should_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_Recalculate_Business_Unit</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Website</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Employees_Min__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Employees_Max__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CountryCode</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sw_connector__swId__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Recalculate_Business_Unit_to_true</targetReference>
            </connector>
            <label>Set Recalculate Business Unit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Update</name>
        <label>Should Update?</label>
        <locationX>402</locationX>
        <locationY>1631</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Should_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShouldUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_lead</targetReference>
            </connector>
            <label>Yes, Should Update</label>
        </rules>
    </decisions>
    <description>MIS-8114 - Merged DMLs
MIS-3124;
MIS-3564: Removed Routed = True</description>
    <environments>Default</environments>
    <formulas>
        <description>calculate the complete registration like the same field on the lead</description>
        <name>fr_Complete_Registration</name>
        <dataType>Boolean</dataType>
        <expression>if( or( ISBLANK( {!$Record.Company}) ,ISBLANK( {!$Record.Website} ),ISBLANK( {!$Record.Employees_Min__c} ),ISBLANK( {!$Record.Employees_Max__c} ),ISBLANK( text({!$Record.SW_Industry__c})),ISBLANK( {!$Record.Country} )),false,true)</expression>
    </formulas>
    <interviewLabel>Lead - After save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - After save - Complete Registration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_Queue_Website_Incomplete_Leads</name>
        <label>Get Queue</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Owner_Website_Incomplete_Leads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQueueDevName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Website_Incomplete_Leads</name>
        <label>Get Queue Website_Incomplete_Leads</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_To_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQueueDevName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sf_Admin</name>
        <label>Get Sf Admin</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_To_Sf_Admin</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR 3</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Admin</stringValue>
            </value>
        </filters>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>salesops@similarweb.com</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_lead</name>
        <label>Update lead</label>
        <locationX>270</locationX>
        <locationY>1739</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Complete_Registration</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>00G</stringValue>
            </value>
        </filters>
        <filters>
            <field>Owner_Email__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>salesops@similarweb.com</stringValue>
            </value>
        </filters>
        <filters>
            <field>Country</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Employees_Min__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Employees_Max__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Website</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>sw_connector__swId__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1500</triggerOrder>
    <variables>
        <name>ShouldUpdate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varQueueDevName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Website_Incomplete_Leads</stringValue>
        </value>
    </variables>
</Flow>
