force-app/main/default/flows/Lead_Before_save_lead_automation_upload.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Change_lead_automation_to_false</name>
        <label>Change lead automation to false</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>$Record.Lead_automation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SW_Industry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Company_old_value</name>
        <label>Company old value</label>
        <locationX>50</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>$Record.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Company</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Employees_Max_old_value</name>
        <label>Employees Max old value</label>
        <locationX>50</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.Employees_Max__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Employees_Max__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Website</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Employees_Min_old_value</name>
        <label>Employees Min old value</label>
        <locationX>50</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Employees_Min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Employees_Min__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Employees_Max</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Keep_old_values</name>
        <label>Keep old values</label>
        <locationX>50</locationX>
        <locationY>2003</locationY>
        <assignmentItems>
            <assignToReference>$Record.SW_Industry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.SW_Industry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Employees_Max__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Employees_Max__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Employees_Min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Employees_Min__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Website</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Company</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.LeadSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Lead_automation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_contain</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SW_Industry_old_value</name>
        <label>SW Industry old value</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.SW_Industry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.SW_Industry__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Employees_Min</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_owner_and_operation_routing</name>
        <label>Update owner and operation routing</label>
        <locationX>578</locationX>
        <locationY>2495</locationY>
        <assignmentItems>
            <assignToReference>$Record.Operations_Routing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Operations_Routing__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.OwnerId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_previous_owner_and_remove_Operations_Routing</name>
        <label>Update previous owner and remove Operations Routing</label>
        <locationX>50</locationX>
        <locationY>2495</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Operations_Routing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Operations_Routing__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Website_old_value</name>
        <label>Website old value</label>
        <locationX>50</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>$Record.Website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Website</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Company</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>MIS-4180</description>
        <name>Check_Manual_routing</name>
        <label>Check Manual routing</label>
        <locationX>182</locationX>
        <locationY>2387</locationY>
        <defaultConnector>
            <targetReference>Update_owner_and_operation_routing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MIR_or_the_same</name>
            <conditionLogic>(1 OR 2) AND 3 and 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Owner_Division__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>MIR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_if_owner_division_is_the_same</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Operations_Routing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manual Attachment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Yes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>MIR or the same owner division</label>
        </rules>
        <rules>
            <name>Don_t_update_owner</name>
            <conditionLogic>1 AND ( 2 OR 3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Operations_Routing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manual Attachment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Owner_Division__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CSM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Owner_Division__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>OEM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Owner_Division__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Reseller</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Owner_Division__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Strategic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_if_owner_division_is_the_same</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_previous_owner_and_remove_Operations_Routing</targetReference>
            </connector>
            <label>Don&apos;t update owner</label>
        </rules>
        <rules>
            <name>MIR_or_incomplete_queue1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MIR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <label>MIR or incomplete queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Company</name>
        <label>Company</label>
        <locationX>182</locationX>
        <locationY>1595</locationY>
        <defaultConnector>
            <targetReference>Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Website_had_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Company</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Company_old_value</targetReference>
            </connector>
            <label>Company had value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_contain</name>
        <label>Does reseller</label>
        <locationX>182</locationX>
        <locationY>2195</locationY>
        <defaultConnector>
            <targetReference>Check_Manual_routing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Owner_Division__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CSM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Owner_Division__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>OEM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Owner_Division__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Reseller</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Owner_Division__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Strategic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Manual_routing</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Employees_Max</name>
        <label>Employees_Max</label>
        <locationX>182</locationX>
        <locationY>995</locationY>
        <defaultConnector>
            <targetReference>Website</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Employees_Max_had_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Employees_Max__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Employees_Max_old_value</targetReference>
            </connector>
            <label>Employees_Max had value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Employees_Min</name>
        <label>Employees_Min</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Employees_Max</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Employees_Min_had_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Employees_Min__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Employees_Min_old_value</targetReference>
            </connector>
            <label>Employees_Min had value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner</name>
        <label>Owner</label>
        <locationX>182</locationX>
        <locationY>1895</locationY>
        <defaultConnector>
            <targetReference>Does_contain</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MIR_owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Division</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>MIR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Keep_old_values</targetReference>
            </connector>
            <label>MIR owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>SW_Industry</name>
        <label>SW_Industry</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Employees_Min</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SW_Industry_c_had_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.SW_Industry__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SW_Industry_old_value</targetReference>
            </connector>
            <label>SW_Industry__c  had value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Website</name>
        <label>Website</label>
        <locationX>182</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Company</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Website_had_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Website</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Website_old_value</targetReference>
            </connector>
            <label>Website had value</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>MIS-4180</description>
        <name>Check_if_owner_division_is_the_same</name>
        <dataType>Boolean</dataType>
        <expression>If ( LEFT({!$Record.Owner:User.Division} , FIND(&quot;-&quot;, {!$Record.Owner:User.Division})-1 ) = 
 left ({!$Record__Prior.Owner_Division__c}, FIND(&quot;-&quot;, {!$Record__Prior.Owner_Division__c} )-1 ) , true, false)</expression>
    </formulas>
    <formulas>
        <name>test1</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Owner:User.Division} , FIND(&quot;-&quot;, {!$Record.Owner:User.Division})-1 )</expression>
    </formulas>
    <formulas>
        <name>test2</name>
        <dataType>String</dataType>
        <expression>left ({!$Record__Prior.Owner_Division__c}, FIND(&quot;-&quot;, {!$Record__Prior.Owner_Division__c} )-1 )</expression>
    </formulas>
    <interviewLabel>Lead - Before save - lead automation upload {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Before save - lead automation upload</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Change_lead_automation_to_false</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead_automation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>400</triggerOrder>
</Flow>
