force-app/main/default/flows/Lead_Contact_Us_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Which_Action</name>
        <label>Which Action</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ABCDE_Engagement_Program</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_ABCDE_EngagementProgram</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_ABCDE_Engagement_Task</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>ABCDE Engagement Program</label>
        </rules>
        <rules>
            <name>Engagement_Program</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_EngagementProgram</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Engagement_Task</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Engagement Program</label>
        </rules>
        <rules>
            <name>No_Automated_Emails</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_NoAutomatedEmails</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_No_Automated_Emails_Task</targetReference>
            </connector>
            <label>No Automated Emails</label>
        </rules>
        <rules>
            <name>Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_Support</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Support_Task</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Support</label>
        </rules>
        <rules>
            <name>Routed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Routed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updated_Routed_True</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Routed</label>
        </rules>
    </decisions>
    <description>Last MIS-4532 - Changed Contact US tasks to ABCDE
MIS-4153 - added Contact Form Trigger Path 
MIS-3517</description>
    <environments>Default</environments>
    <formulas>
        <name>AssignedToID</name>
        <dataType>String</dataType>
        <expression>IF(
BEGINS({!$Record.OwnerId}, &apos;00G&apos;),
&apos;005b0000002iwIAAAY&apos;,/*Salesforce Admin*/ 
{!$Record.OwnerId}
)</expression>
    </formulas>
    <formulas>
        <name>Formula_ABCDE_EngagementProgram</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  {!$Record.OwnerId} &lt;&gt; &quot;005b0000002iwIAAAY&quot;, /* Salesforce Admin */
  {!$Record.OwnerId} &lt;&gt; &quot;0056700000Av2XiAAJ&quot;, /* ChiliPiper Integration */
  NOT(ISBLANK({!$Record.Last_Contact_Us_Form_Subject__c})),
  NOT(CONTAINS({!$Record.Last_Contact_Us_Form_Subject__c},&quot;Support&quot;)),
  NOT(ISPICKVAL({!$Record.SW_Fit_Score__c} ,&quot;&quot;)), 
  DATEVALUE({!$Record.Form_Submission_Date_and_Time__c}) &gt; DATEVALUE(&quot;2022-07-01&quot;),
  OR(
    {!$Record.Owner:User.Division} = &quot;MIR&quot;,
    {!$Record.Reseller_Automation__c} = true
    ),

  OR(
    ISPICKVAL({!$Record.SW_Fit_Score__c} ,&quot;A&quot;),
    ISPICKVAL({!$Record.SW_Fit_Score__c} ,&quot;B&quot;),
    ISPICKVAL({!$Record.SW_Fit_Score__c} ,&quot;C&quot;),
    ISPICKVAL({!$Record.SW_Fit_Score__c} ,&quot;D&quot;),
    ISPICKVAL({!$Record.SW_Fit_Score__c} ,&quot;E&quot;)

    ),
  OR(
    {!$Record.Contact_Us_Help_Timestamp__c} &lt;&gt; {!$Record.Form_Submission_Date_and_Time__c},
    ISBLANK({!$Record.Contact_Us_Help_Timestamp__c})
    ),
  OR(
   {!$Record.Routed__c}=True ,
    NOT(ISCHANGED({!$Record.LeadSource}))
    ),
  OR(
    ISCHANGED( {!$Record.Routed__c}),
    ISCHANGED( {!$Record.Session_Id__c}),
    ISCHANGED( {!$Record.Form_Submission_Date_and_Time__c})
    ),
  OR(
    ISCHANGED({!$Record.OwnerId}),
    NOT(ISCHANGED({!$Record.OwnerId}))
    )
)</expression>
    </formulas>
    <formulas>
        <name>Formula_EngagementProgram</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  {!$Record.OwnerId} &lt;&gt; &quot;005b0000002iwIAAAY&quot;, /* Salesforce Admin */
  {!$Record.OwnerId} &lt;&gt; &quot;0056700000Av2XiAAJ&quot;, /* ChiliPiper Integration */
  NOT(ISBLANK({!$Record.Last_Contact_Us_Form_Subject__c})),
  NOT(CONTAINS({!$Record.Last_Contact_Us_Form_Subject__c},&quot;Support&quot;)),
  DATEVALUE({!$Record.Form_Submission_Date_and_Time__c}) &gt; DATEVALUE(&quot;2022-07-01&quot;),
  NOT(ISPICKVAL({!$Record.SW_Fit_Score__c} ,&quot;&quot;)), 
  NOT(ISPICKVAL({!$Record.SW_Fit_Score__c} ,&quot;A&quot;)),
  NOT(ISPICKVAL({!$Record.SW_Fit_Score__c} ,&quot;B&quot;)),
  NOT(ISPICKVAL({!$Record.SW_Fit_Score__c} ,&quot;C&quot;)),
  OR(
    {!$Record.Owner:User.Division} = &quot;MIR&quot;,
    {!$Record.Reseller_Automation__c} = true
    ),
  OR(
    {!$Record.Contact_Us_Help_Timestamp__c} &lt;&gt; {!$Record.Form_Submission_Date_and_Time__c},
    ISBLANK({!$Record.Contact_Us_Help_Timestamp__c})
    ),
  OR(
   {!$Record.Routed__c}=True ,
    NOT(ISCHANGED({!$Record.LeadSource}))
    ),
  OR(
    ISCHANGED( {!$Record.Routed__c}),
    ISCHANGED( {!$Record.Session_Id__c}),
    ISCHANGED( {!$Record.Form_Submission_Date_and_Time__c})
    ),
  OR(
    ISCHANGED({!$Record.OwnerId}),
    NOT(ISCHANGED({!$Record.OwnerId}))
    )
)</expression>
    </formulas>
    <formulas>
        <name>Formula_NoAutomatedEmails</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  DATEVALUE({!$Record.Form_Submission_Date_and_Time__c}) &gt; DATEVALUE(&quot;2022-07-01&quot;),
  {!$Record.Owner:User.Division} &lt;&gt; &quot;MIR&quot;,
  {!$Record.Owner:User.Division} &lt;&gt; &quot;LDR&quot;,
  {!$Record.Reseller_Automation__c} = FALSE,
  {!$Record.OwnerId} &lt;&gt;&quot;005b0000002iwIAAAY&quot;, /* Salesforce Admin */
  {!$Record.OwnerId }&lt;&gt;&quot;0056700000Av2XiAAJ&quot;, /* ChiliPiper Integration */
  NOT(ISBLANK({!$Record.Last_Contact_Us_Form_Subject__c})),
  NOT(CONTAINS({!$Record.Last_Contact_Us_Form_Subject__c}, &quot;Support&quot;)),
  NOT(ISPICKVAL({!$Record.SW_Fit_Score__c},&quot;&quot;)),
  OR(
    {!$Record.Contact_Us_Help_Timestamp__c} &lt;&gt; {!$Record.Form_Submission_Date_and_Time__c},
    ISBLANK({!$Record.Contact_Us_Help_Timestamp__c})
    ),
  OR(
    {!$Record.Routed__c},
    NOT(ISCHANGED({!$Record.LeadSource}))
    ),
  OR(
    ISCHANGED({!$Record.Form_Submission_Date_and_Time__c}),
    ISCHANGED({!$Record.Session_Id__c}),
    ISCHANGED({!$Record.Routed__c})
    ),
  OR(
    ISCHANGED({!$Record.OwnerId}),
    NOT(ISCHANGED({!$Record.OwnerId}))
)
)</expression>
    </formulas>
    <formulas>
        <name>Formula_Support</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  DATEVALUE({!$Record.Form_Submission_Date_and_Time__c}) &gt; DATEVALUE(&quot;2022-07-01&quot;),
  {!$Record.OwnerId} &lt;&gt; &apos;005b0000002iwIAAAY&apos; ,
  {!$Record.Owner:User.Division}  &lt;&gt; &quot;LDR&quot; ,
  NOT(ISBLANK({!$Record.Last_Contact_Us_Form_Subject__c})) ,
  CONTAINS({!$Record.Last_Contact_Us_Form_Subject__c}, &quot;Support&quot;) ,
  OR(
    {!$Record.Contact_Us_Help_Timestamp__c} &lt;&gt; {!$Record.Form_Submission_Date_and_Time__c} ,
    ISNULL({!$Record.Contact_Us_Help_Timestamp__c})
    ),
  OR(
    {!$Record.Routed__c}=True,
    NOT(ISCHANGED({!$Record.LeadSource} ))
    ),
  OR(
    ISCHANGED({!$Record.Routed__c}) ,
    ISCHANGED({!$Record.Session_Id__c}),
    ISCHANGED({!$Record.Form_Submission_Date_and_Time__c})
    ),
  OR(
    ISCHANGED({!$Record.OwnerId}),
    NOT(ISCHANGED({!$Record.OwnerId}))
)
)</expression>
    </formulas>
    <formulas>
        <name>fr_Trimmed_CU_Trigger_Path</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.CU_Trigger_Path__c}, 255)</expression>
    </formulas>
    <formulas>
        <name>ManagerEmail</name>
        <dataType>String</dataType>
        <expression>If( 
ISBLANK({!$Record.Owner:User.ManagerId}),
&quot;&quot;,
{!$Record.Owner:User.Manager.Email}
)</expression>
    </formulas>
    <formulas>
        <name>SubjectLineFormula</name>
        <dataType>String</dataType>
        <expression>&quot;Contact us form|Subject line :&quot; + {!$Record.Last_Contact_Us_Form_Subject__c}</expression>
    </formulas>
    <interviewLabel>Lead &quot;Contact Us&quot; Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - &quot;Contact Us&quot; Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_ABCDE_Engagement_Task</name>
        <label>Create ABCDE Engagement Task</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Engagement_Lead_Fields</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CU_Reply_Type__c</field>
            <value>
                <stringValue>Engagement Program</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Form_Trigger_Path__c</field>
            <value>
                <elementReference>fr_Trimmed_CU_Trigger_Path</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Us_Id__c</field>
            <value>
                <elementReference>$Record.Session_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Last_Contact_Us_Form_Message__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fit_Score__c</field>
            <value>
                <elementReference>$Record.SW_Fit_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_Location_URL__c</field>
            <value>
                <elementReference>$Record.First_Form_Location_URL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_Email__c</field>
            <value>
                <elementReference>ManagerEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>AssignedToID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectLineFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Contact Us</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Form_Formula_Name__c</field>
            <value>
                <elementReference>$Record.Web_Form_Formula_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Form_Name__c</field>
            <value>
                <elementReference>$Record.Web_Form_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Engagement_Task</name>
        <label>Create Engagement Task</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Engagement_Lead_Fields</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CU_Reply_Type__c</field>
            <value>
                <stringValue>Engagement Program</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Form_Trigger_Path__c</field>
            <value>
                <elementReference>fr_Trimmed_CU_Trigger_Path</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Us_Id__c</field>
            <value>
                <elementReference>$Record.Session_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Last_Contact_Us_Form_Message__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fit_Score__c</field>
            <value>
                <elementReference>$Record.SW_Fit_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_Location_URL__c</field>
            <value>
                <elementReference>$Record.First_Form_Location_URL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_Email__c</field>
            <value>
                <elementReference>ManagerEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>AssignedToID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectLineFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Contact Us</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Form_Formula_Name__c</field>
            <value>
                <elementReference>$Record.Web_Form_Formula_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Form_Name__c</field>
            <value>
                <elementReference>$Record.Web_Form_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_No_Automated_Emails_Task</name>
        <label>Create No Automated Emails Task</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_No_AutomatedEmail_And_Support_Lead_Fields</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Form_Trigger_Path__c</field>
            <value>
                <elementReference>fr_Trimmed_CU_Trigger_Path</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Us_Id__c</field>
            <value>
                <elementReference>$Record.Session_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Last_Contact_Us_Form_Message__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fit_Score__c</field>
            <value>
                <elementReference>$Record.SW_Fit_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_Location_URL__c</field>
            <value>
                <elementReference>$Record.First_Form_Location_URL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_Email__c</field>
            <value>
                <elementReference>ManagerEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>AssignedToID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectLineFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Contact Us</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Form_Formula_Name__c</field>
            <value>
                <elementReference>$Record.Web_Form_Formula_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Form_Name__c</field>
            <value>
                <elementReference>$Record.Web_Form_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Support_Task</name>
        <label>Create Support Task</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_No_AutomatedEmail_And_Support_Lead_Fields</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Us_Id__c</field>
            <value>
                <elementReference>$Record.Session_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Last_Contact_Us_Form_Message__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fit_Score__c</field>
            <value>
                <elementReference>$Record.SW_Fit_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_Location_URL__c</field>
            <value>
                <elementReference>$Record.First_Form_Location_URL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_Email__c</field>
            <value>
                <elementReference>ManagerEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>AssignedToID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectLineFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Contact Us</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Form_Formula_Name__c</field>
            <value>
                <elementReference>$Record.Web_Form_Formula_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Form_Name__c</field>
            <value>
                <elementReference>$Record.Web_Form_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Engagement_Lead_Fields</name>
        <label>Update Engagement Lead Fields</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>CU_Reply_Type__c</field>
            <value>
                <stringValue>Engagement Program</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Us_Help_Timestamp__c</field>
            <value>
                <elementReference>$Record.Form_Submission_Date_and_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Routed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_No_AutomatedEmail_And_Support_Lead_Fields</name>
        <label>Update No AutomatedEmail And Support Lead Fields</label>
        <locationX>710</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Contact_Us_Help_Timestamp__c</field>
            <value>
                <elementReference>$Record.Form_Submission_Date_and_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Routed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updated_Routed_True</name>
        <label>Updated Routed = True</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Routed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Which_Action</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <triggerOrder>1200</triggerOrder>
</Flow>
