force-app/main/default/flows/Lead_Update_Last_Owner_Id.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Delete_Previous_Owner</name>
        <label>Delete Previous Owner</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Previous_Owner__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Owner_changed_from_Lean_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Last_Owner_Id</name>
        <label>Update Last Owner Id</label>
        <locationX>314</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>$Record.LastOwnerID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.OwnerId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_LD_Update_DateTime_Last_Owner_Id</name>
        <label>Update: LD Update DateTime + Last Owner Id</label>
        <locationX>50</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>$Record.LD_Update_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NOW_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LastOwnerID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.OwnerId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Previous_Owner</name>
        <label>Update Previous Owner</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Previous_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Owner_changed_from_Lean_Data</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If &quot;Salesforce Admin&quot; was the last owner
AND
&quot;Salesforce Admin&quot; changed the owner.</description>
        <name>Owner_changed_from_Lean_Data</name>
        <label>Owner changed from Lean Data?</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Update_Last_Owner_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Owner:User.CommunityNickname</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>sfadmin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.CommunityNickname</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>sfadmin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_LD_Update_DateTime_Last_Owner_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks that the previous Owner was a User.</description>
        <name>Previous_Owner_was_a_User</name>
        <label>Previous Owner was a User?</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Delete_Previous_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Queue</defaultConnectorLabel>
        <rules>
            <name>User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Previous_Owner</targetReference>
            </connector>
            <label>User</label>
        </rules>
    </decisions>
    <description>Migrated from Workflow: &quot;Last Lead Owner Update&quot; + &quot;LD Update DateTime&quot;</description>
    <environments>Default</environments>
    <formulas>
        <name>NOW_Formula</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Lead - Update Last Owner Id {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Update Last Owner Id</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Previous_Owner_was_a_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
