force-app/main/default/flows/Lead_after_save_flow_Chilipiper_Tracking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <description>MIS-2164 - take the UTM field from lead and update the ut, fields in the event when the chilipiiper term is changed</description>
    <environments>Default</environments>
    <interviewLabel>Lead after save flow - Chilipiper Tracking {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead after save flow - Chilipiper Tracking</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>MIS-2164</description>
        <name>Get_latest_Chilipiper_event</name>
        <label>Get latest Chilipiper event</label>
        <locationX>556</locationX>
        <locationY>336</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0056700000Av2XiAAJ</stringValue>
            </value>
        </filters>
        <filters>
            <field>Router_Name_CP__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Remove_term</name>
        <label>Remove term</label>
        <locationX>556</locationX>
        <locationY>576</locationY>
        <inputAssignments>
            <field>Chilipiper_Term__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_event</name>
        <label>Update event</label>
        <locationX>556</locationX>
        <locationY>456</locationY>
        <connector>
            <targetReference>Remove_term</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_latest_Chilipiper_event.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Campaign_Content_UTM__c</field>
            <value>
                <elementReference>$Record.Campaign_Content_UTM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign_Medium_UTM__c</field>
            <value>
                <elementReference>$Record.Campaign_Medium_UTM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign_Name_UTM__c</field>
            <value>
                <elementReference>$Record.Campaign_Name_UTM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign_Source_UTM__c</field>
            <value>
                <elementReference>$Record.Campaign_Source_UTM__c</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <start>
        <locationX>562</locationX>
        <locationY>48</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Chilipiper_Term__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X2_minutes_after_last_modified</name>
            <connector>
                <targetReference>Get_latest_Chilipiper_event</targetReference>
            </connector>
            <label>2 minutes after last modified</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
