force-app/main/default/flows/Legal_Security_Request_Status_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Modified_in_the_last_30_days</name>
        <label>Modified in the last 30 days?</label>
        <locationX>168</locationX>
        <locationY>343</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Last_30_days</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Request_Status</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Last - MIS-3289
MIS-3125
MIS-243 Closing Legal / DDQ / Billing requests automatically</description>
    <environments>Default</environments>
    <formulas>
        <name>Last_30_days</name>
        <dataType>DateTime</dataType>
        <expression>NOW()-30</expression>
    </formulas>
    <interviewLabel>Reques {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Legal / DDQ / Billing  Request Status Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Request_Status</name>
        <label>Update Request Status</label>
        <locationX>177</locationX>
        <locationY>558</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Request__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Modified_in_the_last_30_days</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND ( 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 )</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012b0000000cfDO</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012b0000000cfDOAAY</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Requestor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Client</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Action</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Process</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Resubmitted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sent to customer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Rep To Adjust Quote</stringValue>
            </value>
        </filters>
        <object>Request__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-02-17</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
