force-app/main/default/flows/Monthly_Partner_Request_Schedule_For_Monthly_Fix_Price.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Contract_is_Fixed_Price</name>
        <label>Contract is Fixed Price?</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Not Fixed</defaultConnectorLabel>
        <rules>
            <name>Fixed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contracts__r.Payment_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monthly - Fix Price</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contracts__r.Fix_Payment__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_to_Calculated</targetReference>
            </connector>
            <label>Fixed</label>
        </rules>
    </decisions>
    <description>Update the monthly fixed price for open partner requests on the 3rd of every month.

MIS-4319</description>
    <environments>Default</environments>
    <interviewLabel>Monthly Partner Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Monthly Partner Request - Schedule For Monthly Fix Price</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Status_to_Calculated</name>
        <label>Update Status to Calculated</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>Monthly_Partner_Payment_Fixed__c</field>
            <value>
                <elementReference>$Record.Contracts__r.Fix_Payment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Calculated</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contract_is_Fixed_Price</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Today_is_3_of_the_Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <object>Monthly_Partner_Request__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-08-28</startDate>
            <startTime>12:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
