force-app/main/default/flows/New_Contact_after_save_create_Survey_Appcues.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_if_survey_was_created_today</name>
        <label>Check if survey was created today</label>
        <locationX>710</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_lookup_is_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_if_survey_was_created.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_last_survey</targetReference>
            </connector>
            <label>Check if lookup is true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Survey_scored_changed</name>
        <label>Is Survey scored changed</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Score</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NPS_Score__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NPS_Survey_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_s_Survey_Source</targetReference>
            </connector>
            <label>New Score</label>
        </rules>
    </decisions>
    <description>MIS-5983 - Update Contact&apos;s Survey Source</description>
    <environments>Default</environments>
    <interviewLabel>New Contact after save - create Survey (Appcues) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Contact after save - create Survey (Appcues)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>MIS-3794</description>
        <name>Create_a_survy</name>
        <label>Create a survy</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_you_Recommend_SW__c</field>
            <value>
                <elementReference>$Record.NPS_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Appcues NPS survey </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Appcues</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Date__c</field>
            <value>
                <elementReference>$Record.NPS_Survey_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Survey__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Check_if_survey_was_created</name>
        <label>Check if survey was created</label>
        <locationX>710</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_survey_was_created_today</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Create_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Survey__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_last_survey</name>
        <label>Copy 1 of Update last survey</label>
        <locationX>578</locationX>
        <locationY>492</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Create_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>How_to_Improve__c</field>
            <value>
                <elementReference>$Record.NPS_Additional_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Date__c</field>
            <value>
                <elementReference>$Record.NPS_Survey_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Surveys__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>MIS-5983</description>
        <name>Update_Contact_s_Survey_Source</name>
        <label>Update Contact&apos;s Survey Source</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Create_a_survy</targetReference>
        </connector>
        <inputAssignments>
            <field>NPS_Survey_Source__c</field>
            <value>
                <stringValue>Appcues</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Survey_scored_changed</targetReference>
        </connector>
        <filterLogic>(1 OR 3 or 4 ) and 2</filterLogic>
        <filters>
            <field>NPS_Score__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LastModifiedById</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0056700000CuxOhAAJ</stringValue>
            </value>
        </filters>
        <filters>
            <field>NPS_Survey_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NPS_Additional_Details__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Check_if_survey_was_created</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
