force-app/main/default/flows/Opportunity_Scheduled_Send_Collection_Issues_Alerts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>MIS-6468</description>
        <name>Alert_SalesOps_About_Limit</name>
        <label>Alert SalesOps About Limit</label>
        <locationX>50</locationX>
        <locationY>2076</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>salesopsPM@similarweb.com,missupport@similarweb.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesops@similarweb.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Process Limit Reached</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Alert_Sops_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>MIS-6468</description>
        <name>Send_Email_to_Report_Recipients</name>
        <label>Send Email to Report Recipients</label>
        <locationX>182</locationX>
        <locationY>1860</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>X150_Recipient_Limit_Reached</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>User_Emails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesops@similarweb.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Email_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressList</name>
            <value>
                <stringValue>eden.maman@similarweb.com</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <description>MIS-6468</description>
        <name>Add_Account_Owner_Email_to_List</name>
        <label>Add Account Owner Email to List</label>
        <locationX>622</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>User_Emails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Opps.Account.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Recipients_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Opp_Owner_Duplicates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>MIS-6468</description>
        <name>Add_Opp_Owner_Email_to_List</name>
        <label>Add Opp Owner Email to List</label>
        <locationX>622</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>User_Emails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Opps.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Recipients_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Opp_Owner_Manager_Duplicates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>MIS-6468</description>
        <name>Add_Opp_Owner_Manager_Email_to_List</name>
        <label>Add Opp Owner Manager Email to List</label>
        <locationX>622</locationX>
        <locationY>1392</locationY>
        <assignmentItems>
            <assignToReference>User_Emails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Opps.Owner.Manager.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Recipients_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Opps</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>MIS-6468</description>
        <name>Check_Account_Owner_Duplicates</name>
        <label>Check Account Owner Duplicates</label>
        <locationX>534</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Add_Account_Owner_Email_to_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Owner_Duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Emails</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Through_Opps.Account.Owner.Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recipients_Count</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>149.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Opp_Owner_Duplicates</targetReference>
            </connector>
            <label>Account Owner Duplicate</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-6468</description>
        <name>Check_Opp_Owner_Duplicates</name>
        <label>Check Opp Owner Duplicates</label>
        <locationX>534</locationX>
        <locationY>984</locationY>
        <defaultConnector>
            <targetReference>Add_Opp_Owner_Email_to_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opp_Owner_Duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Emails</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Through_Opps.Owner.Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recipients_Count</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>149.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Opp_Owner_Manager_Duplicates</targetReference>
            </connector>
            <label>Opp Owner Duplicate</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-6468</description>
        <name>Check_Opp_Owner_Manager_Duplicates</name>
        <label>Check Opp Owner Manager Duplicates</label>
        <locationX>534</locationX>
        <locationY>1284</locationY>
        <defaultConnector>
            <targetReference>Add_Opp_Owner_Manager_Email_to_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opp_Owner_Manager_Duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Emails</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Through_Opps.Owner.Manager.Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recipients_Count</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>149.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Opps</targetReference>
            </connector>
            <label>Opp Owner Manager Duplicate</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-6468</description>
        <name>Found_Accounts</name>
        <label>Found Accounts?</label>
        <locationX>380</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Closed_Won_New_Sale_Opps</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Opps</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-6468</description>
        <name>More_than_149_Recipients</name>
        <label>More than 149 Recipients?</label>
        <locationX>402</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Check_Account_Owner_Duplicates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>More_than_149</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recipients_Count</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>149.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Opps</targetReference>
            </connector>
            <label>More than 149</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-6468</description>
        <name>X150_Recipient_Limit_Reached</name>
        <label>150 Recipient Limit Reached?</label>
        <locationX>182</locationX>
        <locationY>1968</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Limit_Reached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>More_than_149</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_SalesOps_About_Limit</targetReference>
            </connector>
            <label>Limit Reached</label>
        </rules>
    </decisions>
    <description>MIS-6941
MIS-6468</description>
    <environments>Default</environments>
    <formulas>
        <description>MIS-6468</description>
        <name>Report_Link</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Api.Partner_Server_URL_520}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_520} ))&amp;{!Get_Accounts_with_Collection_Issues_Report.Id}</expression>
    </formulas>
    <formulas>
        <description>MIS-6468</description>
        <name>TODAY_Minus_8_Months</name>
        <dataType>Date</dataType>
        <expression>IF(
    MONTH(TODAY()) &gt; 8,
    DATE(YEAR(TODAY()), MONTH(TODAY()) - 8, DAY(TODAY())),
    DATE(YEAR(TODAY()) - 1, MONTH(TODAY()) + 4, DAY(TODAY()))
)</expression>
    </formulas>
    <interviewLabel>Opportunity - Scheduled - Send Collection Issues Alerts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Scheduled - Send Collection Issues Alerts</label>
    <loops>
        <description>MIS-6468</description>
        <name>Loop_Through_Opps</name>
        <label>Loop Through Opps</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <collectionReference>Get_Closed_Won_New_Sale_Opps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>More_than_149_Recipients</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Accounts_with_Collection_Issues_Report</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>MIS-6468</description>
        <name>Get_Accounts_with_Collection_Issues_Report</name>
        <label>Get Accounts with Collection Issues Report</label>
        <locationX>182</locationX>
        <locationY>1752</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_to_Report_Recipients</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accounts_with_collection_issues_E5b</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Report</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>MIS-6468</description>
        <name>Get_Closed_Won_New_Sale_Opps</name>
        <label>Get Closed Won New Sale Opps</label>
        <locationX>380</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Accounts</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4) AND 5</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Sale</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>FR_Account_Collection_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Overdue</stringValue>
            </value>
        </filters>
        <filters>
            <field>FR_Account_Collection_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Debooked</stringValue>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>TODAY_Minus_8_Months</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Closed_Won_New_Sale_Opps</targetReference>
        </connector>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2025-02-18</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>MIS-6468</description>
        <name>Alert_Sops_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi,&lt;/p&gt;&lt;p&gt;The process of sending the &quot;&lt;a href=&quot;{!Report_Link}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Accounts with collection issues&lt;/a&gt;&quot; report has reached the limit of 150 users.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>MIS-6468</description>
        <name>Email_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi,&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Here’s your &lt;a href=&quot;{!Report_Link}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;weekly report&lt;/a&gt; of your Accounts with late payments which require your attention.&lt;/p&gt;&lt;p&gt;Assisting with collections issues is crucial as we want to avoid any potential issues with a customer’s access to the platform &lt;strong&gt;and to ensure your bonuses remain unaffected!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please reach out to the respective Similarweb Account Manager and check if any of your support is needed with this customer to help procure the missing payment.&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Thank you!&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>MIS-6468</description>
        <name>Email_Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>🚨 Overdue Accounts Requiring Your Attention</text>
    </textTemplates>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>MIS-6468</description>
        <name>Recipients_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>MIS-6468</description>
        <name>User_Emails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
