force-app/main/default/flows/Opportunity_After_Opp_Division_is_changed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Need_to_update_Division</name>
        <label>Need to update Division?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Need_to_update_Sub_Division</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Need_to_update_Division</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Division__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Meeting_Division_Opportunity_Division</targetReference>
            </connector>
            <label>Yes, Need to update Division</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_to_update_Sub_Division</name>
        <label>Need to update Sub Division?</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Need_to_update_Sub_Division</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner_Sub_Division__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Meeting_Sub_Division_Opportunity_Sub_Division</targetReference>
            </connector>
            <label>Yes, Need to update Sub Division</label>
        </rules>
    </decisions>
    <description>MIS-8311 - Added Meeting Sub Division update
MIS-4071</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity After - Opp Division is changed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity After - Opp Division is changed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>MIS-4071: Opp Division is changed - Update Metting Division = Opp Division</description>
        <name>Update_Meeting_Division_Opportunity_Division</name>
        <label>Update Meeting Division = Opportunity Division</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Need_to_update_Sub_Division</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Meeting_Division_Updated_Manually__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Meeting_Division__c</field>
            <value>
                <elementReference>$Record.Opportunity_Division__c</elementReference>
            </value>
        </inputAssignments>
        <object>Meeting__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Meeting_Sub_Division_Opportunity_Sub_Division</name>
        <label>Update Meeting Sub Division = Opportunity Sub Division</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Meeting_Division_Updated_Manually__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Meeting_Sub_Division__c</field>
            <value>
                <elementReference>$Record.Owner_Sub_Division__c</elementReference>
            </value>
        </inputAssignments>
        <object>Meeting__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Need_to_update_Division</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Opportunity_Division__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Owner_Sub_Division__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
