force-app/main/default/flows/Opportunity_Stage_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>add_on</name>
        <label>add on</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Get_opportunity.Product_Sold_Add_Ons__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>add</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_opportunity.Product_Sold__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productsold</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Need_to_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_economic</name>
        <label>assign economic</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Get_opportunity.Economic_Buyer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>economic_buyer.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Need_to_update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Need_to_update</name>
        <label>Need to update</label>
        <locationX>578</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>update_opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>need_to_update_ARR1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>need_to_update_ARR2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>need_to_update_ARR3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>need_to_update_ARR4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_currency</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stages</name>
        <label>Stages</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Need_to_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_Qualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_opportunity.Stage_was_changed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Qualifeid</targetReference>
            </connector>
            <label>Sales Qualified</label>
        </rules>
        <rules>
            <name>Solution_Validation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solution Validation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_opportunity.Stage_was_changed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Solution_Validation_screen</targetReference>
            </connector>
            <label>Solution Validation</label>
        </rules>
        <rules>
            <name>Scope_Confirmation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scope Confirmation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_opportunity.Stage_was_changed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Scope_confirmation_screen</targetReference>
            </connector>
            <label>Scope Confirmation</label>
        </rules>
        <rules>
            <name>Contracts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contracts</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_opportunity.Stage_was_changed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contracts_screen</targetReference>
            </connector>
            <label>Contracts</label>
        </rules>
    </decisions>
    <description>MIS-5631 - product tracking 42 matters
MIS-6946 - Product Tracking</description>
    <dynamicChoiceSets>
        <name>addon</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Product_Sold_Add_Ons__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>productsold</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Product_Sold__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Opportunity Stage Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Stage Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_opportunity</name>
        <label>Get opportunity</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stages</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_opp</name>
        <label>update opp</label>
        <locationX>578</locationX>
        <locationY>950</locationY>
        <connector>
            <targetReference>update_records</targetReference>
        </connector>
        <inputReference>Get_opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_records</name>
        <label>update records</label>
        <locationX>578</locationX>
        <locationY>1058</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>POP_UP__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage_was_changed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Contracts_screen</name>
        <label>Contracts</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Need_to_update</targetReference>
        </connector>
        <fields>
            <name>please3</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(5, 86, 27); font-size: 20px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;Please update the following fields (&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;color: rgb(5, 86, 27); font-size: 20px; background-color: rgb(255, 255, 255);&quot;&gt;optional at this stage&lt;/span&gt;&lt;strong style=&quot;color: rgb(5, 86, 27); font-size: 20px; background-color: rgb(255, 255, 255);&quot;&gt;)&lt;u&gt;:&lt;/u&gt;&lt;em&gt; &lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>verbal</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 14px;&quot;&gt;&lt;u&gt;Did you get a decision maker verbal Commitment?&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_opportunity.Paper_Process__c</objectFieldReference>
        </fields>
        <fields>
            <name>Is_this_still_the_scope_of_your_deal4</name>
            <fieldText>Is this still the scope of your deal</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Is_this_still_the_scope_of_your_deal4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_opportunity.CloseDate</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_opportunity.Cycle__c</objectFieldReference>
                </fields>
                <fields>
                    <name>need_to_update_ARR4</name>
                    <dataType>Boolean</dataType>
                    <fieldText>need to update ARR?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Sales_Qualifeid</name>
        <label>Sales_Qualifeid</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_economic</targetReference>
        </connector>
        <fields>
            <name>please4</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(5, 86, 27);&quot;&gt;&lt;u&gt;Please update the following fields (&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(5, 86, 27);&quot;&gt;optional at this stage&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(5, 86, 27);&quot;&gt;)&lt;u&gt;:&lt;/u&gt;&lt;em&gt; &lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_opportunity.Decision_Criteria__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_opportunity.Decision_Process__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_opportunity.Paper_Process__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_opportunity.Competition__c</objectFieldReference>
        </fields>
        <fields>
            <name>economic_buyer</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Economic_Buyer__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Economic Buyer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Is_this_still_the_scope_of_your_deal1</name>
            <fieldText>Is this still the scope of your deal</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Is_this_still_the_scope_of_your_deal1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_opportunity.CloseDate</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_opportunity.Cycle__c</objectFieldReference>
                </fields>
                <fields>
                    <name>need_to_update_ARR1</name>
                    <dataType>Boolean</dataType>
                    <fieldText>need to update ARR?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Scope_confirmation_screen</name>
        <label>Scope confirmation</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>add_on</targetReference>
        </connector>
        <fields>
            <name>Please</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(5, 86, 27); font-size: 20px;&quot;&gt;&lt;u&gt;Please update the following fields if there are any changes:&lt;/u&gt;&lt;em&gt; &lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_opportunity.Decision_Criteria__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_opportunity.Paper_Process__c</objectFieldReference>
        </fields>
        <fields>
            <name>Product_Sold</name>
            <choiceReferences>productsold</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_opportunity.Product_Sold__c</elementReference>
            </defaultValue>
            <fieldText>Product Sold</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>add</name>
            <choiceReferences>addon</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product Sold - add on</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ProductTracking</name>
            <extensionName>c:productTrackingFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Is_this_still_the_scope_of_your_deal3</name>
            <fieldText>Is this still the scope of your deal</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Is_this_still_the_scope_of_your_deal3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_opportunity.CloseDate</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_opportunity.Cycle__c</objectFieldReference>
                </fields>
                <fields>
                    <name>need_to_update_ARR3</name>
                    <dataType>Boolean</dataType>
                    <fieldText>need to update ARR?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Solution_Validation_screen</name>
        <label>Solution Validation</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Need_to_update</targetReference>
        </connector>
        <fields>
            <name>please2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(5, 86, 27);&quot;&gt;&lt;u&gt;Please update the following fields (&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(5, 86, 27);&quot;&gt;optional at this stage&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(5, 86, 27);&quot;&gt;)&lt;u&gt;:&lt;/u&gt;&lt;em&gt; &lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_opportunity.Decision_Criteria__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_opportunity.Decision_Process__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_opportunity.Paper_Process__c</objectFieldReference>
        </fields>
        <fields>
            <name>Is_this_still_the_scope_of_your_deal2</name>
            <fieldText>Is this still the scope of your deal</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Is_this_still_the_scope_of_your_deal2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_opportunity.CloseDate</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_opportunity.Cycle__c</objectFieldReference>
                </fields>
                <fields>
                    <name>need_to_update_ARR2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>need to update ARR?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>update_currency</name>
        <label>update currency</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>update_opp</targetReference>
        </connector>
        <flowName>Update_Cycle_Price_Currency</flowName>
        <inputAssignments>
            <name>OppRecordID</name>
            <value>
                <elementReference>Get_opportunity.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>default</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Get_opportunity.Product_Sold__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
