force-app/main/default/flows/Payment_Record_Triggered_Flow_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>emailalert_STSuccessfulPaymentAlertTrellian</name>
        <label>ST - Successful payment alert Trellian</label>
        <locationX>50</locationX>
        <locationY>779</locationY>
        <actionName>Zuora__Payment__c.Successful_payment_alert_Trellian</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Rule_PP_Procceced_Payments</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Zuora__Payment__c.Successful_payment_alert_Trellian</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Successful_payment_alert_Altudo</name>
        <label>Successful payment alert Altudo</label>
        <locationX>314</locationX>
        <locationY>779</locationY>
        <actionName>Zuora__Payment__c.Successful_payment_alert_Altudo</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Rule_PP_Procceced_Payments</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Zuora__Payment__c.Successful_payment_alert_Altudo</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>MIS-4420 WF to Flow migration</description>
        <name>Wire_Payment_Email</name>
        <label>Wire Payment Email</label>
        <locationX>138</locationX>
        <locationY>431</locationY>
        <actionName>Zuora__Payment__c.Update_Billing_on_Wire_Payments</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>decision_RuleSTSuccessfulTrellianPayment</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>decision_RuleSTSuccessfulTrellianPayment</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Zuora__Payment__c.Update_Billing_on_Wire_Payments</nameSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>MIS-4926</description>
        <name>Count_Payments_and_Refunds</name>
        <label>Count Payments and Refunds</label>
        <locationX>270</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>Numper_of_Payments</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Account_Payments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Number_of_Refunds</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Account_Refunds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Numper_of_Payments</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Number_of_Refunds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_Number_of_Payments</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>MQ-1445 (Payment: Status EQUALS Processed) AND (Payment: Amount GREATER THAN 241) AND (Payment: Amount NOT EQUAL TO 499) AND (Billing Account: Account Owner Role EQUALS Resellers - ANZ - Trellian)</description>
        <name>decision_RuleSTSuccessfulTrellianPayment</name>
        <label>*Rule (ST)* - Successful Payment</label>
        <locationX>402</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Rule_PP_Procceced_Payments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Successful_Trellian_Payment</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Zuora__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Zuora__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Processed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Zuora__Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>241.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Zuora__Amount__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>499.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Zuora__BillingAccount__r.Account_Owner_Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Trellian</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>emailalert_STSuccessfulPaymentAlertTrellian</targetReference>
            </connector>
            <label>Successful Trellian Payment</label>
        </rules>
        <rules>
            <name>suc</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Zuora__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Zuora__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Processed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Zuora__Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>241.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Zuora__Amount__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>499.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Zuora__BillingAccount__r.Account_Owner_Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Altudo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Successful_payment_alert_Altudo</targetReference>
            </connector>
            <label>Successful Altudo payment</label>
        </rules>
        <rules>
            <name>Successful_payment</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Zuora__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Zuora__Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>249.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Zuora__Amount__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>499.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Zuora__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Processed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_PP_Procceced_Payments</targetReference>
            </connector>
            <label>Successful payment</label>
        </rules>
    </decisions>
    <decisions>
        <name>EXAMPLE_NextRuleNRExample</name>
        <label>*Next Rule (NR)* - Example</label>
        <locationX>402</locationX>
        <locationY>2003</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>EXAMPLE_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EXAMPLE_Var</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Example Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-4926</description>
        <name>Rule_PP_Procceced_Payments</name>
        <label>*Rule (PP)* - Procceced Payments</label>
        <locationX>402</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Update_Account_Subscription_Renewal_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PP_Procceced_Payment</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Zuora__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Zuora__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Processed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Zuora__Account__r.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Payments</targetReference>
            </connector>
            <label>PP - Procceced Payment</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-4420 WF to Flow migration</description>
        <name>Rule_WP_Wire_Payment</name>
        <label>*Rule (WP)* - Wire Payment</label>
        <locationX>402</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>decision_RuleSTSuccessfulTrellianPayment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Processed_Type_External</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Zuora__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Processed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Zuora__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>External</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wire_Payment_Email</targetReference>
            </connector>
            <label>Status = Processed &amp;&amp; Type = External</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-6863</description>
        <name>Update_Account_Subscription_Renewal_Date</name>
        <label>Update Account Subscription Renewal Date</label>
        <locationX>402</locationX>
        <locationY>1595</locationY>
        <defaultConnector>
            <targetReference>EXAMPLE_NextRuleNRExample</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Payment_Processed_and_Active_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Zuora__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Processed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Zuora__Account__r.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Zuora__Account__r.No_Touch_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Zuora__Account__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Default</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Subscription_Product_Charge</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Payment Processed and Active Account</label>
        </rules>
    </decisions>
    <description>MIS-8000 - Removed Subscription Renewal Date clear
MIS-6863 -Account Subscription Renewal Date
MIS-6707 - Deleted Failed Payment Alert
MIS-4926 - Calculate number of payments
MIS-4633 - cancel payment alert 
MIS-4420 WF to Flow migration
MQ-1445
MQ-1493</description>
    <environments>Default</environments>
    <formulas>
        <name>Account_Subscription_Renewal_Date_Calculation</name>
        <dataType>Date</dataType>
        <expression>IF (
   {!Get_Account_Subscription_Product_Charge.Zuora__BillingPeriod__c} = &apos;Annual&apos; , 
      ADDMONTHS({!$Record.Zuora__Effective_Date__c}, 12), IF(
   {!Get_Account_Subscription_Product_Charge.Zuora__BillingPeriod__c} = &apos;Month&apos; , 
      ADDMONTHS({!$Record.Zuora__Effective_Date__c},1), 
   {!$Record.Zuora__Account__r.Subscription_Renewal_Date__c}
))</expression>
    </formulas>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Payment - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment - Record-Triggered Flow - After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>MIS-4926</description>
        <name>Get_Account_Payments</name>
        <label>Get Account Payments</label>
        <locationX>270</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Refunds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Zuora__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Zuora__Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Zuora__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Zuora__Payment__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>MIS-4926</description>
        <name>Get_Account_Refunds</name>
        <label>Get Account Refunds</label>
        <locationX>270</locationX>
        <locationY>1187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Payments_and_Refunds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Zuora__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Zuora__Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Zuora__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Zuora__Refund__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Subscription_Product_Charge</name>
        <label>Get Account Subscription Product &amp; Charge</label>
        <locationX>270</locationX>
        <locationY>1703</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Related_Account_Subscription_Renewal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Zuora__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Zuora__Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Zuora__SubscriptionProductCharge__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Zuora__BillingPeriod__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>MIS-4926</description>
        <name>Update_Account_Number_of_Payments</name>
        <label>Update Account Number of Payments</label>
        <locationX>270</locationX>
        <locationY>1403</locationY>
        <connector>
            <targetReference>Update_Account_Subscription_Renewal_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Zuora__Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_Payments__c</field>
            <value>
                <elementReference>Numper_of_Payments</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Account_Subscription_Renewal</name>
        <label>Update Related Account Subscription Renewal</label>
        <locationX>270</locationX>
        <locationY>1811</locationY>
        <connector>
            <targetReference>EXAMPLE_NextRuleNRExample</targetReference>
        </connector>
        <inputAssignments>
            <field>Subscription_Renewal_Date__c</field>
            <value>
                <elementReference>Account_Subscription_Renewal_Date_Calculation</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Zuora__Account__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Rule_WP_Wire_Payment</targetReference>
        </connector>
        <object>Zuora__Payment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>100</triggerOrder>
    <variables>
        <name>EXAMPLE_Var</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>MIS-4926</description>
        <name>Number_of_Refunds</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>MIS-4926</description>
        <name>Numper_of_Payments</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
