force-app/main/default/flows/PO_reminder_email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Reminder</name>
        <label>Send Reminder</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Recipients_email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Email_header</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>PO_Reminder</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_emails</name>
        <label>Assign emails</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>Recipients_email</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ar@similarweb.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Recipients_email</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Reminder</targetReference>
        </connector>
    </assignments>
    <description>MQ-2371
MQ - 2328 - update texts and recipeants 
MQ-2127 - send a weekly reminder to the account owner to fill in the po number</description>
    <environments>Default</environments>
    <formulas>
        <name>close_date_plus_7</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CloseDate} + 7</expression>
    </formulas>
    <formulas>
        <name>opp_record_link</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Api.Partner_Server_URL_520}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_520} ))&amp;{!$Record.Id}</expression>
    </formulas>
    <interviewLabel>PO reminder email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PO reminder email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Zuora_billing_Account</name>
        <label>Get Zuora billing  Account</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Zuora__Zuora_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Latest_Zuora_Account_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Zuora__CustomerAccount__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Zuora__AccountNumber__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Zuora_billing_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Do_customer_have_PO__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes, but we don&apos;t have the number yet</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Po_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2024-08-19</startDate>
            <startTime>13:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Email_header</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>ATTN: Customer PO is Still Missing! For Opp: {!$Record.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>PO_Reminder</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi &lt;span style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;{!$Record.Owner.FirstName} &lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Owner.LastName}&lt;/span&gt;&lt;span style=&quot;color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); font-size: var(--lwc-fontSize3,0.8125rem);&quot;&gt;, &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This is a reminder that we have not yet received the PO for your closed won opp: &lt;a href=&quot;{!opp_record_link}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.Name}&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Opp Owner: Please follow up with your customer and update the PO number in the &quot;PO Number&quot; field in the opportunity &lt;a href=&quot;{!opp_record_link}&quot;&gt;{!$Record.Name}&lt;/a&gt; as soon as you receive it.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;em&gt;For the AR Team&lt;/em&gt;&lt;/strong&gt;&lt;em&gt;: This is for &lt;/em&gt;Zuora Billing Account ID: &lt;strong&gt;&lt;u&gt;{!Get_Zuora_billing_Account.Zuora__AccountNumber__c}&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Have a great day!&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Thank you&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Recipients_email</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
