force-app/main/default/flows/Quote_product_charge_plan_before_save_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>FullCountryFilterAssignment</name>
        <label>Full Country Filter Assignment</label>
        <locationX>4670</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>CountryFilter</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Country_filte_formula} {!Convert_country_iso_to_name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Size_Of_Country_filter_characters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Size_Of_Country_filter_characters</name>
        <label>Size Of Country filter characters</label>
        <locationX>4670</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>Character_size</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SizeOfCountryFiltername</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Country_filter_name</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Fee_Modal</name>
        <label>Fee Modal</label>
        <locationX>4769</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Product_Rate_Plan_Charge_Tier_Tiers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Fee_Modal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.zqu__Model__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flat Fee Pricing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Flat_fee_Product_Rate_Plan_Charge</targetReference>
            </connector>
            <label>Product is flat fee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_ADM</name>
        <label>Get ADM</label>
        <locationX>4670</locationX>
        <locationY>1763</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Get_ADM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Add_on_formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADMCountryTier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update</targetReference>
            </connector>
            <label>Outcome 1 of Get ADM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Country</name>
        <label>Update relevant value</label>
        <locationX>5792</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Country</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.zqu__SubscriptionRatePlanChargeZuoraId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amendment_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Original</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.zqu__QuoteRatePlan__r.zqu__Product__r.AddOnType__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>countr</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.zqu__QuoteRatePlan__r.zqu__Product__r.AddOnType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AppsCF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.zqu__QuoteRatePlan__r.zqu__Product__r.AddOnType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AppInCFTier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FullCountryFilterAssignment</targetReference>
            </connector>
            <label>Country</label>
        </rules>
        <rules>
            <name>Conversion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.zqu__SubscriptionRatePlanChargeZuoraId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amendment_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Original</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.zqu__QuoteRatePlan__r.zqu__Product__r.AddOnType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conversions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_of_conversation</targetReference>
            </connector>
            <label>Conversion</label>
        </rules>
        <rules>
            <name>Dataset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.zqu__SubscriptionRatePlanChargeZuoraId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amendment_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Original</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.zqu__QuoteRatePlan__r.zqu__Product__r.AddOnType__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Datasets</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_of_Datasets</targetReference>
            </connector>
            <label>Dataset</label>
        </rules>
        <rules>
            <name>Shopper_Domain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.zqu__SubscriptionRatePlanChargeZuoraId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amendment_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Original</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.zqu__QuoteRatePlan__r.zqu__Product__r.AddOnType__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SHI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_of_Shopper_Domain</targetReference>
            </connector>
            <label>Shopper Domain</label>
        </rules>
        <rules>
            <name>Managed_Services</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.zqu__SubscriptionRatePlanChargeZuoraId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amendment_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Original</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.zqu__QuoteRatePlan__r.zqu__Product__r.AddOnType__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ManagedServices</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_of_Managed_Services</targetReference>
            </connector>
            <label>Managed Services</label>
        </rules>
        <rules>
            <name>Aggregated_Geography</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.zqu__SubscriptionRatePlanChargeZuoraId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amendment_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Original</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.zqu__QuoteRatePlan__r.zqu__Product__r.AddOnType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AggregatedGeo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_of_Aggregated_Geography</targetReference>
            </connector>
            <label>Aggregated Geography</label>
        </rules>
        <rules>
            <name>Data_feed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.zqu__SubscriptionRatePlanChargeZuoraId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amendment_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Original</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.zqu__QuoteRatePlan__r.zqu__Product__r.AddOnType__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Datafeed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_of_Solution_Allocation</targetReference>
            </connector>
            <label>Data feed</label>
        </rules>
        <rules>
            <name>Product_4_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.zqu__SubscriptionRatePlanChargeZuoraId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amendment_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Original</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.zqu__QuoteRatePlan__r.zqu__Product__r.AddOnType__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>4.0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Dynamic_Wording</targetReference>
            </connector>
            <label>Product 4.0</label>
        </rules>
    </decisions>
    <decisions>
        <name>IS_Aggregated_Geography_updated_or_renewal</name>
        <label>IS Aggregated Geography  updated or renewal</label>
        <locationX>2822</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Update_of_Aggregated_Geography_renewal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_update_value_for_Aggregated_Geography</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Original_rate_plan_charge.Updated_products__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Aggregated_Geography_filter</targetReference>
            </connector>
            <label>No update value for Aggregated Geography</label>
        </rules>
    </decisions>
    <decisions>
        <name>IS_conversion_updated_or_renewal</name>
        <label>IS conversion  updated or renewal</label>
        <locationX>710</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Update_Conversions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_No_update_value_for_conversion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Original_rate_plan_charge.Updated_products__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_conversions_form_country_filter</targetReference>
            </connector>
            <label>Copy 1 of No update value for conversion</label>
        </rules>
    </decisions>
    <decisions>
        <description>MQ-2553</description>
        <name>Is_Country_filter_name</name>
        <label>Is Country filter name</label>
        <locationX>4670</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Update_Country_and_Tier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Longer_then_255</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Character_size</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>255.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Check_Country_Filter_Length__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>test</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Country_and_Tier</targetReference>
            </connector>
            <label>Longer then 255</label>
        </rules>
    </decisions>
    <decisions>
        <name>IS_country_updated_or_renewal</name>
        <label>IS country updated or renewal</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Update_countries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_update_value_for_country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Original_rate_plan_charge.Updated_products__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_countries_form_country_filter</targetReference>
            </connector>
            <label>No update value for country</label>
        </rules>
    </decisions>
    <decisions>
        <name>IS_Datasets_updated_or_renewal</name>
        <label>IS Datasets  updated or renewal</label>
        <locationX>1238</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>dataset_Update_from_orginal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_update_value_for_Datasets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Original_rate_plan_charge.Updated_products__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Datasets</targetReference>
            </connector>
            <label>No update value for Datasets</label>
        </rules>
    </decisions>
    <decisions>
        <name>IS_Managed_Services_updated_or_renewal</name>
        <label>IS Managed Services  updated or renewal</label>
        <locationX>2294</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Update_Managed_Services_renewal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_update_value_for_Managed_Services</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Original_rate_plan_charge.Updated_products__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Managed_Services_filter</targetReference>
            </connector>
            <label>No update value for Managed Services</label>
        </rules>
    </decisions>
    <decisions>
        <name>IS_product_4_0_updated_or_renewal</name>
        <label>IS product 4.0  updated or renewal</label>
        <locationX>3878</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Update_of_Solution_Allocation_renewal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_update_value_for_Product_4_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Original_rate_plan_charge.Updated_products__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Solution_Allocation_filter</targetReference>
            </connector>
            <label>No update value for Product 4.0</label>
        </rules>
    </decisions>
    <decisions>
        <name>IS_Shopper_Domain_updated_or_renewal</name>
        <label>IS Shopper Domain  updated or renewal</label>
        <locationX>1766</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Update_Shopper_Domain</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_No_update_value_for_Datasets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Original_rate_plan_charge.Updated_products__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_shopper_filter</targetReference>
            </connector>
            <label>No update value for Shopper Domain</label>
        </rules>
    </decisions>
    <decisions>
        <name>IS_Solution_Allocation_updated_or_renewal</name>
        <label>IS Solution Allocation  updated or renewal</label>
        <locationX>3350</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Update_of_Solution_Allocation_renewal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_No_update_value_for_Managed_Services</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Original_rate_plan_charge.Updated_products__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Solution_Allocation_filter</targetReference>
            </connector>
            <label>Copy 2 of No update value for Managed Services</label>
        </rules>
    </decisions>
    <decisions>
        <name>One_Time_Original</name>
        <label>One Time Original</label>
        <locationX>4967</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Update_Previous_Quantity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_product_One_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.zqu__QuoteRatePlan__r.zqu__QuoteAmendment__r.zqu__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Original</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.zqu__ChargeType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OneTime</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fee_Modal</targetReference>
            </connector>
            <label>Is product One Time</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Default_value</name>
        <label>Update Default value</label>
        <locationX>7310</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Country_Tier_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.zqu__ProductRatePlanCharge__r.zqu__ProductRatePlan__r.zqu__Product__r.InternalCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NewCFT1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_default_USA</targetReference>
            </connector>
            <label>Country Tier 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Previous_Quantity</name>
        <label>Update Previous Quantity</label>
        <locationX>4967</locationX>
        <locationY>923</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Updated_product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.zqu__QuoteRatePlan__r.zqu__QuoteAmendment__r.zqu__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UpdateProduct</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Original_rate_plan_charge</targetReference>
            </connector>
            <label>Updated product</label>
        </rules>
        <rules>
            <name>Original</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.zqu__QuoteRatePlan__r.zqu__QuoteAmendment__r.zqu__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Original</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Values_from_Subscription</targetReference>
            </connector>
            <label>Original</label>
        </rules>
        <rules>
            <name>NEW_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.zqu__QuoteRatePlan__r.zqu__QuoteAmendment__r.zqu__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NewProduct</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Default_value</targetReference>
            </connector>
            <label>NEW Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Updated_Product_update</name>
        <label>Updated Product update</label>
        <locationX>2228</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Update_previous_Quantity1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Updated_country_ame</name>
            <conditionLogic>1 AND (2 OR 3 or 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.zqu__QuoteRatePlan__r.zqu__QuoteAmendment__r.zqu__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UpdateProduct</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.zqu__ProductRatePlanCharge__r.zqu__ProductRatePlan__r.zqu__Product__r.AddOnType__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Country</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.zqu__ProductRatePlanCharge__r.zqu__ProductRatePlan__r.zqu__Product__r.AddOnType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AppsCF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.zqu__ProductRatePlanCharge__r.zqu__ProductRatePlan__r.zqu__Product__r.AddOnType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AppInCFTier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IS_country_updated_or_renewal</targetReference>
            </connector>
            <label>Updated country</label>
        </rules>
        <rules>
            <name>Updated_Conversion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.zqu__QuoteRatePlan__r.zqu__QuoteAmendment__r.zqu__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UpdateProduct</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.zqu__ProductRatePlanCharge__r.zqu__ProductRatePlan__r.zqu__Product__r.AddOnType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conversions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IS_conversion_updated_or_renewal</targetReference>
            </connector>
            <label>Updated Conversion</label>
        </rules>
        <rules>
            <name>Datasets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.zqu__QuoteRatePlan__r.zqu__QuoteAmendment__r.zqu__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UpdateProduct</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Add_on_formula__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>datasets</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IS_Datasets_updated_or_renewal</targetReference>
            </connector>
            <label>Datasets</label>
        </rules>
        <rules>
            <name>Shopper_domain_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.zqu__QuoteRatePlan__r.zqu__QuoteAmendment__r.zqu__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UpdateProduct</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Add_on_formula__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SHI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IS_Shopper_Domain_updated_or_renewal</targetReference>
            </connector>
            <label>Shopper domain check</label>
        </rules>
        <rules>
            <name>Update_Managed_Services</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.zqu__QuoteRatePlan__r.zqu__QuoteAmendment__r.zqu__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UpdateProduct</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Add_on_formula__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Managedservices</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IS_Managed_Services_updated_or_renewal</targetReference>
            </connector>
            <label>Update Managed Services</label>
        </rules>
        <rules>
            <name>Updated_Aggregated_Geography</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.zqu__QuoteRatePlan__r.zqu__QuoteAmendment__r.zqu__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UpdateProduct</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Add_on_formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AggregatedGeo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IS_Aggregated_Geography_updated_or_renewal</targetReference>
            </connector>
            <label>Updated Aggregated Geography</label>
        </rules>
        <rules>
            <name>Solution_Allocation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.zqu__QuoteRatePlan__r.zqu__QuoteAmendment__r.zqu__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UpdateProduct</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Add_on_formula__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Datafeed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IS_Solution_Allocation_updated_or_renewal</targetReference>
            </connector>
            <label>Solution Allocation</label>
        </rules>
        <rules>
            <name>X4_0_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.zqu__QuoteRatePlan__r.zqu__QuoteAmendment__r.zqu__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UpdateProduct</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Add_on_formula__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>4.0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_4_0_wording_for_updated_products</targetReference>
            </connector>
            <label>4.0 Product</label>
        </rules>
    </decisions>
    <description>MQ 2004 - added app intelligance country  to the country flow</description>
    <environments>Default</environments>
    <formulas>
        <name>APivalue</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Record.zqu__ProductRatePlanCharge__r.zqu__ProductRatePlan__r.zqu__Product__r.APIValue__c} )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Convert_Aggregated_Geography_API_to_label</name>
        <dataType>String</dataType>
        <expression>IF(INCLUDES({!Get_Values_from_Subscription.Aggregated_Geography__c}, &quot;AggregatedEMEA&quot;), &quot;Aggregated EMEA, &quot;, null) &amp;  
IF(INCLUDES({!Get_Values_from_Subscription.Aggregated_Geography__c}, &quot;AggregatedMENA&quot;), &quot;Aggregated MENA, &quot;, null) &amp;  
IF(INCLUDES({!Get_Values_from_Subscription.Aggregated_Geography__c}, &quot;AggregatedEurope&quot;), &quot;Aggregated Europe, &quot;, null) &amp;  
IF(INCLUDES({!Get_Values_from_Subscription.Aggregated_Geography__c}, &quot;AggregatedNA&quot;), &quot;Aggregated NA (North America), &quot;, null) &amp;  
IF(INCLUDES({!Get_Values_from_Subscription.Aggregated_Geography__c}, &quot;AggregatedAPAC&quot;), &quot;Aggregated APAC, &quot;, null) &amp;  
IF(INCLUDES({!Get_Values_from_Subscription.Aggregated_Geography__c}, &quot;AggregatedLATAM&quot;), &quot;Aggregated LATAM, &quot;, null)</expression>
    </formulas>
    <formulas>
        <name>Convert_country_iso_to_name</name>
        <dataType>String</dataType>
        <expression>IF(INCLUDES({!Get_Values_from_Subscription.Country_Filter__c}, &quot;CRI&quot;), &quot;Costa Rica, &quot;, null) &amp;  
IF(INCLUDES({!Get_Values_from_Subscription.Country_Filter__c}, &quot;DOM&quot;), &quot;Dominican Republic, &quot;, null) &amp;  
IF(INCLUDES({!Get_Values_from_Subscription.Country_Filter__c}, &quot;ECU&quot;), &quot;Ecuador, &quot;, null) &amp;  
IF(INCLUDES({!Get_Values_from_Subscription.Country_Filter__c}, &quot;SLV&quot;), &quot;El Salvador, &quot;, null) &amp;  
IF(INCLUDES({!Get_Values_from_Subscription.Country_Filter__c}, &quot;GTM&quot;), &quot;Guatemala, &quot;, null) &amp;  
IF(INCLUDES({!Get_Values_from_Subscription.Country_Filter__c}, &quot;HND&quot;), &quot;Honduras, &quot;, null) &amp;  
IF(INCLUDES({!Get_Values_from_Subscription.Country_Filter__c}, &quot;NIC&quot;), &quot;Nicaragua, &quot;, null) &amp;  
IF(INCLUDES({!Get_Values_from_Subscription.Country_Filter__c}, &quot;PAN&quot;), &quot;Panamá, &quot;, null) &amp;  
IF(INCLUDES({!Get_Values_from_Subscription.Country_Filter__c}, &quot;PRI&quot;), &quot;Puerto Rico, &quot;, null) &amp;  
IF(INCLUDES({!Get_Values_from_Subscription.Country_Filter__c}, &quot;LUX&quot;), &quot;Luxembourg, &quot;, null) &amp;  
IF(INCLUDES({!Get_Values_from_Subscription.Country_Filter__c}, &quot;PRY&quot;), &quot;Paraguay, &quot;, null) &amp;  
IF(INCLUDES({!Get_Values_from_Subscription.Country_Filter__c}, &quot;URY&quot;), &quot;Uruguay, &quot;, null)</expression>
    </formulas>
    <formulas>
        <name>Country_filte_formula</name>
        <dataType>String</dataType>
        <expression>LEFT({!Get_Values_from_Subscription.Country_Filter_Name__c}, Len({!Get_Values_from_Subscription.Country_Filter_Name__c})-1)</expression>
    </formulas>
    <formulas>
        <name>Dataset_labal_subscription</name>
        <dataType>String</dataType>
        <expression>IF(INCLUDES( {!Get_Values_from_Subscription.Datasets_contract__c} , &quot;DaaSAccessWebsitesBM&quot;), &quot;Websites, &quot;, null)&amp;
IF(INCLUDES( {!Get_Values_from_Subscription.Datasets_contract__c} , &quot;DaaSAccessTechnologiesBM&quot;), &quot;Technologies, &quot;, null)&amp;
IF(INCLUDES({!Get_Values_from_Subscription.Datasets_contract__c}, &quot;DaaSAccessEcommerceBM&quot;), &quot;Ecommerce, &quot;, null)&amp;
IF(INCLUDES({!Get_Values_from_Subscription.Datasets_contract__c}, &quot;DaaSAccessAdvertisingBM&quot;), &quot;Advertising, &quot;, null)&amp;
IF(INCLUDES({!Get_Values_from_Subscription.Datasets_contract__c}, &quot;StockIntelligenceMappingBM&quot;), &quot;Ticker Mapping, &quot;, null)&amp;
IF(INCLUDES({!Get_Values_from_Subscription.Datasets_contract__c}, &quot;DaaSAccessCompaniesBM&quot;), &quot;Companies, &quot;, null)&amp;
IF(INCLUDES({!Get_Values_from_Subscription.Datasets_contract__c}, &quot;DaaSAccessAppsPremiumBM&quot;), &quot;Apps Premium, &quot;, null)&amp;
IF(INCLUDES({!Get_Values_from_Subscription.Datasets_contract__c}, &quot;DaaSAccessAppsBM&quot;), &quot;Apps, &quot;, null)&amp;
IF(INCLUDES({!Get_Values_from_Subscription.Datasets_contract__c}, &quot;DaaSAccessSearchBM&quot;), &quot;Search, &quot;, null)</expression>
    </formulas>
    <formulas>
        <name>SizeOfCountryFiltername</name>
        <dataType>Number</dataType>
        <expression>LEN({!CountryFilter})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>MQ-2553</description>
        <name>Split_Left</name>
        <dataType>String</dataType>
        <expression>Left({!CountryFilter},255)</expression>
    </formulas>
    <formulas>
        <description>MQ-2553</description>
        <name>Split_long_country_other</name>
        <dataType>String</dataType>
        <expression>MID({!CountryFilter},256,255)</expression>
    </formulas>
    <interviewLabel>Quote product charge plan before save flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote product charge plan before save flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_4_0_wording_for_updated_products</name>
        <label>Get 4.0 wording for updated products</label>
        <locationX>3878</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IS_product_4_0_updated_or_renewal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_4_0_wording_for_updated_products.Level__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_4_0_wording_for_updated_products.Product_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>X4_0_add_on_wording__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Dynamic_Wording</name>
        <label>Get Dynamic Wording</label>
        <locationX>6650</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_of_4_0_product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Dynamic_Wording.Level__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Dynamic_Wording.Product_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>X4_0_add_on_wording__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Flat_fee_Product_Rate_Plan_Charge</name>
        <label>Get Flat fee Product Rate Plan Charge</label>
        <locationX>4637</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>List_price_flat_fee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>zqu__ProductRatePlanCharge__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.zqu__ProductRatePlanCharge__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>zqu__Currency2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.zqu__QuoteRatePlan__r.zqu__Quote__r.zqu__Currency__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>zqu__ProductRatePlanChargeTier__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Rate_Plan_Charge_Tier_Tiers</name>
        <label>Get Product Rate Plan Charge Tier - Tiers</label>
        <locationX>4901</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_List_price</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>zqu__ProductRatePlanCharge__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.zqu__ProductRatePlanCharge__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>zqu__Currency2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.zqu__QuoteRatePlan__r.zqu__Quote__r.zqu__Currency__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>zqu__StartingUnit__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.zqu__Quantity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>zqu__EndingUnit__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Record.zqu__Quantity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>zqu__ProductRatePlanChargeTier__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Values_from_Subscription</name>
        <label>Get Values from Subscription</label>
        <locationX>5792</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Country</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Zuora__ChargeNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.zqu__ChargeNumber__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Zuora__SubscriptionProductCharge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Original_rate_plan_charge</name>
        <label>Original rate plan charge</label>
        <locationX>2228</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Updated_Product_update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>zqu__ChargeNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.zqu__ChargeNumber__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Amendment_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Original</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>zqu__QuoteRatePlanCharge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Country_and_Tier</name>
        <label>Update Country and Tier longer then 255</label>
        <locationX>4538</locationX>
        <locationY>1571</locationY>
        <connector>
            <targetReference>Get_ADM</targetReference>
        </connector>
        <inputAssignments>
            <field>Conversion_text__c</field>
            <value>
                <elementReference>Get_Values_from_Subscription.Country_Filter__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_Filter__c</field>
            <value>
                <elementReference>Get_Values_from_Subscription.Country_Filter__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_contract_wording__c</field>
            <value>
                <elementReference>Split_long_country_other</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multi_Attribution_to_Text__c</field>
            <value>
                <elementReference>Split_Left</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tier_Structure__c</field>
            <value>
                <elementReference>$Record.zqu__ProductRatePlanCharge__r.Tier_Structure__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_quantity__c</field>
            <value>
                <elementReference>Get_Values_from_Subscription.Zuora__Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Solution_Allocation_filter</name>
        <label>Update Product 4.0  filter</label>
        <locationX>3746</locationX>
        <locationY>1463</locationY>
        <inputAssignments>
            <field>Dynamic_Contract_Wording__c</field>
            <value>
                <elementReference>Get_4_0_wording_for_updated_products.Wording__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Level__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.Level__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multi_Attribution_to_Text__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.Level__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_of_Solution_Allocation_renewal</name>
        <label>Update of Product 4.0  renewal</label>
        <locationX>4010</locationX>
        <locationY>1463</locationY>
        <inputAssignments>
            <field>Dynamic_Contract_Wording__c</field>
            <value>
                <elementReference>Get_4_0_wording_for_updated_products.Wording__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Level__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.Updated_products__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multi_Attribution_to_Text__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.Multi_Attribution_to_Text__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Quantity__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.zqu__Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>dataset_Update_from_orginal</name>
        <label>Update Datasets</label>
        <locationX>1370</locationX>
        <locationY>1355</locationY>
        <inputAssignments>
            <field>Datasets_contract__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.Updated_products__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multi_Attribution_to_Text__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.Multi_Attribution_to_Text__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Quantity__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.zqu__Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>List_price_flat_fee</name>
        <label>List price flat fee</label>
        <locationX>4637</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Previous_Quantity</targetReference>
        </connector>
        <inputAssignments>
            <field>zqu__ListPrice__c</field>
            <value>
                <elementReference>Get_Flat_fee_Product_Rate_Plan_Charge.zqu__Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update</name>
        <label>update</label>
        <locationX>4538</locationX>
        <locationY>1871</locationY>
        <inputAssignments>
            <field>Multi_Attribution_to_Text__c</field>
            <value>
                <elementReference>$Record.Country_Filter__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Aggregated_Geography_filter</name>
        <label>Update Aggregated Geography  filter</label>
        <locationX>2690</locationX>
        <locationY>1355</locationY>
        <inputAssignments>
            <field>Aggregated_Geography__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.Aggregated_Geography__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conversion_text__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.Aggregated_Geography__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multi_Attribution_to_Text__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.Aggregated_Geography__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Conversions</name>
        <label>Update Conversions</label>
        <locationX>842</locationX>
        <locationY>1355</locationY>
        <inputAssignments>
            <field>Conversion_text__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.Updated_products__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conversions__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.Updated_products__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multi_Attribution_to_Text__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.Multi_Attribution_to_Text__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Quantity__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.zqu__Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_conversions_form_country_filter</name>
        <label>Update conversions  form country filter</label>
        <locationX>578</locationX>
        <locationY>1355</locationY>
        <inputAssignments>
            <field>Conversion_text__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.Conversions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conversions__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.Conversions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multi_Attribution_to_Text__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.Conversions__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_countries</name>
        <label>Update countries</label>
        <locationX>314</locationX>
        <locationY>1355</locationY>
        <inputAssignments>
            <field>Conversion_text__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.Updated_products__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_Filter__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.Updated_products__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_contract_wording__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.Flow_contract_wording__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multi_Attribution_to_Text__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.Multi_Attribution_to_Text__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Quantity__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.zqu__Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tier_Structure__c</field>
            <value>
                <elementReference>$Record.zqu__ProductRatePlanCharge__r.Tier_Structure__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_countries_form_country_filter</name>
        <label>Update countries form country filter</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <inputAssignments>
            <field>Conversion_text__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.Country_Filter__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_Filter__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.Country_Filter__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_contract_wording__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.Flow_contract_wording__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multi_Attribution_to_Text__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.Multi_Attribution_to_Text__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Original_rate_plan_charge.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tier_Structure__c</field>
            <value>
                <elementReference>$Record.zqu__ProductRatePlanCharge__r.Tier_Structure__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Country_and_Tier</name>
        <label>Update Country and Tier</label>
        <locationX>4802</locationX>
        <locationY>1571</locationY>
        <connector>
            <targetReference>Get_ADM</targetReference>
        </connector>
        <inputAssignments>
            <field>Conversion_text__c</field>
            <value>
                <elementReference>Get_Values_from_Subscription.Country_Filter__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_Filter__c</field>
            <value>
                <elementReference>Get_Values_from_Subscription.Country_Filter__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multi_Attribution_to_Text__c</field>
            <value>
                <stringValue>{!Country_filte_formula} {!Convert_country_iso_to_name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tier_Structure__c</field>
            <value>
                <elementReference>$Record.zqu__ProductRatePlanCharge__r.Tier_Structure__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_quantity__c</field>
            <value>
                <elementReference>Get_Values_from_Subscription.Zuora__Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Datasets</name>
        <label>Update Datasets</label>
        <locationX>1106</locationX>
        <locationY>1355</locationY>
        <inputAssignments>
            <field>Datasets_contract__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.Datasets_contract__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multi_Attribution_to_Text__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.Datasets_contract__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_default_USA</name>
        <label>Update default USA</label>
        <locationX>7178</locationX>
        <locationY>1139</locationY>
        <inputAssignments>
            <field>Conversion_text__c</field>
            <value>
                <stringValue>USA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_Filter__c</field>
            <value>
                <stringValue>USA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multi_Attribution_to_Text__c</field>
            <value>
                <stringValue>United States</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tier_Structure__c</field>
            <value>
                <elementReference>$Record.zqu__ProductRatePlanCharge__r.Tier_Structure__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_products__c</field>
            <value>
                <stringValue>USA</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_List_price</name>
        <label>Update List price</label>
        <locationX>4901</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Previous_Quantity</targetReference>
        </connector>
        <inputAssignments>
            <field>CARR_Monthly_Total__c</field>
            <value>
                <elementReference>Get_Product_Rate_Plan_Charge_Tier_Tiers.zqu__Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Managed_Services_filter</name>
        <label>Update Managed Services  filter</label>
        <locationX>2162</locationX>
        <locationY>1355</locationY>
        <inputAssignments>
            <field>Manage_Service__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.Manage_Service__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multi_Attribution_to_Text__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.Manage_Service__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Managed_Services_renewal</name>
        <label>Update Managed Services renewal</label>
        <locationX>2426</locationX>
        <locationY>1355</locationY>
        <inputAssignments>
            <field>Manage_Service__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.Updated_products__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multi_Attribution_to_Text__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.Multi_Attribution_to_Text__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Quantity__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.zqu__Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_of_4_0_product</name>
        <label>Update of 4.0 product</label>
        <locationX>6650</locationX>
        <locationY>1355</locationY>
        <inputAssignments>
            <field>Dynamic_Contract_Wording__c</field>
            <value>
                <elementReference>Get_Dynamic_Wording.Wording__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Level__c</field>
            <value>
                <elementReference>Get_Values_from_Subscription.Level__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_quantity__c</field>
            <value>
                <elementReference>Get_Values_from_Subscription.Zuora__Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_of_Aggregated_Geography</name>
        <label>Update of Aggregated Geography</label>
        <locationX>6122</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>Aggregated_Geography__c</field>
            <value>
                <elementReference>Get_Values_from_Subscription.Aggregated_Geography__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conversion_text__c</field>
            <value>
                <elementReference>Get_Values_from_Subscription.Aggregated_Geography__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multi_Attribution_to_Text__c</field>
            <value>
                <elementReference>Convert_Aggregated_Geography_API_to_label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_quantity__c</field>
            <value>
                <elementReference>Get_Values_from_Subscription.Zuora__Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_of_Aggregated_Geography_renewal</name>
        <label>Update of Aggregated Geography renewal</label>
        <locationX>2954</locationX>
        <locationY>1355</locationY>
        <inputAssignments>
            <field>Aggregated_Geography__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.Updated_products__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conversion_text__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.Updated_products__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multi_Attribution_to_Text__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.Multi_Attribution_to_Text__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Quantity__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.zqu__Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_of_conversation</name>
        <label>Update of conversation</label>
        <locationX>5066</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>Conversion_text__c</field>
            <value>
                <elementReference>Get_Values_from_Subscription.Conversions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conversions__c</field>
            <value>
                <elementReference>Get_Values_from_Subscription.Conversions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_quantity__c</field>
            <value>
                <elementReference>Get_Values_from_Subscription.Zuora__Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_of_Datasets</name>
        <label>Update of Datasets</label>
        <locationX>5330</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>Datasets_contract__c</field>
            <value>
                <elementReference>Get_Values_from_Subscription.Datasets_contract__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multi_Attribution_to_Text__c</field>
            <value>
                <elementReference>Get_Values_from_Subscription.Datasets_contract__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tier_Structure__c</field>
            <value>
                <elementReference>$Record.zqu__ProductRatePlanCharge__r.Tier_Structure__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_quantity__c</field>
            <value>
                <elementReference>Get_Values_from_Subscription.Zuora__Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_of_Managed_Services</name>
        <label>Update of Managed Services</label>
        <locationX>5858</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>Manage_Service__c</field>
            <value>
                <elementReference>Get_Values_from_Subscription.Manage_Service__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multi_Attribution_to_Text__c</field>
            <value>
                <elementReference>Get_Values_from_Subscription.Manage_Service__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tier_Structure__c</field>
            <value>
                <elementReference>$Record.zqu__ProductRatePlanCharge__r.Tier_Structure__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_quantity__c</field>
            <value>
                <elementReference>Get_Values_from_Subscription.Zuora__Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_of_Shopper_Domain</name>
        <label>Update of Shopper Domain</label>
        <locationX>5594</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>Conversion_text__c</field>
            <value>
                <elementReference>Get_Values_from_Subscription.Shopper_Domain__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multi_Attribution_to_Text__c</field>
            <value>
                <elementReference>Get_Values_from_Subscription.Shopper_Domain__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shopper_Domain__c</field>
            <value>
                <elementReference>Get_Values_from_Subscription.Shopper_Domain__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_quantity__c</field>
            <value>
                <elementReference>Get_Values_from_Subscription.Zuora__Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_of_Solution_Allocation</name>
        <label>Update of Solution Allocation</label>
        <locationX>6386</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>Conversion_text__c</field>
            <value>
                <elementReference>Get_Values_from_Subscription.Solution_Allocation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solution_Allocation__c</field>
            <value>
                <elementReference>Get_Values_from_Subscription.Solution_Allocation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_quantity__c</field>
            <value>
                <elementReference>Get_Values_from_Subscription.Zuora__Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_of_Solution_Allocation_renewal</name>
        <label>Update of Solution Allocation renewal</label>
        <locationX>3482</locationX>
        <locationY>1355</locationY>
        <inputAssignments>
            <field>Conversion_text__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.Updated_products__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multi_Attribution_to_Text__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.Multi_Attribution_to_Text__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Quantity__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.zqu__Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solution_Allocation__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.Updated_products__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_previous_Quantity1</name>
        <label>Update previous Quantity</label>
        <locationX>4274</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>Previous_Quantity__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.zqu__Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Shopper_Domain</name>
        <label>Update Shopper Domain</label>
        <locationX>1898</locationX>
        <locationY>1355</locationY>
        <inputAssignments>
            <field>Multi_Attribution_to_Text__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.Multi_Attribution_to_Text__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Quantity__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.zqu__Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shopper_Domain__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.Updated_products__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_shopper_filter</name>
        <label>Update shopper  filter</label>
        <locationX>1634</locationX>
        <locationY>1355</locationY>
        <inputAssignments>
            <field>Multi_Attribution_to_Text__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.Shopper_Domain__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shopper_Domain__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.Shopper_Domain__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Solution_Allocation_filter</name>
        <label>Update Solution Allocation  filter</label>
        <locationX>3218</locationX>
        <locationY>1355</locationY>
        <inputAssignments>
            <field>Conversion_text__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.Solution_Allocation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multi_Attribution_to_Text__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.Solution_Allocation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solution_Allocation__c</field>
            <value>
                <elementReference>Original_rate_plan_charge.Solution_Allocation__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>4841</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>One_Time_Original</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Amendment_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UpdateProduct</stringValue>
            </value>
        </filters>
        <filters>
            <field>Amendment_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Original</stringValue>
            </value>
        </filters>
        <filters>
            <field>Amendment_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NewProduct</stringValue>
            </value>
        </filters>
        <object>zqu__QuoteRatePlanCharge__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Character_size</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CountryFilter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!Country_filte_formula} {!Convert_country_iso_to_name}</stringValue>
        </value>
    </variables>
</Flow>
