force-app/main/default/flows/Quote_Time_based_Trial_End_date_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Alert</name>
        <label>Email Alert</label>
        <locationX>582</locationX>
        <locationY>564</locationY>
        <actionName>zqu__Quote__c.Trial_Reminder_for_existing_customer</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>zqu__Quote__c.Trial_Reminder_for_existing_customer</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Trial_Reminder_for_existing_customer_today</name>
        <label>Trial - Reminder for existing customer (today)</label>
        <locationX>843</locationX>
        <locationY>565</locationY>
        <actionName>zqu__Quote__c.Trial_Reminder_for_existing_customer_today</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>zqu__Quote__c.Trial_Reminder_for_existing_customer_today</nameSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <description>LAST - MQ-1694 
An email notification will be sent out to the quote owner 5 days prior to the trial end date. The email will remind the rep to revert back to the original package.</description>
    <environments>Default</environments>
    <formulas>
        <name>fr_TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Quote - Time-based - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote - Time-based - Trial - End date Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>586</locationX>
        <locationY>51</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Trial_End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>zqu_Quote_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Processed Directly in Zuora</stringValue>
            </value>
        </filters>
        <filters>
            <field>zqu_Quote_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sent To Zuora</stringValue>
            </value>
        </filters>
        <object>zqu__Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X2_Days_Before_Quote_Trial_End_Date</name>
            <connector>
                <targetReference>Email_Alert</targetReference>
            </connector>
            <label>2 Days Before Quote: Trial End Date</label>
            <offsetNumber>-2</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Trial_End_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Trial_End_Date_Today</name>
            <connector>
                <targetReference>Trial_Reminder_for_existing_customer_today</targetReference>
            </connector>
            <label>Trial End Date = Today</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Trial_End_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
