force-app/main/default/flows/Request_Record_Triggered_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AF_ASR_Request_was_approved_by_Finance</name>
        <label>AF - ASR_Request_was_approved_by_Finance</label>
        <locationX>534</locationX>
        <locationY>4331</locationY>
        <actionName>Request__c.ASR_Request_was_approved_by_Finance</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Rule_HSE_Have_SE</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.ASR_Request_was_approved_by_Finance</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>alert_PastDDQAlert</name>
        <label>Past DDQ Alert</label>
        <locationX>380</locationX>
        <locationY>1139</locationY>
        <actionName>Request__c.Past_DDQ_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Rule_NDAN_Signed_NDA_No</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.Past_DDQ_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>ASER_Auto_assigned_Request</name>
        <label>ASER - Auto_assigned_Request</label>
        <locationX>534</locationX>
        <locationY>11039</locationY>
        <actionName>Request__c.Auto_assigned_Request</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Rule_RCSE_Recipient_is_changed_for_SE</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.Auto_assigned_Request</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>ASRV_ASR_Request_moved_to_Verbally_Confirmed</name>
        <label>ASRV - ASR Request moved to Verbally Confirmed</label>
        <locationX>534</locationX>
        <locationY>3431</locationY>
        <actionName>Request__c.ASR_Request_moved_to_Verbally_Confirmed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Rule_SSE_SYS_Recipient_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.ASR_Request_moved_to_Verbally_Confirmed</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>ASRW_ASR_Request_moved_to_Closed_Won</name>
        <label>ASRW - ASR_Request_moved_to_Closed_Won</label>
        <locationX>534</locationX>
        <locationY>4031</locationY>
        <actionName>Request__c.ASR_Request_moved_to_Closed_Won</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Rule_AF_Approved_by_Finance</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.ASR_Request_moved_to_Closed_Won</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_TE_Temporary_extension</name>
        <label>Copy 1 of TE - Temporary extension</label>
        <locationX>666</locationX>
        <locationY>539</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Record_type_is_DDQ</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Temporary_extension_RR_and_AD2</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>MIS-7445</description>
        <name>CPR_Churn_Protection_Status_Update</name>
        <label>CPR - Churn Protection Status Update</label>
        <locationX>710</locationX>
        <locationY>2831</locationY>
        <actionName>Request__c.Churn_Protection_Request_Status_Changed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Approved_or_Cancelled</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.Churn_Protection_Request_Status_Changed</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CRJ_CSA_Request_for_Japan</name>
        <label>CRJ - CSA Request for Japan</label>
        <locationX>534</locationX>
        <locationY>11639</locationY>
        <actionName>Request__c.CSA_Request_for_Japan</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Rule_NSI_New_Sales_Intelligence_Deal_Support</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.CSA_Request_for_Japan</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>DDQ_Did_we_try_to_send_the_SW_templates</name>
        <label>DDQ Did we try to send the SW templates?”</label>
        <locationX>534</locationX>
        <locationY>1931</locationY>
        <actionName>Request__c.DDQ_Did_we_try_to_send_the_SW_templates</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Rule_NDAYN_Signed_NDA_Yes_No_But</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.DDQ_Did_we_try_to_send_the_SW_templates</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>DDQN_Notify_Recipient_about_ddq_request</name>
        <label>DDQN - Notify_Recipient_about_ddq_request</label>
        <locationX>534</locationX>
        <locationY>8639</locationY>
        <actionName>Request__c.Notify_Recipient_about_ddq_request</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Rule_TY_SW_Template_Yes_the_client_had_accepted_it</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.Notify_Recipient_about_ddq_request</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>DDQP_DDQ_Security_Questionnaires_Updated</name>
        <label>DDQP - DDQ_Security_Questionnaires_Updated</label>
        <locationX>534</locationX>
        <locationY>10739</locationY>
        <actionName>Request__c.DDQ_Security_Questionnaires_Updated</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Rule_ASER_Auto_assigned_SE_Request</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.DDQ_Security_Questionnaires_Updated</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>DDQS_DDQ_Security_Questionnaires_Submitted</name>
        <label>DDQS - DDQ_Security_Questionnaires_Submitted</label>
        <locationX>666</locationX>
        <locationY>10439</locationY>
        <actionName>Request__c.DDQ_Security_Questionnaires_Submitted</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Rule_DDQP_DDQ_Pending_Requestor</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.DDQ_Security_Questionnaires_Submitted</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>EMAIL_ASR_Americas</name>
        <label>EMAIL ASR Americas</label>
        <locationX>578</locationX>
        <locationY>5231</locationY>
        <actionName>Request__c.ASR_Request_Submitted</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Rule_NR_New_Request</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.ASR_Request_Submitted</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_ASR_APAC_EMEA</name>
        <label>Email ASR APAC + EMEA</label>
        <locationX>314</locationX>
        <locationY>5231</locationY>
        <actionName>Request__c.ASR_Request_Submitted_APAC</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Rule_NR_New_Request</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.ASR_Request_Submitted_APAC</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_ASR_Investors</name>
        <label>Email ASR Investors</label>
        <locationX>842</locationX>
        <locationY>5231</locationY>
        <actionName>Request__c.ASR_Request_Submitted_Investors</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Rule_NR_New_Request</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.ASR_Request_Submitted_Investors</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Insights_Request_Competed_Alert</name>
        <label>Insights Request Competed Alert</label>
        <locationX>534</locationX>
        <locationY>14639</locationY>
        <actionName>Request__c.Insights_Request_Completed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Approved_By_Finance_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.Insights_Request_Completed</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>ISS_Investor_Solution_Request_has_been_submitted</name>
        <label>ISS - Investor_Solution_Request_has_been_submitted</label>
        <locationX>534</locationX>
        <locationY>6839</locationY>
        <actionName>Request__c.Investor_Solution_Request_has_been_submitted</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Rule_SR_Supplier_Resubmitted</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.Investor_Solution_Request_has_been_submitted</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>NCP_New_Churn_Protection_Request</name>
        <label>CPR - New_Churn_Protection_Request</label>
        <locationX>314</locationX>
        <locationY>2831</locationY>
        <actionName>Request__c.New_Churn_Protection_Request</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Approved_or_Cancelled</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.New_Churn_Protection_Request</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>NDAN_DDQ_Complexity_Alert_Only_No</name>
        <label>NDAN - DDQ Complexity Alert (Only &apos;No&apos;)</label>
        <locationX>534</locationX>
        <locationY>1523</locationY>
        <actionName>Request__c.DDQ_Complexity_Alert_Only_No</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Alert_on_DDQ_if_FISD_was_not_sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.DDQ_Complexity_Alert_Only_No</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>NDAYN_DDQ_Complexity_Alert_Yes_no_but_there_is_a_contract</name>
        <label>NDAYN - DDQ Complexity Alert (Yes, no but there is a contract)</label>
        <locationX>534</locationX>
        <locationY>2231</locationY>
        <actionName>Request__c.DDQ_Complexity_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Rule_URT_Unassigned_Request_True</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.DDQ_Complexity_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>NDI_DI_Request_Created</name>
        <label>NDI - DI_Request_Created</label>
        <locationX>732</locationX>
        <locationY>12347</locationY>
        <actionName>Request__c.DI_Request_Created</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ORR_Onboarding_Request_Reassigned</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.DI_Request_Created</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>New_Insights_Request_Email</name>
        <label>New Insights Request Email</label>
        <locationX>534</locationX>
        <locationY>14339</locationY>
        <actionName>Request__c.A_new_Insights_request_was_submitted</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Insights_Request_Status_Changed_To</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.A_new_Insights_request_was_submitted</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>NQR_New_Quote_Request</name>
        <label>NQR - New_Quote_Request</label>
        <locationX>534</locationX>
        <locationY>4931</locationY>
        <actionName>Request__c.New_Quote_Request</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Rule_ASRA_ASR_Request</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.New_Quote_Request</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>NR_Request_Created</name>
        <label>NR - Request_Created</label>
        <locationX>402</locationX>
        <locationY>5639</locationY>
        <actionName>Request__c.Request_Created</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Rule_SCTR_SC_or_TR_Status_changed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.Request_Created</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>NSI_A_new_Sales_Intelligence_Deal_Support_request_was_submitted</name>
        <label>NSI - A new Sales Intelligence Deal Support request was submitted</label>
        <locationX>534</locationX>
        <locationY>11939</locationY>
        <actionName>Request__c.A_new_Sales_Intelligence_Deal_Support_request_was_submitted</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Rule_ASW_AS_Request_Closed_Won_Opp_Upd</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.A_new_Sales_Intelligence_Deal_Support_request_was_submitted</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Send alert &quot;Request Created&quot;</description>
        <name>RCSE_Request_Created</name>
        <label>RCSE - Request Created</label>
        <locationX>534</locationX>
        <locationY>11339</locationY>
        <actionName>Request__c.Request_Created</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Rule_CRJ_CSA_Request_for_Japan</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.Request_Created</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Request_Approved_By_Finance</name>
        <label>Request Approved By Finance</label>
        <locationX>534</locationX>
        <locationY>14939</locationY>
        <actionName>Request__c.Request_Approved_By_Finance</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>New_Request_Record_Type_Is</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.Request_Approved_By_Finance</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Request_Created_Recipient_Manager</name>
        <label>Request Created + Recipient Manager</label>
        <locationX>666</locationX>
        <locationY>5639</locationY>
        <actionName>Request__c.Request_Created_Recipient_Manager</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Rule_SCTR_SC_or_TR_Status_changed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.Request_Created_Recipient_Manager</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>RWC_Request_Created</name>
        <label>RWC - Request_Created</label>
        <locationX>534</locationX>
        <locationY>6239</locationY>
        <actionName>Request__c.Request_Created</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Rule_QSC_Quote_Status_Changed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.Request_Created</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SCP_Request_status_is_changed_to_Pending_Client</name>
        <label>SCP - Request_status_is_changed_to_Pending_Client</label>
        <locationX>534</locationX>
        <locationY>9239</locationY>
        <actionName>Request__c.Request_status_is_changed_to_Pending_Client</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Rule_TYPC_SW_Template_Yes_pending_client_review</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.Request_status_is_changed_to_Pending_Client</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SCTR_Request_Status_Changed</name>
        <label>SCTR - Request_Status_Changed</label>
        <locationX>534</locationX>
        <locationY>5939</locationY>
        <actionName>Request__c.Request_Status_Changed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Rule_RWC_Recipient_was_changed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.Request_Status_Changed</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>MIS-6886</description>
        <name>Search_Intelligence_Deal_Support_Alert_to_Recipient</name>
        <label>Search Intelligence Deal Support Alert to Recipient</label>
        <locationX>534</locationX>
        <locationY>13631</locationY>
        <actionName>Request__c.New_Search_Intelligence_Deal_Support_Request</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Missing_SDK_APP_Alerts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.New_Search_Intelligence_Deal_Support_Request</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_AS_Request_Has_Been_Cancelled_alert</name>
        <label>Send AS Request Has Been Cancelled alert</label>
        <locationX>50</locationX>
        <locationY>5339</locationY>
        <actionName>Request__c.Advisory_Services_Request_Has_Been_Cancelled</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Rule_NR_New_Request</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.Advisory_Services_Request_Has_Been_Cancelled</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>MIS-6824</description>
        <name>Send_New_Investor_Request_Email</name>
        <label>Send New Investor Request Email</label>
        <locationX>534</locationX>
        <locationY>13331</locationY>
        <actionName>Request__c.A_new_Investor_request_was_submitted</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Rule_NSIDS_New_Search_Intelligence_Deal_Support</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.A_new_Investor_request_was_submitted</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>MIS-7521</description>
        <name>Send_New_SDK_APP_Alert</name>
        <label>Send New SDK/APP Alert</label>
        <locationX>402</locationX>
        <locationY>13931</locationY>
        <actionName>Request__c.Missing_SDK_APP_Request_Submitted</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>New_Request_Type_Is</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.Missing_SDK_APP_Request_Submitted</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>MIS-7521</description>
        <name>Send_Status_Updated_SDK_APP_Alert</name>
        <label>Send Status Updated SDK/APP Alert</label>
        <locationX>666</locationX>
        <locationY>13931</locationY>
        <actionName>Request__c.Missing_SDK_APP_Request_Status_Updated</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>New_Request_Type_Is</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.Missing_SDK_APP_Request_Status_Updated</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Shopper_Intelligence_Deal_Support_Request_Created</name>
        <label>Shopper Intelligence Deal Support Request Created</label>
        <locationX>534</locationX>
        <locationY>15239</locationY>
        <actionName>Request__c.Shopper_Intelligence_Deal_Support_Request_Created</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>NEXT_RULE_HERE_PLEASE</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.Shopper_Intelligence_Deal_Support_Request_Created</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SIMA_SIM_Request_Assigned</name>
        <label>SIMA - SIM_Request_Assigned</label>
        <locationX>534</locationX>
        <locationY>7439</locationY>
        <actionName>Request__c.SIM_Request_Assigned</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Rule_ASCU_AS_RT_Request_Created_Upd</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.SIM_Request_Assigned</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SR_Supplier_Questionnaire_Resubmitted</name>
        <label>SR - Supplier_Questionnaire_Resubmitted</label>
        <locationX>534</locationX>
        <locationY>7139</locationY>
        <actionName>Request__c.Supplier_Questionnaire_Resubmitted</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Rule_SIMA_SIM_Request_Assignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.Supplier_Questionnaire_Resubmitted</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>TE</name>
        <label>TE - Trial extension</label>
        <locationX>138</locationX>
        <locationY>431</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Record_type_is_DDQ</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Type_of_extension_Trial_extension11</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>TE_Permanent_Renewal</name>
        <label>TE - Permanent Renewal</label>
        <locationX>402</locationX>
        <locationY>431</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Record_type_is_DDQ</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Type_of_extension_Permanent_Renewal14</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>TE_Temporary_extension</name>
        <label>TE - Temporary extension</label>
        <locationX>930</locationX>
        <locationY>539</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Record_type_is_DDQ</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Type_of_extension_Temporary_extension25</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>MIS-4963</description>
        <name>Threshold_Email_DDQ</name>
        <label>Threshold Email - DDQ</label>
        <locationX>402</locationX>
        <locationY>10439</locationY>
        <actionName>Request__c.Pending_Threshold_Review_DDQ</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Rule_DDQP_DDQ_Pending_Requestor</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.Pending_Threshold_Review_DDQ</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>TNN_Before_creating_a_DDQ_No</name>
        <label>TNN - Before_creating_a_DDQ_No</label>
        <locationX>534</locationX>
        <locationY>8339</locationY>
        <actionName>Request__c.Before_creating_a_DDQ_No</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Rule_DDQN_DDQ_new_recipient_alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.Before_creating_a_DDQ_No</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>TNY_Before_creating_a_DDQ</name>
        <label>TNY - Before_creating_a_DDQ</label>
        <locationX>534</locationX>
        <locationY>8039</locationY>
        <actionName>Request__c.Before_creating_a_DDQ</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Rule_TNN_SW_Template_Not_yet_No</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.Before_creating_a_DDQ</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>TY_Your_DDQ_has_been_automatically_completed</name>
        <label>TY - Your_DDQ_has_been_automatically_completed</label>
        <locationX>534</locationX>
        <locationY>8939</locationY>
        <actionName>Request__c.Your_DDQ_has_been_automatically_completed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Rule_SCP_Status_changed_to_Pending_client</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.Your_DDQ_has_been_automatically_completed</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>TYPC_Your_DDQ_has_been_accepted</name>
        <label>TYPC - Your_DDQ_has_been_accepted</label>
        <locationX>534</locationX>
        <locationY>9539</locationY>
        <actionName>Request__c.Your_DDQ_has_been_accepted</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Rule_NDDQ_New_DDQ</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.Your_DDQ_has_been_accepted</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>URT_Email_SalesOps</name>
        <label>URT - Email SalesOps</label>
        <locationX>534</locationX>
        <locationY>2531</locationY>
        <actionName>Request__c.Email_SalesOps</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Rule_CPR_Churn_Protection_Request_New_Status_Update</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Request__c.Email_SalesOps</nameSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>MIS-3793 - send an alert if Did we try to send the SW templates? is marked as no</description>
        <name>Alert_on_DDQ_if_FISD_was_not_sent</name>
        <label>Alert on DDQ if FISD was not sent</label>
        <locationX>666</locationX>
        <locationY>1715</locationY>
        <defaultConnector>
            <targetReference>Rule_NDAYN_Signed_NDA_Yes_No_But</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Did_we_try_to_send_the_SW_templates_no</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Did_we_try_to_send_the_SW_template__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not yet</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_status_to_Pending_Requestor</targetReference>
            </connector>
            <label>Did we try to send the SW templates - no</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-6937</description>
        <name>Approved_By_Finance_Date</name>
        <label>Approved By Finance Date</label>
        <locationX>666</locationX>
        <locationY>14831</locationY>
        <defaultConnector>
            <targetReference>New_Request_Record_Type_Is</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Was_Set</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approved_by_Finance__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approved_by_Finance__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120X000000UzhVQAS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120X0000005lrhQAA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012QB0000024lATYAY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_Approved_By_Finance</targetReference>
            </connector>
            <label>Was Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approved_or_Cancelled</name>
        <label>Approved or Cancelled?</label>
        <locationX>710</locationX>
        <locationY>2939</locationY>
        <defaultConnector>
            <targetReference>Rule_ASRV_ASR_Request_moved_to_Verbally_Confirmed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Approved_or_Cancelled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Resolution_Date</targetReference>
            </connector>
            <label>Yes, Approved or Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_AtLeast1DDQRequestFound</name>
        <label>At Least 1 DDQ Request Found</label>
        <locationX>512</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Rule_NDAN_Signed_NDA_No</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>outcome_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_GetAtLeast1DDQRequest.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>alert_PastDDQAlert</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-7726</description>
        <name>Insights_Request_Status_Changed_To</name>
        <label>Insights Request Status Changed To</label>
        <locationX>666</locationX>
        <locationY>14531</locationY>
        <defaultConnector>
            <targetReference>Approved_By_Finance_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012QB0000062rZXYAY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insights_Request_Competed_Alert</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-7521</description>
        <name>Missing_SDK_APP_Alerts</name>
        <label>Missing SDK/APP Alerts</label>
        <locationX>666</locationX>
        <locationY>13823</locationY>
        <defaultConnector>
            <targetReference>New_Request_Type_Is</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_SDK_APP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Missing_SDK_APP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fr_ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_New_SDK_APP_Alert</targetReference>
            </connector>
            <label>New SDK/APP</label>
        </rules>
        <rules>
            <name>Status_Updated_ASK_APP</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Missing_SDK_APP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Process</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Status_Updated_SDK_APP_Alert</targetReference>
            </connector>
            <label>Status Updated ASK/APP</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Request_Record_Type_Is</name>
        <label>New Request Record Type Is</label>
        <locationX>666</locationX>
        <locationY>15131</locationY>
        <defaultConnector>
            <targetReference>NEXT_RULE_HERE_PLEASE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Shopper_Intelligence_Deal_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012QB000000tdAPYAY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fr_ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Shopper_Intelligence_Deal_Support_Request_Created</targetReference>
            </connector>
            <label>Shopper Intelligence Deal Support</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-7726</description>
        <name>New_Request_Type_Is</name>
        <label>New Request Type Is</label>
        <locationX>666</locationX>
        <locationY>14123</locationY>
        <defaultConnector>
            <targetReference>Insights_Request_Status_Changed_To</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Insights</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fr_ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012QB0000062rZXYAY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Owner_To_Insights_Queue</targetReference>
            </connector>
            <label>Insights</label>
        </rules>
    </decisions>
    <decisions>
        <description>All decisions after this decision should stop once it&apos;s executed
Like &apos;Stop&apos; in Process Builder

All decisions before this decision should be connected to each other (Default outcome)
Like &apos;Evaluate Next&apos; in Process Builder.</description>
        <name>NEXT_RULE_HERE_PLEASE</name>
        <label>NEXT RULE HERE PLEASE!!!!</label>
        <locationX>666</locationX>
        <locationY>15431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Next_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <label>Next Rule</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-4730</description>
        <name>ORR_Onboarding_Request_Reassigned</name>
        <label>*(ORR)* - Onboarding Request Reassigned?</label>
        <locationX>666</locationX>
        <locationY>12623</locationY>
        <defaultConnector>
            <targetReference>Recipient_Changed_Update_Onboarding_Recipient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Onboarding_Request_Reassigned</name>
            <conditionLogic>(1 AND 2 AND 3) AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding_Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_to_Slack_Flow</targetReference>
            </connector>
            <label>Onboarding Request Reassigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recipient_Changed_Update_Onboarding_Recipient</name>
        <label>Recipient Changed - Update Onboarding Recipient</label>
        <locationX>666</locationX>
        <locationY>12923</locationY>
        <defaultConnector>
            <targetReference>Rule_NIR_New_Investor_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recipient_Changed</name>
            <conditionLogic>(1 OR ( 2 AND 3 )) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Recipient_Picklist__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Recipient_Picklist__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Recipient_Picklist__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Onboarding_Recipient</targetReference>
            </connector>
            <label>Recipient Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_type_is_DDQ</name>
        <label>Record type is DDQ?</label>
        <locationX>666</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Rule_NDAN_Signed_NDA_No</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_it_s_DDQ</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120O000000BwRPQA0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120O000000BwRP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_GetAtLeast1DDQRequest</targetReference>
            </connector>
            <label>Yes,it&apos;s DDQ</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_AF_Approved_by_Finance</name>
        <label>*Rule (AF)* - Approved by Finance</label>
        <locationX>666</locationX>
        <locationY>4223</locationY>
        <defaultConnector>
            <targetReference>Rule_HSE_Have_SE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved_by_Finance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advisory_Services_Request	</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approved_by_Finance__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approved_by_Finance__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AF_ASR_Request_was_approved_by_Finance</targetReference>
            </connector>
            <label>Approved by Finance</label>
        </rules>
    </decisions>
    <decisions>
        <description>ASR Request moved to Closed Won, Completed, Initiated</description>
        <name>Rule_ARSW_ASR_Request_moved_to_Closed_Won_Completed_Initiated</name>
        <label>*Rule (ARSW)* - ASR Request moved to Closed Won, Completed, Initiated</label>
        <locationX>666</locationX>
        <locationY>3923</locationY>
        <defaultConnector>
            <targetReference>Rule_AF_Approved_by_Finance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ASR_Closed_Won_Completed_Initiated</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advisory_Services_Request	</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initiated - Future deliveries remaining</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASRW_ASR_Request_moved_to_Closed_Won</targetReference>
            </connector>
            <label>ASR - Closed Won, Completed, Initiated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_ASCU_AS_RT_Request_Created_Upd</name>
        <label>*Rule (ASCU)* - AS RT Request Created/Upd</label>
        <locationX>666</locationX>
        <locationY>7631</locationY>
        <defaultConnector>
            <targetReference>Rule_TNY_SW_Template_Not_yet_Yes_No_but_there_is</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AS_RT_Request_Created_Upd</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advisory_Services_Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.List_price__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASCU_Updated_Status_and_List_Price_on_Opportunity</targetReference>
            </connector>
            <label>AS RT Request Created/Upd</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_ASER_Auto_assigned_SE_Request</name>
        <label>*Rule (ASER)* - Auto-assigned SE Request</label>
        <locationX>666</locationX>
        <locationY>10931</locationY>
        <defaultConnector>
            <targetReference>Rule_RCSE_Recipient_is_changed_for_SE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Auto_assigned_SE_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solution_Engineering</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Recipient_Picklist__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solution Consultants (Queue)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASER_Auto_assigned_Request</targetReference>
            </connector>
            <label>Auto-assigned SE Request</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-3222</description>
        <name>Rule_ASRA_ASR_Request</name>
        <label>*Rule (ASRA)* - ASR Request</label>
        <locationX>666</locationX>
        <locationY>5123</locationY>
        <defaultConnector>
            <targetReference>Rule_NR_New_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_AS_and_Not_Qualified</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>fr_ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Average_Visits_On_Desktop_100K__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User_Device_Level_Data_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advisory Services Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_to_Cancelled</targetReference>
            </connector>
            <label>New AS and Not Qualified</label>
        </rules>
        <rules>
            <name>ASR_Request_APAC_EMEA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advisory_Services_Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Recipient__r.Username</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>becca.edelman@similarweb.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_ASR_APAC_EMEA</targetReference>
            </connector>
            <label>ASR Request APAC + EMEA</label>
        </rules>
        <rules>
            <name>ASR_Request_Americas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advisory_Services_Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Recipient__r.Username</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ben.parkes@similarweb.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EMAIL_ASR_Americas</targetReference>
            </connector>
            <label>ASR Request Americas</label>
        </rules>
        <rules>
            <name>ASR_Request_Investors</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advisory_Services_Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Recipient__r.Username</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>gavin.davidson@similarweb.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_ASR_Investors</targetReference>
            </connector>
            <label>ASR Request Investors</label>
        </rules>
        <rules>
            <name>ASR_Request_Agencies_Strategic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advisory_Services_Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Recipient__r.Username</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>nicolas.bureau@similarweb.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_NR_New_Request</targetReference>
            </connector>
            <label>ASR Request Agencies Strategic</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_ASRV_ASR_Request_moved_to_Verbally_Confirmed</name>
        <label>*Rule (ASRV)* - ASR Request moved to Verbally Confirmed</label>
        <locationX>666</locationX>
        <locationY>3323</locationY>
        <defaultConnector>
            <targetReference>Rule_SSE_SYS_Recipient_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ASR_Request_moved_to_Verbally_Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advisory_Services_Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verbally Confirmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASRV_ASR_Request_moved_to_Verbally_Confirmed</targetReference>
            </connector>
            <label>ASR Request moved to Verbally Confirmed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_ASW_AS_Request_Closed_Won_Opp_Upd</name>
        <label>*Rule (ASW)* - AS Request Closed Won Opp Upd</label>
        <locationX>666</locationX>
        <locationY>12131</locationY>
        <defaultConnector>
            <targetReference>Rule_NDI_New_DI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Request_Closed_Won_Opp_Upd</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advisory_Services_Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASW_Opp_AS_Status_and_AS_List_Price_Upd</targetReference>
            </connector>
            <label>Request Closed Won Opp Upd</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_CPR_Churn_Protection_Request_New_Status_Update</name>
        <label>*Rule (CPR)* - Churn Protection Request New/Status Update</label>
        <locationX>666</locationX>
        <locationY>2723</locationY>
        <defaultConnector>
            <targetReference>Rule_ASRV_ASR_Request_moved_to_Verbally_Confirmed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Churn_Protection_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Churn_Protection	</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NCP_New_Churn_Protection_Request</targetReference>
            </connector>
            <label>New Churn Protection Request</label>
        </rules>
        <rules>
            <name>Churn_Protection_Status_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Churn_Protection</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CPR_Churn_Protection_Status_Update</targetReference>
            </connector>
            <label>Churn Protection Status Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_CRJ_CSA_Request_for_Japan</name>
        <label>*Rule(CRJ)* - CSA Request for Japan</label>
        <locationX>666</locationX>
        <locationY>11531</locationY>
        <defaultConnector>
            <targetReference>Rule_NSI_New_Sales_Intelligence_Deal_Support</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CSA_Request_for_Japan</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solution_Implementation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Recipient_Picklist__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Japan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CRJ_CSA_Request_for_Japan</targetReference>
            </connector>
            <label>CSA Request for Japan</label>
        </rules>
    </decisions>
    <decisions>
        <description>This node has been created in the After Save flow because Before Save will fail due to the update field
Error: fr_SLG_Bucket_DDQ (Formula) - When the TriggerType field is set to &quot;RecordBeforeSave&quot;, the $Record.Account__r.ARR_Bucket__c field isn&apos;t supported.</description>
        <name>Rule_CSASLG_Update_SLG_Bucket</name>
        <label>*Rule (CSASLG)* - Update SLG Bucket</label>
        <locationX>666</locationX>
        <locationY>10031</locationY>
        <defaultConnector>
            <targetReference>Rule_DDQST_DDQ_Submitted_OR_Threshold</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_SLG_Bucket</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solution_Implementation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CSASLG_Update_SLG_Bucket</targetReference>
            </connector>
            <label>Update SLG Bucket</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_DDQN_DDQ_new_recipient_alert</name>
        <label>*Rule - (DDQN)* - DDQ new recipient alert</label>
        <locationX>666</locationX>
        <locationY>8531</locationY>
        <defaultConnector>
            <targetReference>Rule_TY_SW_Template_Yes_the_client_had_accepted_it</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DDQ_new_recipient_alert</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Recipient_Email__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Recipient_Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supplier_Questionnaires</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DDQN_Notify_Recipient_about_ddq_request</targetReference>
            </connector>
            <label>DDQ new recipient alert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_DDQP_DDQ_Pending_Requestor</name>
        <label>*Rule (DDQP)* - DDQ Pending Requestor</label>
        <locationX>666</locationX>
        <locationY>10631</locationY>
        <defaultConnector>
            <targetReference>Rule_ASER_Auto_assigned_SE_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DDQ_Pending_Requestor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Requestor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supplier_Questionnaires</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DDQP_DDQ_Security_Questionnaires_Updated</targetReference>
            </connector>
            <label>DDQ Pending Requestor</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-4963</description>
        <name>Rule_DDQST_DDQ_Submitted_OR_Threshold</name>
        <label>*Rule (DDQST)* - DDQ Submitted OR Threshold</label>
        <locationX>666</locationX>
        <locationY>10331</locationY>
        <defaultConnector>
            <targetReference>Rule_DDQP_DDQ_Pending_Requestor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DDQST_Threshold</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>fr_ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supplier_Questionnaires</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Threshold Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Recipient_Picklist__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Omer Pizem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Threshold_Email_DDQ</targetReference>
            </connector>
            <label>DDQST - Threshold</label>
        </rules>
        <rules>
            <name>DDQ_Submitted</name>
            <conditionLogic>1 AND (2 OR (3 AND 4 AND 5))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supplier_Questionnaires</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Threshold Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending Threshold Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approved_as_an_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DDQS_DDQ_Security_Questionnaires_Submitted</targetReference>
            </connector>
            <label>DDQ Submitted</label>
        </rules>
    </decisions>
    <decisions>
        <description>Have SE = True</description>
        <name>Rule_HSE_Have_SE</name>
        <label>*Rule (HSE)* - Have SE</label>
        <locationX>666</locationX>
        <locationY>4523</locationY>
        <defaultConnector>
            <targetReference>Rule_NQR_New_Quote_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Have_SE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Have_SE__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solution_Engineering</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HSE_Updated_Have_SE</targetReference>
            </connector>
            <label>Have SE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_ISS_Investor_Solution_Request_Submitted</name>
        <label>*Rule (ISS)* - Investor Solution Request Submitted</label>
        <locationX>666</locationX>
        <locationY>6731</locationY>
        <defaultConnector>
            <targetReference>Rule_SR_Supplier_Resubmitted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Investor_Solution_Request_Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investor_Solution</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ISS_Investor_Solution_Request_has_been_submitted</targetReference>
            </connector>
            <label>Investor Solution Request Submitted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_NDAN_Signed_NDA_No</name>
        <label>*Rule (NDAN)* - Signed NDA = No</label>
        <locationX>666</locationX>
        <locationY>1415</locationY>
        <defaultConnector>
            <targetReference>Alert_on_DDQ_if_FISD_was_not_sent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Signed_NDA_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supplier_Questionnaires</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Complexity__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Complexity__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.A_Signed_NDA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NDAN_DDQ_Complexity_Alert_Only_No</targetReference>
            </connector>
            <label>Signed NDA = No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_NDAYN_Signed_NDA_Yes_No_But</name>
        <label>*Rule (NDAYN)* - Signed NDA = Yes/No,But..</label>
        <locationX>666</locationX>
        <locationY>2123</locationY>
        <defaultConnector>
            <targetReference>Rule_URT_Unassigned_Request_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Signed_NDA_Yes_No_but</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supplier_Questionnaires</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Complexity__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Complexity__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.A_Signed_NDA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No, but there is a customer contract in place with a confidentiality provision</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.A_Signed_NDA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NDAYN_DDQ_Complexity_Alert_Yes_no_but_there_is_a_contract</targetReference>
            </connector>
            <label>Signed NDA = Yes/No, but...</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_NDDQ_New_DDQ</name>
        <label>*Rule (NDDQ) - New DDQ</label>
        <locationX>666</locationX>
        <locationY>9731</locationY>
        <defaultConnector>
            <targetReference>Rule_CSASLG_Update_SLG_Bucket</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_DDQ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supplier_Questionnaires</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NDDQ_Supplier_Questionnaire_Request_Status</targetReference>
            </connector>
            <label>New DDQ</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_NDI_New_DI</name>
        <label>*Rule (NDI)* - New DI</label>
        <locationX>864</locationX>
        <locationY>12239</locationY>
        <defaultConnector>
            <targetReference>ORR_Onboarding_Request_Reassigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ISNEW_DI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requester_Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solution_Engineering</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>NDI_DI_Request_Created</targetReference>
            </connector>
            <label>ISNEW-DI</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-6824</description>
        <name>Rule_NIR_New_Investor_Request</name>
        <label>*Rule(NIR)* - New Investor Request</label>
        <locationX>666</locationX>
        <locationY>13223</locationY>
        <defaultConnector>
            <targetReference>Rule_NSIDS_New_Search_Intelligence_Deal_Support</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Investor</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Recipient_Picklist__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investor_Deal_Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_New_Investor_Request_Email</targetReference>
            </connector>
            <label>New Investor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_NQR_New_Quote_Request</name>
        <label>*Rule (NQR)* - New Quote Request</label>
        <locationX>666</locationX>
        <locationY>4823</locationY>
        <defaultConnector>
            <targetReference>Rule_ASRA_ASR_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Quote_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote_Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NQR_New_Quote_Request</targetReference>
            </connector>
            <label>New Quote Request</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_NR_New_Request</name>
        <label>*Rule (NR)* - New Request</label>
        <locationX>666</locationX>
        <locationY>5531</locationY>
        <defaultConnector>
            <targetReference>Rule_SCTR_SC_or_TR_Status_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Request</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Recipient_Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solution_Engineering</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solution_Implementation	</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NR_Request_Created</targetReference>
            </connector>
            <label>New Request</label>
        </rules>
        <rules>
            <name>New_Request_Recipient_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fr_ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Recipient_Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical_Solutions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_Created_Recipient_Manager</targetReference>
            </connector>
            <label>New Request +Recipient Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_NSI_New_Sales_Intelligence_Deal_Support</name>
        <label>*Rule(NSI)* - New Sales Intelligence Deal Support</label>
        <locationX>666</locationX>
        <locationY>11831</locationY>
        <defaultConnector>
            <targetReference>Rule_ASW_AS_Request_Closed_Won_Opp_Upd</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Sales_Intelligence_Deal_Support</name>
            <conditionLogic>(1 OR 4) AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SI_Product_Expert</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shopper_Intelligence_Deal_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Recipient_Picklist__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NSI_A_new_Sales_Intelligence_Deal_Support_request_was_submitted</targetReference>
            </connector>
            <label>New Sales Intelligence Deal Support</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-6886</description>
        <name>Rule_NSIDS_New_Search_Intelligence_Deal_Support</name>
        <label>*Rule (NSIDS)* - New Search Intelligence Deal Support?</label>
        <locationX>666</locationX>
        <locationY>13523</locationY>
        <defaultConnector>
            <targetReference>Missing_SDK_APP_Alerts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NSIDS_New_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fr_ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Search_Intelligence_Deal_Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Intelligence_Deal_Support_Alert_to_Recipient</targetReference>
            </connector>
            <label>NSIDS - New Request</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_QSC_Quote_Status_Changed</name>
        <label>*Rule (QSC)* - Quote Status Changed</label>
        <locationX>666</locationX>
        <locationY>6431</locationY>
        <defaultConnector>
            <targetReference>Rule_ISS_Investor_Solution_Request_Submitted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote_Status_Changed</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote_Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QSC_Update_Opportunity_Status</targetReference>
            </connector>
            <label>Quote Status Changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>If recipient has been changed for SE record type - execute &apos;Recipient is changed&apos; outcome</description>
        <name>Rule_RCSE_Recipient_is_changed_for_SE</name>
        <label>*Rule (RCSE)* Recipient is changed for SE</label>
        <locationX>666</locationX>
        <locationY>11231</locationY>
        <defaultConnector>
            <targetReference>Rule_CRJ_CSA_Request_for_Japan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recipient_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Recipient_Picklist__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solution_Engineering</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RCSE_Request_Created</targetReference>
            </connector>
            <label>Recipient is changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-5942</description>
        <name>Rule_RWC_Recipient_was_changed</name>
        <label>*Rule (RWC)* - Recipient was changed</label>
        <locationX>666</locationX>
        <locationY>6131</locationY>
        <defaultConnector>
            <targetReference>Rule_QSC_Quote_Status_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recipient_was_changed</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6 OR 7 OR 8 OR 9)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Legal_Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Recipient_Picklist__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Recipient_Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Churn_Protection	</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Consultant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Client_Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trial_Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data_Escalation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RWC_Request_Created</targetReference>
            </connector>
            <label>Recipient was changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_SCP_Status_changed_to_Pending_client</name>
        <label>*Rule (SCP)* - Status changed to Pending client</label>
        <locationX>666</locationX>
        <locationY>9131</locationY>
        <defaultConnector>
            <targetReference>Rule_TYPC_SW_Template_Yes_pending_client_review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_changed_to_Pending_client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Client</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requester_Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>SCP_Request_status_is_changed_to_Pending_Client</targetReference>
            </connector>
            <label>Status changed to Pending client</label>
        </rules>
    </decisions>
    <decisions>
        <description>SC or TR Status changed</description>
        <name>Rule_SCTR_SC_or_TR_Status_changed</name>
        <label>*Rule (SCTR)* - SC or TR Status changed</label>
        <locationX>666</locationX>
        <locationY>5831</locationY>
        <defaultConnector>
            <targetReference>Rule_RWC_Recipient_was_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_change</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Recipient_Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Strategic_Consultant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trial_Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCTR_Request_Status_Changed</targetReference>
            </connector>
            <label>Status is change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_SIMA_SIM_Request_Assignment</name>
        <label>*Rule (SIMA)* - SIM Request Assignment</label>
        <locationX>666</locationX>
        <locationY>7331</locationY>
        <defaultConnector>
            <targetReference>Rule_ASCU_AS_RT_Request_Created_Upd</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SIM_Request_Assignment</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solution_Implementation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Recipient_Picklist__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SIMA_SIM_Request_Assigned</targetReference>
            </connector>
            <label>SIM Request Assignment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_SR_Supplier_Resubmitted</name>
        <label>*Rule (SR)* - Supplier Resubmitted</label>
        <locationX>666</locationX>
        <locationY>7031</locationY>
        <defaultConnector>
            <targetReference>Rule_SIMA_SIM_Request_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Supplier_Resubmitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resubmitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supplier_Questionnaires</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SR_Supplier_Questionnaire_Resubmitted</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Supplier Resubmitted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_SSE_SYS_Recipient_Email</name>
        <label>*Rule (SSE)* - SYS Recipient Email</label>
        <locationX>666</locationX>
        <locationY>3623</locationY>
        <defaultConnector>
            <targetReference>Rule_ARSW_ASR_Request_moved_to_Closed_Won_Completed_Initiated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RT_CSA_and_is_new_or_recipient_is_changed</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solution_Implementation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Recipient_Picklist__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SSE_Update_SIM_Email</targetReference>
            </connector>
            <label>RT = CSA and  is new or recipient is changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Type of Ext and if it&apos;s ISNEW()</description>
        <name>Rule_TE_Type_Of_Extention</name>
        <label>*Rule (TE)* -Type Of Extention</label>
        <locationX>666</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Record_type_is_DDQ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trial_extension_request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type_of_Extension__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trial Extension</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Extensions request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TE</targetReference>
            </connector>
            <label>Trial extension request</label>
        </rules>
        <rules>
            <name>Permanent_Renewal_request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type_of_Extension__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Permanent Renewal date change</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Extensions request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TE_Permanent_Renewal</targetReference>
            </connector>
            <label>Permanent Renewal request</label>
        </rules>
        <rules>
            <name>Temporary_extension_request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type_of_Extension__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Temporary Extension</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Extensions request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_of_product</targetReference>
            </connector>
            <label>Temporary extension request</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_TNN_SW_Template_Not_yet_No</name>
        <label>*Rule (TNN)* - SW Template = Not yet (No)</label>
        <locationX>666</locationX>
        <locationY>8231</locationY>
        <defaultConnector>
            <targetReference>Rule_DDQN_DDQ_new_recipient_alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SW_Template_Not_yet_No</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Did_we_try_to_send_the_SW_template__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supplier_Questionnaires	</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Did_we_try_to_send_the_SW_template__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not yet</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.A_Signed_NDA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TNN_Before_creating_a_DDQ_No</targetReference>
            </connector>
            <label>SW Template = Not yet (No)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_TNY_SW_Template_Not_yet_Yes_No_but_there_is</name>
        <label>*Rule (TNY) * - SW Template = Not yet (Yes, No, but there is..)</label>
        <locationX>666</locationX>
        <locationY>7931</locationY>
        <defaultConnector>
            <targetReference>Rule_TNN_SW_Template_Not_yet_No</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SW_Template_Not_yet_Yes_No_but_there_is</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND ( 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Did_we_try_to_send_the_SW_template__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supplier_Questionnaires	</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Did_we_try_to_send_the_SW_template__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not yet</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.A_Signed_NDA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.A_Signed_NDA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No, but there is a customer contract in place with a confidentiality provision</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TNY_Before_creating_a_DDQ</targetReference>
            </connector>
            <label>SW Template = Not yet (Yes, No, but there is..)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_TY_SW_Template_Yes_the_client_had_accepted_it</name>
        <label>*Rule (TY)* - SW Template = Yes, the client had accepted it</label>
        <locationX>666</locationX>
        <locationY>8831</locationY>
        <defaultConnector>
            <targetReference>Rule_SCP_Status_changed_to_Pending_client</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SW_Template_Yes_the_client_had_accepted_it</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Did_we_try_to_send_the_SW_template__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supplier_Questionnaires</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Did_we_try_to_send_the_SW_template__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes, the client had accepted it</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TY_Your_DDQ_has_been_automatically_completed</targetReference>
            </connector>
            <label>SW Template = Yes, the client had accepted it</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_TYPC_SW_Template_Yes_pending_client_review</name>
        <label>*Rule (TYPC)* - SW Template = Yes, pending client review</label>
        <locationX>666</locationX>
        <locationY>9431</locationY>
        <defaultConnector>
            <targetReference>Rule_NDDQ_New_DDQ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SW_Template_Yes_pending_client_review</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Did_we_try_to_send_the_SW_template__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supplier_Questionnaires	</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Did_we_try_to_send_the_SW_template__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes, pending client review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TYPC_Your_DDQ_has_been_accepted</targetReference>
            </connector>
            <label>SW Template = Yes, pending client review</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_URT_Unassigned_Request_True</name>
        <label>*Rule (URT)* - Unassigned Request = True</label>
        <locationX>666</locationX>
        <locationY>2423</locationY>
        <defaultConnector>
            <targetReference>Rule_CPR_Churn_Protection_Request_New_Status_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unassigned_Request_True</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Recipient_Picklist__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unassigned_Request__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>URT_Email_SalesOps</targetReference>
            </connector>
            <label>Unassigned Request = True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_product</name>
        <label>Type of product</label>
        <locationX>798</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>TE_Temporary_extension</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rank_Ranger_and_Admetricks</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Rank</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Admetricks</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_TE_Temporary_extension</targetReference>
            </connector>
            <label>Rank Ranger and  Admetricks</label>
        </rules>
    </decisions>
    <description>Deactivated ASR Request Submitted(Agencies Strategic) alert
MIS-7445 - Added Churn Protection&apos;s Resolution Date update
MIS-7894 - Shopper Deal Support Request
MIS-6937 - Request Approved By Billing Notification
MIS-7797 - AS Request auto-cancellation
MIS-7445 - Added Churn Protection Status Update
MIS-7726 - Add Insights Request Record Type
MIS-7521 - Added Missing SDK/APP Record Type
MIS-7372 - Modified ASR Emails
MIS-6981 - Removed Zendesk Tickets
MIS-6886
MIS-6824
MIS-5942 - Added Data Escalation to Rule RWC
MIS-5630
MIS-5489
MQ-2162
mis-5291 recipient manager email
MIS-5025 remove NDA=no  pending customer
MIS-4963 - Legal/DDQ Threshold
MIS-4855
MIS-4753
MIS-4730
MIS-4464
MIS-3523 v1
MIS-3222
- MIS-3015
MIS-2862
MIS-2869
MQ-1434</description>
    <environments>Default</environments>
    <formulas>
        <name>fr_EMEA</name>
        <dataType>Boolean</dataType>
        <expression>IF(
CONTAINS(TEXT({!$Record.Recipient_Picklist__c}), &apos;EMEA&apos;),
True,
False
)</expression>
    </formulas>
    <formulas>
        <name>fr_EMEA2</name>
        <dataType>String</dataType>
        <expression>IF(
CONTAINS(TEXT({!$Record.Recipient_Picklist__c}), &apos;EMEA&apos;),
&apos;True&apos;,
&apos;False&apos;
)</expression>
    </formulas>
    <formulas>
        <description>MIS-4963</description>
        <name>fr_ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>fr_SLG_Bucket_DDQ</name>
        <dataType>String</dataType>
        <expression>Case({!$Record.Account__r.ARR_Bucket__c} , &apos;Bucket 1&apos;,&apos;Insight Email&apos;, &apos;Bucket 2&apos;, &apos;Insight Email;Training Session&apos;, &apos;Bucket 3&apos;, &apos;Insight Email;Training Session;Short Deck&apos;, &apos;Bucket 4&apos;, &apos;Insight Email;Training Session;Short Deck;Large Deck&apos;, null)</expression>
    </formulas>
    <interviewLabel>Request - Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Request - Record-Triggered - After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_GetAtLeast1DDQRequest</name>
        <label>Get at least 1 DDQ Request</label>
        <locationX>512</locationX>
        <locationY>923</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_AtLeast1DDQRequestFound</targetReference>
        </connector>
        <filterLogic>(1 OR 6) AND 5 AND (2 OR 3 OR 4) AND 7</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0120O000000BwRP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sent to customer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Requestor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0120O000000BwRPQA0</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Request__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ASCU_Updated_Status_and_List_Price_on_Opportunity</name>
        <label>ASCU - Updated Status and List Price on Opportunity</label>
        <locationX>534</locationX>
        <locationY>7739</locationY>
        <connector>
            <targetReference>Rule_TNY_SW_Template_Not_yet_Yes_No_but_there_is</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AS_Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>As_List_Price__c</field>
            <value>
                <elementReference>$Record.List_price__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>ASW_Opp_AS_Status_and_AS_List_Price_Upd</name>
        <label>ASW - Opp AS Status and AS List Price Upd</label>
        <locationX>468</locationX>
        <locationY>12239</locationY>
        <connector>
            <targetReference>ORR_Onboarding_Request_Reassigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AS_Status__c</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>As_List_Price__c</field>
            <value>
                <elementReference>$Record.Invoiced_Price__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_status_to_Pending_Requestor</name>
        <label>Copy 1 of Update status to Pending Requestor</label>
        <locationX>534</locationX>
        <locationY>1823</locationY>
        <connector>
            <targetReference>DDQ_Did_we_try_to_send_the_SW_templates</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending Requestor</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>CSASLG_Update_SLG_Bucket</name>
        <label>CSASLG - Update SLG Bucket</label>
        <locationX>534</locationX>
        <locationY>10139</locationY>
        <connector>
            <targetReference>Rule_DDQST_DDQ_Submitted_OR_Threshold</targetReference>
        </connector>
        <inputAssignments>
            <field>SLG_Bucket__c</field>
            <value>
                <elementReference>fr_SLG_Bucket_DDQ</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>HSE_Updated_Have_SE</name>
        <label>HSE - Updated Have SE</label>
        <locationX>534</locationX>
        <locationY>4631</locationY>
        <connector>
            <targetReference>Rule_NQR_New_Quote_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Have_SE__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>NDDQ_Supplier_Questionnaire_Request_Status</name>
        <label>NDDQ - Supplier Questionnaire Request Status</label>
        <locationX>534</locationX>
        <locationY>9839</locationY>
        <connector>
            <targetReference>Rule_CSASLG_Update_SLG_Bucket</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Supplier_Questionnaire_Request_Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>QSC_Update_Opportunity_Status</name>
        <label>QSC - Update Opportunity Status</label>
        <locationX>534</locationX>
        <locationY>6539</locationY>
        <connector>
            <targetReference>Rule_ISS_Investor_Solution_Request_Submitted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quote_Request_Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Owner_To_Insights_Queue</name>
        <label>Set Owner To Insights Queue</label>
        <locationX>534</locationX>
        <locationY>14231</locationY>
        <connector>
            <targetReference>New_Insights_Request_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00GQB0000059X1u</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Resolution_Date</name>
        <label>Set Resolution Date</label>
        <locationX>578</locationX>
        <locationY>3047</locationY>
        <connector>
            <targetReference>Rule_ASRV_ASR_Request_moved_to_Verbally_Confirmed</targetReference>
        </connector>
        <inputAssignments>
            <field>Resolution_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Status_to_Cancelled</name>
        <label>Set Status to Cancelled</label>
        <locationX>50</locationX>
        <locationY>5231</locationY>
        <connector>
            <targetReference>Send_AS_Request_Has_Been_Cancelled_alert</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled - Not Relevant</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SSE_Update_SIM_Email</name>
        <label>SSE - Update SIM Email</label>
        <locationX>534</locationX>
        <locationY>3731</locationY>
        <connector>
            <targetReference>Rule_ARSW_ASR_Request_moved_to_Closed_Won_Completed_Initiated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SIM_Email__c</field>
            <value>
                <elementReference>$Record.SYS_Recipient_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Onboarding_Recipient</name>
        <label>Update Account Onboarding Recipient</label>
        <locationX>534</locationX>
        <locationY>13031</locationY>
        <connector>
            <targetReference>Rule_NIR_New_Investor_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Onboarding_Recipient__c</field>
            <value>
                <elementReference>$Record.Recipient_Picklist__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>540</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Rule_TE_Type_Of_Extention</targetReference>
        </connector>
        <object>Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>MIS-4730</description>
        <name>Send_to_Slack_Flow</name>
        <label>Send to Slack Flow</label>
        <locationX>534</locationX>
        <locationY>12731</locationY>
        <connector>
            <targetReference>Recipient_Changed_Update_Onboarding_Recipient</targetReference>
        </connector>
        <flowName>Slack_message_general</flowName>
        <inputAssignments>
            <name>objectid</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>slack_message</name>
            <value>
                <stringValue>Onboarding_Request</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
