force-app/main/default/flows/Survey_Created_from_Typeform.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Form_CPG_sub_type_survey</name>
        <label>Form &quot;CPG - sub-type survey&quot;?</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Contact_CPG_sub_type_survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Typeform_Form_Mapping__r.typeform__Form__r.typeform__Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPG - sub-type survey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact_by_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Industry_Sub_Type</targetReference>
            </connector>
            <label>Contact &amp; CPG - sub-type survey</label>
        </rules>
        <rules>
            <name>Lead_CPG_sub_type_survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Typeform_Form_Mapping__r.typeform__Form__r.typeform__Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPG - sub-type survey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead_by_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Industry_Sub_Type</targetReference>
            </connector>
            <label>Lead &amp; CPG - sub-type survey</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Contact</name>
        <label>Found Contact?</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Lead_by_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_by_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Survey_For_Contact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Lead</name>
        <label>Found Lead?</label>
        <locationX>512</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Update_Survey_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_by_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Survey_For_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <description>MIS-6724</description>
    <environments>Default</environments>
    <formulas>
        <description>check if the Lead owner is a group - if true, don&apos;t update the Survey Owner</description>
        <name>Owner_For_Lead_Survey</name>
        <dataType>String</dataType>
        <expression>IF
(
BEGINS({!Get_Lead_by_Email.OwnerId}, &apos;00G&apos;),
{!$Record.OwnerId},
{!Get_Lead_by_Email.OwnerId}
)</expression>
    </formulas>
    <interviewLabel>Survey - Created from Typeform {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Survey - Created from Typeform</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_by_Email</name>
        <label>Get Contact by Email</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_by_Email</name>
        <label>Get Lead by Email</label>
        <locationX>512</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Industry_Sub_Type</name>
        <label>Update Account Industry Sub Type</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_by_Email.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Industry_Subtype__c</field>
            <value>
                <elementReference>$Record.Rate_Customer_Onboarding__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Industry_Sub_Type</name>
        <label>Update Lead Industry Sub-Type</label>
        <locationX>314</locationX>
        <locationY>1139</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead_by_Email.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Industry_Sub_type__c</field>
            <value>
                <elementReference>$Record.Rate_Customer_Onboarding__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Survey_For_Contact</name>
        <label>Update Survey For Contact</label>
        <locationX>116</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Form_CPG_sub_type_survey</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Contact_by_Email.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Get_Contact_by_Email.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Typeform_Form_Mapping__r.typeform__Form__r.typeform__Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Contact_by_Email.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Typeform</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Date__c</field>
            <value>
                <elementReference>$Record.Create_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Survey_For_Lead</name>
        <label>Update Survey For Lead</label>
        <locationX>380</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Form_CPG_sub_type_survey</targetReference>
        </connector>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>Get_Lead_by_Email.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Typeform_Form_Mapping__r.typeform__Form__r.typeform__Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Owner_For_Lead_Survey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Typeform</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Date__c</field>
            <value>
                <elementReference>$Record.Create_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Survey_Name</name>
        <label>Update Survey Name</label>
        <locationX>644</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Form_CPG_sub_type_survey</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Typeform_Form_Mapping__r.typeform__Form__r.typeform__Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Typeform</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Date__c</field>
            <value>
                <elementReference>$Record.Create_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_by_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Typeform_Form_Mapping__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Survey__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
