force-app/main/default/flows/Task_Record_Triggered_Flow_After_Save_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_SubType_from_Comments</name>
        <label>Get SubType from Comments</label>
        <locationX>754</locationX>
        <locationY>5315</locationY>
        <actionName>CatalystCommentsParserUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Type_and_SubType</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>taskIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CatalystCommentsParserUtility</nameSegment>
        <outputParameters>
            <assignToReference>CatalystSubType</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>MHR_MIR_Handover_Rejected_Alert</name>
        <label>MHR-MIR Handover Rejected Alert</label>
        <locationX>754</locationX>
        <locationY>731</locationY>
        <actionName>Task.MIR_Handover_Rejected_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Rule_SCT_Statuses_for_Closing_Tasks</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Task.MIR_Handover_Rejected_Alert</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>MIS-8199 - accepted by cu agent</description>
        <name>Contact_MIR_Status_Agent_Replied_Follow_Up</name>
        <label>Contact MIR Status Agent Replied - Follow Up</label>
        <locationX>886</locationX>
        <locationY>3023</locationY>
        <assignmentItems>
            <assignToReference>Get_contact.MIR_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Agent Replied - Follow Up</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShouldUpdateContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rule_RLA_Relevant_for_Last_Activity_by_GTM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>MIS-8199 - accepted by cu agent</description>
        <name>Lead_MIR_Status_Agent_Replied_Follow_Up</name>
        <label>Lead MIR Status Agent Replied - Follow Up</label>
        <locationX>622</locationX>
        <locationY>3023</locationY>
        <assignmentItems>
            <assignToReference>Get_lead.MIR_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Agent Replied - Follow Up</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShouldUpdateLead</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rule_RLA_Relevant_for_Last_Activity_by_GTM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RBIS_Contact_Update_First_MQL_Date</name>
        <label>RBIS - Contact Update First MQL Date</label>
        <locationX>786</locationX>
        <locationY>4031</locationY>
        <assignmentItems>
            <assignToReference>Get_contact.First_MQL_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShouldUpdateContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>RBIS_Update_BI_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RBIS_Lead_Update_First_MQL_Date</name>
        <label>RBIS - Lead Update First MQL Date</label>
        <locationX>346</locationX>
        <locationY>4031</locationY>
        <assignmentItems>
            <assignToReference>Get_lead.First_MQL_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShouldUpdateLead</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RBIS_Update_BI_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Type_and_SubType</name>
        <label>Save Type and SubType</label>
        <locationX>754</locationX>
        <locationY>5423</locationY>
        <assignmentItems>
            <assignToReference>$Record.Sub_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubTypeCalc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Catalyst Note</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShouldUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Related_to_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SECT_Update_Contact_Last_Call_Date</name>
        <label>SECT - Update Contact Last Call Date</label>
        <locationX>886</locationX>
        <locationY>5015</locationY>
        <assignmentItems>
            <assignToReference>Get_contact.Last_Call_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShouldUpdateContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Created_By_Catalyst</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SECT_Update_Contact_Last_Email_Sent_Date</name>
        <label>SECT - Update Contact Last Email Sent Date</label>
        <locationX>1150</locationX>
        <locationY>5015</locationY>
        <assignmentItems>
            <assignToReference>Get_contact.Last_Email_Sent_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShouldUpdateContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Created_By_Catalyst</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SECT_Update_Lead_Last_Call_Date</name>
        <label>SECT - Update Lead Last Call Date</label>
        <locationX>358</locationX>
        <locationY>5015</locationY>
        <assignmentItems>
            <assignToReference>Get_lead.Last_Call_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShouldUpdateLead</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Created_By_Catalyst</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SECT_Update_Lead_Last_Email_Sent_Date</name>
        <label>SECT - Update Lead Last Email Sent Date</label>
        <locationX>622</locationX>
        <locationY>5015</locationY>
        <assignmentItems>
            <assignToReference>Get_lead.Last_Email_Sent_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShouldUpdateLead</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Created_By_Catalyst</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Send_to_CU_Agent</name>
        <label>Send to CU Agent</label>
        <locationX>50</locationX>
        <locationY>6347</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send to CU Agent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShouldUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Email_task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_MIR_Status_to_Agent_Replied_Contact</name>
        <label>Set MIR Status to Agent Replied (Contact)</label>
        <locationX>820</locationX>
        <locationY>7007</locationY>
        <assignmentItems>
            <assignToReference>Get_contact.MIR_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Agent Replied - Follow Up</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShouldUpdateContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NEW_RULE_HERE_PLEASE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_MIR_Status_to_Agent_Replied_Lead</name>
        <label>Set MIR Status to Agent Replied (Lead)</label>
        <locationX>556</locationX>
        <locationY>7007</locationY>
        <assignmentItems>
            <assignToReference>Get_lead.MIR_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Agent Replied - Follow Up</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShouldUpdateLead</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NEW_RULE_HERE_PLEASE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TLC_Update_Contact_MIR_Status</name>
        <label>TLC - Update Contact MIR Status</label>
        <locationX>820</locationX>
        <locationY>4631</locationY>
        <assignmentItems>
            <assignToReference>Get_contact.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SDR Prospecting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShouldUpdateContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rule_SECT_Sent_Email_or_Call_Task_Created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TLL_Update_Lead_MIR_Status</name>
        <label>TLL - Update Lead MIR Status</label>
        <locationX>380</locationX>
        <locationY>4631</locationY>
        <assignmentItems>
            <assignToReference>Get_lead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SDR Prospecting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShouldUpdateLead</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rule_SECT_Sent_Email_or_Call_Task_Created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Contact_Assignment</name>
        <label>Update Contact Assignment</label>
        <locationX>1150</locationX>
        <locationY>3023</locationY>
        <assignmentItems>
            <assignToReference>ShouldUpdateContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_contact.MIR_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress / Touched</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rule_RLA_Relevant_for_Last_Activity_by_GTM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Contact_Last_CU_Status</name>
        <label>Update Contact Last CU Status</label>
        <locationX>1018</locationX>
        <locationY>2723</locationY>
        <assignmentItems>
            <assignToReference>Get_contact.Last_CU_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShouldUpdateContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_Related_MIR_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Contact_MIR_Status</name>
        <label>Update Contact MIR Status</label>
        <locationX>886</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>Get_contact.MIR_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MIR_Handover_Rejection_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShouldUpdateContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rule_CUTC_CU_Task_is_Completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Contact_Status_to_Prioritized</name>
        <label>Update Contact Status to Prioritized</label>
        <locationX>886</locationX>
        <locationY>1331</locationY>
        <assignmentItems>
            <assignToReference>Get_contact.MIR_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prioritized</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShouldUpdateContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rule_MHRR_MIR_Handover_Rejection_Reason</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Contact_to_Qualified</name>
        <label>Update Contact to Qualified</label>
        <locationX>886</locationX>
        <locationY>1931</locationY>
        <assignmentItems>
            <assignToReference>Get_contact.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShouldUpdateContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rule_CUSU_CU_Status_Updated_Created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Lead_Funnel_Status_Flag</name>
        <label>Update Lead Funnel Status Flag</label>
        <locationX>358</locationX>
        <locationY>3023</locationY>
        <assignmentItems>
            <assignToReference>Get_lead.Lead_Funnel_Status_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShouldUpdateLead</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_lead.MIR_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress / Touched</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rule_RLA_Relevant_for_Last_Activity_by_GTM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Lead_Last_CU_Status</name>
        <label>Update Lead Last CU Status</label>
        <locationX>402</locationX>
        <locationY>2723</locationY>
        <assignmentItems>
            <assignToReference>Get_lead.Last_CU_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShouldUpdateLead</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_Related_MIR_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Lead_MIR_Status</name>
        <label>Update Lead MIR Status</label>
        <locationX>622</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>Get_lead.MIR_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MIR_Handover_Rejection_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShouldUpdateLead</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rule_CUTC_CU_Task_is_Completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_lead_s_LastActivityDate</name>
        <label>Update lead&apos;s LastActivityDate</label>
        <locationX>754</locationX>
        <locationY>5723</locationY>
        <assignmentItems>
            <assignToReference>Get_lead.LastActivityDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShouldUpdateLead</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_US_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Lead_Status_to_Prioritized</name>
        <label>Update Lead Status to Prioritized</label>
        <locationX>622</locationX>
        <locationY>1331</locationY>
        <assignmentItems>
            <assignToReference>Get_lead.MIR_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prioritized</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShouldUpdateLead</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rule_MHRR_MIR_Handover_Rejection_Reason</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Lead_to_Qualified</name>
        <label>Update Lead to Qualified</label>
        <locationX>622</locationX>
        <locationY>1931</locationY>
        <assignmentItems>
            <assignToReference>Get_lead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShouldUpdateLead</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rule_CUSU_CU_Status_Updated_Created</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assigned_to</name>
        <label>Assigned to?</label>
        <locationX>688</locationX>
        <locationY>6899</locationY>
        <defaultConnector>
            <targetReference>Set_MIR_Status_to_Agent_Replied_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>To Contact</defaultConnectorLabel>
        <rules>
            <name>To_Lead2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MIR_Status_to_Agent_Replied_Lead</targetReference>
            </connector>
            <label>To Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_US_Task</name>
        <label>Contact US Task?</label>
        <locationX>886</locationX>
        <locationY>5915</locationY>
        <defaultConnector>
            <targetReference>New_Email_task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Contact_US_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact Us</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Changed_from_Integration</targetReference>
            </connector>
            <label>Yes, Contact US Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Created_By_Catalyst</name>
        <label>Created By Catalyst?</label>
        <locationX>886</locationX>
        <locationY>5207</locationY>
        <defaultConnector>
            <targetReference>Related_to_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Created_By_Catalyst</name>
            <conditionLogic>1 AND (2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>005QB000001trRJYAY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>005QB000005LWelYAG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0056700000AkwhCAAR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Catalyst Note</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SubType_from_Comments</targetReference>
            </connector>
            <label>Yes, Created By Catalyst</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eligible_for_CU_Agent_Contact</name>
        <label>Eligible for CU Agent (Contact)?</label>
        <locationX>622</locationX>
        <locationY>6239</locationY>
        <defaultConnector>
            <targetReference>New_Email_task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Eligible_for_CU_Agent_Contact</name>
            <conditionLogic>(1 OR 2 OR 14 OR 15 OR 16) AND 3 AND 4 AND (5 OR 6 OR 17) AND 7 AND ((8 AND 9) OR 10 OR 11) AND 12 AND 13</conditionLogic>
            <conditions>
                <leftValueReference>Get_contact.SW_Fit_Score__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_contact.SW_Fit_Score__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_contact.Country_Region_new__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>LATAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_contact.MailingCountryCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>RU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_contact.Owner_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MIR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_contact.Owner_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VGR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_contact.MailingCountryCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>JP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_contact.No_Touch_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_contact.Account.No_Touch_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_contact.Account.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_contact.Account.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ongoing Outbound</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_contact.MailingCountryCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_contact.MailingCountryCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>TW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_contact.SW_Fit_Score__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_contact.SW_Fit_Score__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_contact.SW_Fit_Score__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_contact.Owner.Title</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scale Customer Success Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Send_to_CU_Agent</targetReference>
            </connector>
            <label>Yes, Eligible for CU Agent (Contact)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eligible_for_CU_Agent_Lead</name>
        <label>Eligible for CU Agent (Lead)?</label>
        <locationX>182</locationX>
        <locationY>6239</locationY>
        <defaultConnector>
            <targetReference>New_Email_task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Eligible_for_CU_Agent</name>
            <conditionLogic>(1 OR 2 OR 10 OR 11 OR 12) AND 3 AND 4 AND (5 OR 6 OR 13) AND 7 AND 8 AND 9</conditionLogic>
            <conditions>
                <leftValueReference>Get_lead.SW_Fit_Score__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_lead.SW_Fit_Score__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_lead.Country_Region__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>LATAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_lead.CountryCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>RU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_lead.Owner_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MIR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_lead.Owner_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VGR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_lead.CountryCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>JP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_lead.CountryCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_lead.CountryCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>TW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_lead.SW_Fit_Score__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_lead.SW_Fit_Score__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_lead.SW_Fit_Score__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_lead.Owner:User.Title</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scale Customer Success Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_to_CU_Agent</targetReference>
            </connector>
            <label>Yes, Eligible for CU Agent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_to_Contact_Update_First_MQL_Date</name>
        <label>Need to Contact Update First MQL Date?</label>
        <locationX>918</locationX>
        <locationY>3923</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>RBIS_Update_BI_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Need_to_Contact_Update_First_MQL_Date</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Get_contact.First_MQL_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_contact.SW_Fit_Score__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_contact.SW_Fit_Score__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_contact.SW_Fit_Score__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_contact.SW_Fit_Score__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RBIS_Contact_Update_First_MQL_Date</targetReference>
            </connector>
            <label>Yes, Need to Contact Update First MQL Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_to_Update_First_MQL_Date</name>
        <label>Need to Update First MQL Date?</label>
        <locationX>478</locationX>
        <locationY>3923</locationY>
        <defaultConnector>
            <targetReference>RBIS_Update_BI_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Need_to_Update_First_MQL_Date</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Get_lead.First_MQL_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_lead.SW_Fit_Score__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_lead.SW_Fit_Score__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_lead.SW_Fit_Score__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_lead.SW_Fit_Score__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RBIS_Lead_Update_First_MQL_Date</targetReference>
            </connector>
            <label>Yes, Need to Update First MQL Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Email_task</name>
        <label>New Email task?</label>
        <locationX>886</locationX>
        <locationY>6791</locationY>
        <defaultConnector>
            <targetReference>NEW_RULE_HERE_PLEASE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_New_Email_task</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND ((6 AND (7 OR 8)) OR (9 AND (10 AND 11)))</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SalesLoft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalesLoft1__SalesLoft_Cadence_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>AI Agent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalesLoft1__SalesLoft_Step_Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_lead.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_lead.Last_CP_Created_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_lead.Last_CP_Created_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_contact.Last_CP_Created_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_contact.Last_CP_Created_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigned_to</targetReference>
            </connector>
            <label>Yes, New Email task</label>
        </rules>
    </decisions>
    <decisions>
        <description>*Rule (AEA)-Activity Email Alerts-CU alerts and</description>
        <name>NEW_RULE_HERE_PLEASE</name>
        <label>NEW RULE HERE PLEASE</label>
        <locationX>886</locationX>
        <locationY>7283</locationY>
        <defaultConnector>
            <targetReference>Should_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Rule1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>works</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Should_Update</targetReference>
            </connector>
            <label>New Rule1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Changed_from_Integration</name>
        <label>Owner Changed from Integration?</label>
        <locationX>666</locationX>
        <locationY>6023</locationY>
        <defaultConnector>
            <targetReference>New_Email_task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Owner_Changed_from_Integration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Owner:User.Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Related_To1</targetReference>
            </connector>
            <label>Yes, Owner Changed from Integration</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_To</name>
        <label>Related To?</label>
        <locationX>886</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>To_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_lead</targetReference>
            </connector>
            <label>To Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_To1</name>
        <label>Related To</label>
        <locationX>402</locationX>
        <locationY>6131</locationY>
        <defaultConnector>
            <targetReference>Eligible_for_CU_Agent_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>To Contact</defaultConnectorLabel>
        <rules>
            <name>To_Lead1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eligible_for_CU_Agent_Lead</targetReference>
            </connector>
            <label>To Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_to_Lead</name>
        <label>Related to Lead?</label>
        <locationX>886</locationX>
        <locationY>5615</locationY>
        <defaultConnector>
            <targetReference>Contact_US_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Related_to_Lead</name>
            <conditionLogic>1 AND (2 OR (3 AND 4) OR (5 AND 6) OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActivityDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_lead_s_LastActivityDate</targetReference>
            </connector>
            <label>Yes, Related to Lead</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-5217</description>
        <name>Rule_CLCUS_Contact_Last_CU_Status_is_Blank</name>
        <label>*Rule (CLCUS)* - Contact Last CU Status is Blank?</label>
        <locationX>842</locationX>
        <locationY>2339</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CLCUS_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_contact.Last_CU_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Last_CU_Status</targetReference>
            </connector>
            <label>CLCUS - Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-5271</description>
        <name>Rule_CUSU_CU_Status_Updated_Created</name>
        <label>*Rule (CUSU)* - CU Status Updated/Created</label>
        <locationX>886</locationX>
        <locationY>2123</locationY>
        <defaultConnector>
            <targetReference>Updated_Related_MIR_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CUSU_Lead</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact_Us_Task</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled / Irrelevant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_UUCL_Unqualified_Upon_Creation_for_Lead</targetReference>
            </connector>
            <label>CUSU - Lead</label>
        </rules>
        <rules>
            <name>CUSU_Contact</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact_Us_Task</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled / Irrelevant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_UUCC_Unqualified_Upon_Creation_for_Contact</targetReference>
            </connector>
            <label>CUSU - Contact</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-4859</description>
        <name>Rule_CUTC_CU_Task_is_Completed</name>
        <label>*Rule (CUTC)* - CU Task is Completed</label>
        <locationX>886</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>Rule_CUSU_CU_Status_Updated_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CUTC_Completed_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact_Us_Task</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_to_Qualified</targetReference>
            </connector>
            <label>CUTC - Completed Lead</label>
        </rules>
        <rules>
            <name>CUTC_Completed_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact_Us_Task</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_to_Qualified</targetReference>
            </connector>
            <label>CUTC - Completed Contact</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-6072</description>
        <name>Rule_LAU_Last_Activity_Updated_for_Lead_Contact</name>
        <label>*Rule (LAU)* - Last Activity Updated for Lead/Contact</label>
        <locationX>886</locationX>
        <locationY>4415</locationY>
        <defaultConnector>
            <targetReference>Rule_SECT_Sent_Email_or_Call_Task_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_RLA_Relevant</name>
            <conditionLogic>((1 OR 2 OR 3) AND 4 AND 5) AND 6 AND NOT(7)</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActivityDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActivityDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Reply SFMC Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_TLL_Task_is_Later_than_Lead_Last_Activity</targetReference>
            </connector>
            <label>Lead - Last Activity Updated</label>
        </rules>
        <rules>
            <name>Contact_Last_Activity_Updated</name>
            <conditionLogic>((1 OR 2 OR 3) AND 4 AND 5) AND 6 AND NOT(7)</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActivityDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActivityDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Reply SFMC Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_TLC_Task_is_Later_than_Contact_Last_Activity</targetReference>
            </connector>
            <label>Contact - Last Activity Updated</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-5217</description>
        <name>Rule_LLCUS_Lead_Last_CU_Status_is_Blank</name>
        <label>*Rule (LLCUS)* - Lead Last CU Status is Blank?</label>
        <locationX>226</locationX>
        <locationY>2339</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LLCUS_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_lead.Last_CU_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Last_CU_Status</targetReference>
            </connector>
            <label>LLCUS - Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_MHR_MIR_Handover_Rejected</name>
        <label>*Rule (MHR)* - MIR Handover Rejected</label>
        <locationX>886</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Rule_SCT_Statuses_for_Closing_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MIR Handover</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MHR_MIR_Handover_Rejected_Alert</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Status is Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-4859</description>
        <name>Rule_MHRR_MIR_Handover_Rejection_Reason</name>
        <label>*Rule (MHRR)* - MIR Handover Rejection Reason</label>
        <locationX>886</locationX>
        <locationY>1523</locationY>
        <defaultConnector>
            <targetReference>Rule_CUTC_CU_Task_is_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MHRR_Yes_Update_Lead</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MIR_Handover_Rejection_Reason__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MIR_Handover_Rejection_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact_Us_Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_MIR_Status</targetReference>
            </connector>
            <label>MHRR - Yes Update Lead</label>
        </rules>
        <rules>
            <name>MHRR_Yes_Update_Contact</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MIR_Handover_Rejection_Reason__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MIR_Handover_Rejection_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact_Us_Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_MIR_Status</targetReference>
            </connector>
            <label>MHRR - Yes Update Contact</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-6396</description>
        <name>Rule_RBIS_Relevant_for_BI_Intent_Score_Update</name>
        <label>*Rule (RBIS)* - Relevant for BI Intent Score Update?</label>
        <locationX>886</locationX>
        <locationY>3815</locationY>
        <defaultConnector>
            <targetReference>Rule_LAU_Last_Activity_Updated_for_Lead_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RBIS_Lead_Relevant_for_Intent_Update</name>
            <conditionLogic>1 AND (2 OR (3 AND (4 OR 5))) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact Us</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reply</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalesLoft1__SalesLoft_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reply</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Need_to_Update_First_MQL_Date</targetReference>
            </connector>
            <label>RBIS - Lead Relevant for Intent Update</label>
        </rules>
        <rules>
            <name>RBIS_Contact_Relevant_for_Intent_Update</name>
            <conditionLogic>1 AND (2 OR (3 AND (4 OR 5))) AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact Us</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reply</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalesLoft1__SalesLoft_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reply</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Number_Of_Open_Meetings__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Need_to_Contact_Update_First_MQL_Date</targetReference>
            </connector>
            <label>RBIS - Contact Relevant for Intent Update</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-6229</description>
        <name>Rule_RLA_MIR_Relevant_for_Last_Activity_by_MIR</name>
        <label>*Rule (RLA-MIR)* - Relevant for Last Activity by MIR?</label>
        <locationX>886</locationX>
        <locationY>3515</locationY>
        <defaultConnector>
            <targetReference>Rule_RBIS_Relevant_for_BI_Intent_Score_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RLA_MIR_Relevant</name>
            <conditionLogic>((1 OR 2 OR 3) AND 4 AND 5) AND (6 OR 7) AND 8 AND 9 AND 10 AND NOT(11)</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActivityDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActivityDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SW MIR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SW MIR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified Upon Creation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0010O0000272rRK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0010O0000272rRKQAY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Reply SFMC Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_to_Last_Activity_by_MIR_SubFlow</targetReference>
            </connector>
            <label>RLA-MIR - Relevant</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-5810 - excluded internal Account from automation
MIS-5675</description>
        <name>Rule_RLA_Relevant_for_Last_Activity_by_GTM</name>
        <label>*Rule (RLA-GTM)* - Relevant for Last Activity by GTM?</label>
        <locationX>886</locationX>
        <locationY>3215</locationY>
        <defaultConnector>
            <targetReference>Rule_RLA_MIR_Relevant_for_Last_Activity_by_MIR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RLA_GTM_Relevant</name>
            <conditionLogic>((1 OR 2 OR 3) AND 4 AND 5) AND 6 AND 7 AND 8 AND 9 AND 10 AND 11 AND 12 AND NOT(13) AND 14 AND 15</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActivityDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActivityDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SW MIR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SW Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SW MIR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SW Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified Upon Creation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0010O0000272rRK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0010O0000272rRKQAY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Reply SFMC Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SW Read Only (View all GTM Data)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SW Read Only (View all GTM Data)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_to_Last_Activity_by_GTM_SubFlow</targetReference>
            </connector>
            <label>RLA-GTM - Relevant</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-4859</description>
        <name>Rule_SACP_Status_is_Accepted_Accepted_by_CP</name>
        <label>*Rule (SACP)* - Status is Accepted / Accepted by CP</label>
        <locationX>886</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>Rule_MHRR_MIR_Handover_Rejection_Reason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SACP_Yes_Lead</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4) AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted by CP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact_Us_Task</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Status_to_Prioritized</targetReference>
            </connector>
            <label>SACP - Yes Lead</label>
        </rules>
        <rules>
            <name>SACP_Yes_Contact</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4) AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted by CP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact_Us_Task</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Status_to_Prioritized</targetReference>
            </connector>
            <label>SACP - Yes Contact</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-4859</description>
        <name>Rule_SCT_Statuses_for_Closing_Tasks</name>
        <label>*Rule (SCT)* - Statuses for Closing Tasks</label>
        <locationX>886</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>Rule_SACP_Status_is_Accepted_Accepted_by_CP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SCT_Yes</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4 OR 5 OR 6) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted by CP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact_Us_Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Tasks_of_the_Same_Lead_Contact</targetReference>
            </connector>
            <label>SCT - Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-6052</description>
        <name>Rule_SECT_Sent_Email_or_Call_Task_Created</name>
        <label>*Rule (SECT)* - Sent Email or Call Task Created</label>
        <locationX>886</locationX>
        <locationY>4907</locationY>
        <defaultConnector>
            <targetReference>Created_By_Catalyst</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SECT_Lead_Call</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Call</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Username</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>cloudtalk.integration@similarweb.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SECT_Update_Lead_Last_Call_Date</targetReference>
            </connector>
            <label>SECT - Lead Call</label>
        </rules>
        <rules>
            <name>SECT_Lead_Email_Sent</name>
            <conditionLogic>1 AND 2 AND 3 AND NOT(4)</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Reply SFMC Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SECT_Update_Lead_Last_Email_Sent_Date</targetReference>
            </connector>
            <label>SECT - Lead Email Sent</label>
        </rules>
        <rules>
            <name>SECT_Contact_Call</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Call</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Username</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>cloudtalk.integration@similarweb.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SECT_Update_Contact_Last_Call_Date</targetReference>
            </connector>
            <label>SECT - Contact Call</label>
        </rules>
        <rules>
            <name>SECT_Contact_Email_Sent</name>
            <conditionLogic>1 AND 2 AND 3 AND NOT(4)</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Reply SFMC Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SECT_Update_Contact_Last_Email_Sent_Date</targetReference>
            </connector>
            <label>SECT - Contact Email Sent</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-6072</description>
        <name>Rule_TLC_Task_is_Later_than_Contact_Last_Activity</name>
        <label>*Rule (TLC)* - Task is Later than Contact Last Activity?</label>
        <locationX>952</locationX>
        <locationY>4523</locationY>
        <defaultConnector>
            <targetReference>Rule_SECT_Sent_Email_or_Call_Task_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TLC_Task_is_Later</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ActivityDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_contact.LastActivityDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TLC_Update_Contact_MIR_Status</targetReference>
            </connector>
            <label>TLC - Task is Later</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-6072</description>
        <name>Rule_TLL_Task_is_Later_than_Lead_Last_Activity</name>
        <label>*Rule (TLL)* - Task is Later than Lead Last Activity?</label>
        <locationX>512</locationX>
        <locationY>4523</locationY>
        <defaultConnector>
            <targetReference>Rule_SECT_Sent_Email_or_Call_Task_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TLL_Task_is_Later</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ActivityDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_lead.LastActivityDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TLL_Update_Lead_MIR_Status</targetReference>
            </connector>
            <label>TLL - Task is Later</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-5271</description>
        <name>Rule_UUCC_Unqualified_Upon_Creation_for_Contact</name>
        <label>*Rule (UUCC)* - Unqualified Upon Creation for Contact?</label>
        <locationX>1018</locationX>
        <locationY>2231</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_Last_CU_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UUCC_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified Upon Creation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_CLCUS_Contact_Last_CU_Status_is_Blank</targetReference>
            </connector>
            <label>UUCC - Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-5271</description>
        <name>Rule_UUCL_Unqualified_Upon_Creation_for_Lead</name>
        <label>*Rule (UUCL)* - Unqualified Upon Creation for Lead?</label>
        <locationX>402</locationX>
        <locationY>2231</locationY>
        <defaultConnector>
            <targetReference>Update_Lead_Last_CU_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UUCL_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified Upon Creation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_LLCUS_Lead_Last_CU_Status_is_Blank</targetReference>
            </connector>
            <label>UUCL - Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Update</name>
        <label>Should Update?</label>
        <locationX>886</locationX>
        <locationY>7475</locationY>
        <defaultConnector>
            <targetReference>Should_Update_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Should_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShouldUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_task</targetReference>
            </connector>
            <label>Yes, Should Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Update_Contact</name>
        <label>Should Update Contact?</label>
        <locationX>886</locationX>
        <locationY>8075</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Should_Update_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShouldUpdateContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_contact</targetReference>
            </connector>
            <label>Yes, Should Update Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Update_Lead</name>
        <label>Should Update Lead?</label>
        <locationX>886</locationX>
        <locationY>7775</locationY>
        <defaultConnector>
            <targetReference>Should_Update_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Should_Update_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShouldUpdateLead</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_lead</targetReference>
            </connector>
            <label>Yes, Should Update Lead</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-5548
MIS-8199 - accepted by cu agent
MIS-8199 - added another outcome &quot;Related Contact with MIR Status Completed&quot;</description>
        <name>Updated_Related_MIR_Status</name>
        <label>Updated Related MIR Status</label>
        <locationX>886</locationX>
        <locationY>2915</locationY>
        <defaultConnector>
            <targetReference>Rule_RLA_Relevant_for_Last_Activity_by_GTM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Related_Lead_with_MIR_Status_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Funnel_Status_Flag</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Related Lead with MIR Status Completed</label>
        </rules>
        <rules>
            <name>Related_Lead_with_MIR_Status_Accepted_by_CU_agent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted by CU agent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_MIR_Status_Agent_Replied_Follow_Up</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Related Lead with MIR Status Accepted by CU agent</label>
        </rules>
        <rules>
            <name>Related_Contact_with_MIR_Status_Accepted_by_CU_agent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted by CU agent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_MIR_Status_Agent_Replied_Follow_Up</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Related Contact with MIR Status Accepted by CU agent</label>
        </rules>
        <rules>
            <name>Related_Contact_with_MIR_Status_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Assignment</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Related Contact with MIR Status Completed</label>
        </rules>
    </decisions>
    <description>MIS-8441 - Opened CU Agent to A, B, C leads and updated conditions
MIS-8390 - Added MIR Status update on Email Task creation
MIS-8199 - when there is a CU task with the status &quot; Accepted by CU Agent&quot; -&gt; MIR status on lead/conatct should change to &quot;Agent replied - follow up&quot;
MIS-8138 - CU Agent open to D and contacts, Excluded Taiwan
MIS-8114 - Merged DMLs
MIS-8106 - Adjusted Eligible for CU Agent to VGR
MIS-7957 - Added Eligible for CU Agent logic
MIS-7636 - Added LastActivityDate handling
MIS-7722 - Added SubType parsing from Catalyst task, Updated conditions to define Catalyst Note task
MIS-7201
MIS-6919 - Status Bug Fix
MIS-6473 - Update First MQL Date on Handraise
MIS-6396 - Update BI Intent Score
MIS-6229 - Added Last Activity by MIR
MIS-6052 - Lead/Contact update when Call/Email Sent is created
MIS-6072 - Lead/Contact Status Updates
MIS-5548
MIS-5810 - excluded internal Account from last actiivity by GTM automation
MIS-5675 - Added Last Activity by GTM SubFlow
MIS-5271
MIS-4859
MIS-4611 - excluded Contact Us alert - status = Completed (Lead)
MIS-4532 - excluded Contact Us alert - status = Completed (Account)
MIS-4425 - Send CU Alert to Completed Tasks as well + Remove Slack notifications
MIS-3137 - Splitting Alerts to Account Owner and Lead Owner
MIS-1894 - Migrate Tasks and Events WF and PB to Flow
MIS-8199 - Fixed a bug - After I create a completed task which should have changed the mir status to &quot;In progress Touched.&quot; it does not change appearently. the fix was in the node &quot;Update_Lead_Funnel_Status_Flag&quot;
Also added another assignment node &quot;Update Contact Assignment&quot;</description>
    <environments>Default</environments>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>SubTypeCalc</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!CatalystSubType}), TEXT({!$Record.Sub_type__c}), {!CatalystSubType})</expression>
    </formulas>
    <interviewLabel>Task-Record Triggered Flow - After Save Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task-Record Triggered Flow - After Save Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_contact</name>
        <label>Get contact</label>
        <locationX>1018</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rule_MHR_MIR_Handover_Rejected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_lead</name>
        <label>Get lead</label>
        <locationX>754</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rule_MHR_MIR_Handover_Rejected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>MIS-4859</description>
        <name>Cancel_Tasks_of_the_Same_Lead_Contact</name>
        <label>Cancel Tasks of the Same Lead/Contact</label>
        <locationX>754</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Rule_SACP_Status_is_Accepted_Accepted_by_CP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cancelled / Irrelevant</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <description>MIS-6396</description>
        <name>RBIS_Update_BI_Data</name>
        <label>RBIS - Update BI Data</label>
        <locationX>478</locationX>
        <locationY>4223</locationY>
        <connector>
            <targetReference>Rule_LAU_Last_Activity_Updated_for_Lead_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Record_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Intent_Score__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Intent_Score__c</field>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </inputAssignments>
        <object>BI_Data__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_contact</name>
        <label>Update contact</label>
        <locationX>754</locationX>
        <locationY>8183</locationY>
        <inputReference>Get_contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_lead</name>
        <label>Update lead</label>
        <locationX>754</locationX>
        <locationY>7883</locationY>
        <connector>
            <targetReference>Should_Update_Contact</targetReference>
        </connector>
        <inputReference>Get_lead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_task</name>
        <label>Update task</label>
        <locationX>754</locationX>
        <locationY>7583</locationY>
        <connector>
            <targetReference>Should_Update_Lead</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>760</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Related_To</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>MIS-5675</description>
        <name>Send_to_Last_Activity_by_GTM_SubFlow</name>
        <label>Send to Last Activity by GTM SubFlow</label>
        <locationX>754</locationX>
        <locationY>3323</locationY>
        <connector>
            <targetReference>Rule_RLA_MIR_Relevant_for_Last_Activity_by_MIR</targetReference>
        </connector>
        <flowName>Account_Contact_Lead_Last_Activity_by_GTM_SubFlow</flowName>
        <inputAssignments>
            <name>IN_AccountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IN_Last_Activity_Date_by_GTM</name>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IN_WhoId</name>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>MIS-6229</description>
        <name>Send_to_Last_Activity_by_MIR_SubFlow</name>
        <label>Send to Last Activity by MIR SubFlow</label>
        <locationX>754</locationX>
        <locationY>3623</locationY>
        <connector>
            <targetReference>Rule_RBIS_Relevant_for_BI_Intent_Score_Update</targetReference>
        </connector>
        <flowName>Account_Contact_Lead_Last_Activity_by_GTM_SubFlow</flowName>
        <inputAssignments>
            <name>IN_AccountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IN_Last_Activity_Date_by_MIR</name>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IN_WhoId</name>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CatalystSubType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShouldUpdate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ShouldUpdateContact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ShouldUpdateLead</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>task</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
