force-app/main/default/flows/Task_Record_Triggered_Flow_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>New_Rule</name>
        <label>New Rule</label>
        <locationX>182</locationX>
        <locationY>1787</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NewRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <label>NewRule</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-4859</description>
        <name>Rule_CUTCC_Contact_Us_Task_Created_by_Chilipiper</name>
        <label>*Rule (CUTCC)* - Contact Us Task Created by Chilipiper?</label>
        <locationX>182</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>Rule_SIA_Status_ISCHANGED_to_Accepted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CUTCC_Yes</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>fr_NewRec</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact_Us_Task</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Username</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>chilipiper.integration@similarweb.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Username</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>qualified.integration@similarweb.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_to_Accepted</targetReference>
            </connector>
            <label>CUTCC - Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rule_HO48H_MIR_Handover_Open_For_More_Than_48_Hours</name>
        <label>*Rule(HO48H)* -MIR Handover Open For More Than 48 Hours</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Rule_TCT_Task_completed_Timestamp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Type_is_MIR_Handover</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MIR Handover</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HO48H_Update_Assignee_Manager_Email</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Type is MIR Handover</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-4859</description>
        <name>Rule_MHR_MIR_Handover_Rejection_Reason_Populated</name>
        <label>*Rule (MHR)* - MIR Handover Rejection Reason Populated</label>
        <locationX>182</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>New_Rule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MHR_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MIR_Handover_Rejection_Reason__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MIR_Handover_Rejection_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact_Us_Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_to_Unqualified</targetReference>
            </connector>
            <label>MHR - Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-4859</description>
        <name>Rule_SIA_Status_ISCHANGED_to_Accepted</name>
        <label>*Rule (SIA)* - Status ISCHANGED to Accepted?</label>
        <locationX>182</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Rule_MHR_MIR_Handover_Rejection_Reason_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SIA_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Accepted_Timestamp_to_NOW</targetReference>
            </connector>
            <label>SIA - Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>MIS-5240</description>
        <name>Rule_TCT_Task_completed_Timestamp</name>
        <label>*Rule (TCT)*-Task - completed Timestamp</label>
        <locationX>182</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Rule_CUTCC_Contact_Us_Task_Created_by_Chilipiper</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_Completed</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fr_NewRec</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled / Irrelevant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified Upon Creation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TCT_Task_completed_Timestamp</targetReference>
            </connector>
            <label>Status is Completed</label>
        </rules>
    </decisions>
    <description>MIS-5240
MIS-4859
MIS-1894</description>
    <environments>Default</environments>
    <formulas>
        <name>fr_AssigneeManagerEmail</name>
        <dataType>String</dataType>
        <expression>{!$Record.Owner:User.Manager.Email}</expression>
    </formulas>
    <formulas>
        <name>fr_NewRec</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>fr_NOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Task - Record Triggered Flow - Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task - Record Triggered Flow - Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>HO48H_Update_Assignee_Manager_Email</name>
        <label>HO48H-Update Assignee Manager Email</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Rule_TCT_Task_completed_Timestamp</targetReference>
        </connector>
        <inputAssignments>
            <field>Manager_Email__c</field>
            <value>
                <elementReference>fr_AssigneeManagerEmail</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>TCT_Task_completed_Timestamp</name>
        <label>TCT-Task - completed Timestamp</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Rule_CUTCC_Contact_Us_Task_Created_by_Chilipiper</targetReference>
        </connector>
        <inputAssignments>
            <field>Completed_Timestamp__c</field>
            <value>
                <elementReference>fr_NOW</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>MIS-4859</description>
        <name>Update_Accepted_Timestamp_to_NOW</name>
        <label>Update Accepted Timestamp to NOW</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Rule_MHR_MIR_Handover_Rejection_Reason_Populated</targetReference>
        </connector>
        <inputAssignments>
            <field>Accepted_Status_Timestamp__c</field>
            <value>
                <elementReference>fr_NOW</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>MIS-4859</description>
        <name>Update_Status_to_Accepted</name>
        <label>Update Status to Accepted</label>
        <locationX>50</locationX>
        <locationY>995</locationY>
        <connector>
            <targetReference>Rule_SIA_Status_ISCHANGED_to_Accepted</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Accepted by CP</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>MIS-4859</description>
        <name>Update_Status_to_Unqualified</name>
        <label>Update Status to Unqualified</label>
        <locationX>50</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>New_Rule</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Rule_HO48H_MIR_Handover_Open_For_More_Than_48_Hours</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
