force-app/main/default/flows/Task_Creation_Update_Delete_for_PI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>SIM_ISBLANK_OR_NOT</name>
        <label>SIM ISBLANK OR NOT</label>
        <locationX>454</locationX>
        <locationY>292</locationY>
        <defaultConnector>
            <targetReference>Task_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SIM NOT BLANK</defaultConnectorLabel>
        <rules>
            <name>SIM_IS_BLANK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarProImpPIS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>SIM IS BLANK</label>
        </rules>
    </decisions>
    <interviewLabel>Task Creation/Update/Delete for PI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task Creation/Update for PI</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Task_Creation</name>
        <label>Task Creation</label>
        <locationX>449</locationX>
        <locationY>393</locationY>
        <assignRecordIdToReference>VarTaskId</assignRecordIdToReference>
        <connector>
            <targetReference>Contact_Task_Id_Update</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Training1Var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>VarProImpPIS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Product Implementation Training</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Demo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>VarProImpAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>VarContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Contact_Lookup</name>
        <label>Contact Lookup</label>
        <locationX>453</locationX>
        <locationY>80</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ProImpLookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ProImpVar</assignToReference>
            <field>ProductImplementation__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Training1Var</assignToReference>
            <field>Training1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Training2Var</assignToReference>
            <field>Training2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Training3Var</assignToReference>
            <field>Training3__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ProImpLookup</name>
        <label>ProImpLookup</label>
        <locationX>454</locationX>
        <locationY>190</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SIM_ISBLANK_OR_NOT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProImpVar</elementReference>
            </value>
        </filters>
        <object>Product_Implementation__c</object>
        <outputAssignments>
            <assignToReference>VarProImpAccount</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarProImpPIS</assignToReference>
            <field>SIM__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Contact_Task_Id_Update</name>
        <label>Contact Task Id Update</label>
        <locationX>449</locationX>
        <locationY>485</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Training_1_Task_ID__c</field>
            <value>
                <elementReference>VarTaskId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <startElementReference>Contact_Lookup</startElementReference>
    <status>Active</status>
    <variables>
        <name>ProImpVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Training1Var</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Training2Var</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Training3Var</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarProImpAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarProImpPIS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
