force-app/main/default/flows/Task_Intercom_Lead_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Lead_Owner_is_Intercom_Integration</name>
        <label>Lead Owner is Intercom Integration?</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Intercom_Integration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Owner:User.CommunityNickname</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Intercom.Integration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Owner</targetReference>
            </connector>
            <label>Intercom Integration</label>
        </rules>
    </decisions>
    <description>MIS-2795:
New Task Created
&amp;&amp;
Task.Type = “Intercom Chat”
&amp;&amp;
Task.Assigned to &lt;&gt; “Intercom Integration”
&amp;&amp;
Lead owner = Intercom Integration

Action:
Update Lead Owner = Task.Assigned_To</description>
    <environments>Default</environments>
    <interviewLabel>Task - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task - Intercom Lead Owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Owner_is_Intercom_Integration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead_Owner</name>
        <label>Update Lead Owner</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>TEXT({!$Record.Type}) = &apos;Intercom Chat&apos;
&amp;&amp;
{!$Record.Owner:User.CommunityNickname} &lt;&gt; &apos;Intercom.Integration&apos;
&amp;&amp;
BEGINS({!$Record.WhoId}, &apos;00Q&apos;)</filterFormula>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
