force-app/main/default/flows/Update_CSRoundRobin_c_per_Reassign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_new_Collection</name>
        <label>Add to new Collection</label>
        <locationX>417</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>NewUserCollectiontoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopSObject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Last</name>
        <label>Update Last</label>
        <locationX>388</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>LoopSObject.Last__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarLastOrderNew</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_new_Collection</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Update CSRoundRobin__c per Reassign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update CSRoundRobin__c per Reassign</label>
    <loops>
        <name>Loop_Users</name>
        <label>Loop Users</label>
        <locationX>648</locationX>
        <locationY>259</locationY>
        <assignNextValueToReference>LoopSObject</assignNextValueToReference>
        <collectionReference>UsersCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Last</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>All_Related_RR_users</name>
        <label>All Related RR users</label>
        <locationX>651</locationX>
        <locationY>133</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bucket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarBucket</elementReference>
            </value>
        </filters>
        <object>CSRoundRobin__c</object>
        <outputReference>UsersCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Bucket__c</queriedFields>
        <queriedFields>Last__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update</name>
        <label>Update</label>
        <locationX>668</locationX>
        <locationY>438</locationY>
        <inputReference>NewUserCollectiontoUpdate</inputReference>
    </recordUpdates>
    <startElementReference>All_Related_RR_users</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>LoopSObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CSRoundRobin__c</objectType>
    </variables>
    <variables>
        <name>NewUserCollectiontoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CSRoundRobin__c</objectType>
    </variables>
    <variables>
        <name>UsersCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CSRoundRobin__c</objectType>
    </variables>
    <variables>
        <name>VarBucket</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarLastOrderNew</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
