force-app/main/default/flows/User_Management_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>In order to use the same variable in the next screens and actions.</description>
        <name>Assign_The_Inactive_User_to_Var</name>
        <label>Assign The Inactive User to Var</label>
        <locationX>380</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Get_Existing_User_Create</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Inactive_User_by_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_User_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Show_Validation_Message</name>
        <label>Update Show Validation Message</label>
        <locationX>1172</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Show_Validation_Message_For_Existing_Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Deactivate_User_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Show_Validation_on_Inactive_User</name>
        <label>Update Show Validation on Inactive User</label>
        <locationX>644</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Show_Validation_Inactive_User</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Select_Existing_User</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Admin</name>
        <choiceText>Admin</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Admin</stringValue>
        </value>
    </choices>
    <choices>
        <name>Business_Unit_Existing_User_Choice</name>
        <choiceText>{!Get_Existing_User_Create.User_Business_Unit__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Existing_User_Create.User_Business_Unit__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>Chorus</name>
        <choiceText>Chorus</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Chorus</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create_New_User</name>
        <choiceText>Create New User</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create</stringValue>
        </value>
    </choices>
    <choices>
        <name>Deactivate_User</name>
        <choiceText>Deactivate User</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deactivate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Level_11</name>
        <choiceText>Level 11</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Level 11</stringValue>
        </value>
    </choices>
    <choices>
        <name>Level_11_Permissions</name>
        <choiceText>Level 11 Permissions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Level 11 Permissions</stringValue>
        </value>
    </choices>
    <choices>
        <name>Linkedin_Sales_Navigator_LISN</name>
        <choiceText>Linkedin Sales Navigator LISN</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Linkedin Sales Navigator LISN</stringValue>
        </value>
    </choices>
    <choices>
        <name>Manager</name>
        <choiceText>Manager</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Manager</stringValue>
        </value>
    </choices>
    <choices>
        <name>Remove_License_and_Permissions</name>
        <choiceText>Remove License and Permissions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remove License and Permissions</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rep</name>
        <choiceText>Rep</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rep</stringValue>
        </value>
    </choices>
    <choices>
        <name>SalesLoft</name>
        <choiceText>SalesLoft</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SalesLoft</stringValue>
        </value>
    </choices>
    <choices>
        <name>Update_Existing_User</name>
        <choiceText>Update Existing User</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update</stringValue>
        </value>
    </choices>
    <choices>
        <name>Update_Role_Hierarchy</name>
        <choiceText>Update Role Hierarchy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update Role Hierarchy</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Does_the_username_exists</name>
        <label>Does the username exists?</label>
        <locationX>314</locationX>
        <locationY>1556</locationY>
        <defaultConnector>
            <targetReference>Create_Manage_Users_Log</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found - continue</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_User_with_the_Username.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_User_Found</targetReference>
            </connector>
            <label>Exists - Stop creation</label>
        </rules>
        <rules>
            <name>Name_is_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Name.firstName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Name.lastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Name_Is_Required_Screen</targetReference>
            </connector>
            <label>Name is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Inactive_User</name>
        <label>Found Inactive User?</label>
        <locationX>512</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Update_Show_Validation_on_Inactive_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>User_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Inactive_User_by_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_The_Inactive_User_to_Var</targetReference>
            </connector>
            <label>User Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Open_Manage_User_Log</name>
        <label>Found Open Manage User Log?</label>
        <locationX>1304</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Create_Manage_Users_Log_Deactivate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Found_Open_Log</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_for_Open_Manage_Users_Log_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Show_Validation_Message</targetReference>
            </connector>
            <label>Found Open Log</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selected_an_Active_User</name>
        <label>Selected an Active User?</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Get_Inactive_User_by_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inactive</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_User_Lookup.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_User_Create</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Action_Selected</name>
        <label>Which Action Selected?</label>
        <locationX>1139</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_New_User</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Salesforce_User_License</targetReference>
            </connector>
            <label>Create</label>
        </rules>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Update_Existing_User</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Screen</targetReference>
            </connector>
            <label>Update</label>
        </rules>
        <rules>
            <name>Deactivate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Deactivate_User</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deactivate_User_Screen</targetReference>
            </connector>
            <label>Deactivate</label>
        </rules>
        <rules>
            <name>Role_Hierarchy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Update_Role_Hierarchy</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Role_Screen</targetReference>
            </connector>
            <label>Role Hierarchy</label>
        </rules>
    </decisions>
    <description>2025-02-23: added Role Type field on Create (MIS-8472)
2024-12-10: Add Roles and Hierarchy support
2024-03-20: support Update
2024-03-18: added Package Licenses
2023-05-08 Removed business applications</description>
    <dynamicChoiceSets>
        <name>Country_Picklist_Choice_set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CountryCode</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Deactivate_Reason_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Deactivate_Reason__c</picklistField>
        <picklistObject>Manage_Users_Log__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Inactive_User_Choice_Set</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Role_Type_Picklist_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Role_Type__c</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>State_Picklist_Choice_set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StateCode</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TimeZone_Picklist_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TimeZoneSidKey</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>User_Business_Unit_Picklist_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>User_Business_Unit__c</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Alias_Formula</name>
        <dataType>String</dataType>
        <expression>lower(Left({!Name.firstName},1) &amp;  left({!Name.lastName},4))</expression>
    </formulas>
    <formulas>
        <name>Available_Licenses_Formula</name>
        <dataType>Number</dataType>
        <expression>{!Get_Salesforce_User_License.TotalLicenses} - {!Get_Salesforce_User_License.UsedLicenses}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Email_and_Username_Formula</name>
        <dataType>String</dataType>
        <expression>{!Name.firstName} + &apos;.&apos; + {!Name.lastName} + &apos;@similarweb.com&apos;</expression>
    </formulas>
    <formulas>
        <name>Link_To_Create_Manage_Users_Log</name>
        <dataType>String</dataType>
        <expression>{!$Label.SalesforceURL}&amp;&quot;/&quot;&amp; {!Create_Manage_Users_Log}</expression>
    </formulas>
    <formulas>
        <name>Link_To_Deactivate_Manage_Users_Log</name>
        <dataType>String</dataType>
        <expression>{!$Label.SalesforceURL}&amp;&quot;/&quot;&amp;{!Create_Manage_Users_Log_Deactivate}</expression>
    </formulas>
    <formulas>
        <name>Link_To_Existing_Manage_User_Log</name>
        <dataType>String</dataType>
        <expression>{!$Label.SalesforceURL}&amp;&quot;/&quot;&amp;{!Search_for_Open_Manage_Users_Log_Record.Id}</expression>
    </formulas>
    <formulas>
        <name>Link_to_Existing_User_Found</name>
        <dataType>String</dataType>
        <expression>{!$Label.SalesforceURL}&amp;&quot;/&quot;&amp;{!Find_User_with_the_Username.Id}</expression>
    </formulas>
    <formulas>
        <name>Link_To_New_User_Record</name>
        <dataType>String</dataType>
        <expression>{!$Label.SalesforceURL}&amp;&quot;/&quot;&amp;{!New_User_Id}</expression>
    </formulas>
    <formulas>
        <name>Nickname</name>
        <dataType>String</dataType>
        <expression>lower({!Name.firstName}+&apos;.&apos;+{!Name.lastName})</expression>
    </formulas>
    <interviewLabel>User Management Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Management Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Manage_Users_Log</name>
        <label>Create Manage Users Log</label>
        <locationX>578</locationX>
        <locationY>1664</locationY>
        <connector>
            <targetReference>Success_Final_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>Create</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Manager_Id__c</field>
            <value>
                <elementReference>Get_Existing_User_Create.Channel_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clone_Package_Licenses__c</field>
            <value>
                <elementReference>Package_Licenses</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clone_Permission_Set_Assignments__c</field>
            <value>
                <elementReference>Permission_Set_Assignment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clone_Public_Group_Memberships__c</field>
            <value>
                <elementReference>Public_Group_Memebership</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <elementReference>Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_Code__c</field>
            <value>
                <elementReference>Country_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <elementReference>Department</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division__c</field>
            <value>
                <elementReference>Division</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>NewEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee_Hire_Date__c</field>
            <value>
                <elementReference>Employee_Hire_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>Name.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Name.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Level_11__c</field>
            <value>
                <elementReference>Get_Existing_User_Create.Level_11__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_Id__c</field>
            <value>
                <elementReference>Manager_New_User.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Profile_Name__c</field>
            <value>
                <elementReference>Get_Existing_User_Create.Profile.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role_Name__c</field>
            <value>
                <elementReference>Get_Existing_User_Create.UserRole.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role_Type__c</field>
            <value>
                <elementReference>Role_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_User_to_Duplicate__c</field>
            <value>
                <elementReference>Get_Existing_User_Create.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Divison__c</field>
            <value>
                <elementReference>Sub_Division</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Zone_SidKey__c</field>
            <value>
                <elementReference>Time_Zone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Business_Unit__c</field>
            <value>
                <elementReference>User_Business_Unit</elementReference>
            </value>
        </inputAssignments>
        <object>Manage_Users_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Manage_Users_Log_Deactivate</name>
        <label>Create Manage Users Log - Deactivate</label>
        <locationX>1436</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Deactivate_Successfully_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>Deactivate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_For_Action__c</field>
            <value>
                <elementReference>Deactivate_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deactivate_Reason__c</field>
            <value>
                <elementReference>Deactivate_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>Selected_User_To_Deactivate.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Manage_Users_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Manage_Users_Log_Role_Update</name>
        <label>Create Manage Users Log - Role Update</label>
        <locationX>1700</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Success_Final_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>Role Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Role_ID__c</field>
            <value>
                <elementReference>Parent_Role_To_Update.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Role_Name__c</field>
            <value>
                <elementReference>Parent_Role_To_Update.recordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role_ID__c</field>
            <value>
                <elementReference>Get_Existing_Role_Update.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role_Name__c</field>
            <value>
                <elementReference>Get_Existing_Role_Update.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Manage_Users_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Manage_Users_Log_Update</name>
        <label>Create Manage Users Log - Update</label>
        <locationX>908</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Success_Final_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Manager_Id__c</field>
            <value>
                <elementReference>Get_Existing_User_Update.Channel_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clone_Package_Licenses__c</field>
            <value>
                <elementReference>Package_Licenses_update</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clone_Permission_Set_Assignments__c</field>
            <value>
                <elementReference>Permission_Set_Assignment_update</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clone_Public_Group_Memberships__c</field>
            <value>
                <elementReference>Public_Group_Memebership_update</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <elementReference>Department_update</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division__c</field>
            <value>
                <elementReference>Division_update</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Level_11__c</field>
            <value>
                <elementReference>Get_Existing_User_Update.Level_11__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_Id__c</field>
            <value>
                <elementReference>Manager_New_User_update.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Profile_Name__c</field>
            <value>
                <elementReference>Get_Existing_User_Update.Profile.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role_Name__c</field>
            <value>
                <elementReference>Get_Existing_User_Update.UserRole.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_User_to_Duplicate__c</field>
            <value>
                <elementReference>Get_Existing_User_Update.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Divison__c</field>
            <value>
                <elementReference>Sub_Division_update</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>Title_update</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Business_Unit__c</field>
            <value>
                <elementReference>User_Business_Unit_update</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>Get_Updated_User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Manage_Users_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_User_with_the_Username</name>
        <label>Find User with the Username</label>
        <locationX>314</locationX>
        <locationY>1448</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_the_username_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewEmail.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Parent_Role_Update</name>
        <label>Get Existing Parent Role - Update</label>
        <locationX>1700</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hierarchy_Role_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_Role_Update.ParentRoleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Role_Update</name>
        <label>Get Existing Role - Update</label>
        <locationX>1700</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Parent_Role_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Role_To_Update.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_User_Create</name>
        <label>Get Existing User - Create</label>
        <locationX>116</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_User_fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Existing_User_Lookup.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_User_Update</name>
        <label>Get Existing User - Update</label>
        <locationX>908</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Updated_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Existing_User_For_Update.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Inactive_User_by_Email</name>
        <label>Get Inactive User by Email</label>
        <locationX>512</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Inactive_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_of_Deactivated_User.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>For checking the number of free licenses</description>
        <name>Get_Salesforce_User_License</name>
        <label>Get Salesforce User License</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Existing_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserLicense</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TotalLicenses</queriedFields>
        <queriedFields>UsedLicenses</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_User</name>
        <label>Get Updated User</label>
        <locationX>908</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_User_fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_User_To_Update.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Search_for_Open_Manage_Users_Log_Record</name>
        <label>Search for Open Manage Users Log Record</label>
        <locationX>1304</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Open_Manage_User_Log</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_User_To_Deactivate.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Manage_Users_Log__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>User__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Deactivate_Successfully_Screen</name>
        <label>Deactivate Successfully Screen</label>
        <locationX>1436</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Deactivate_Successfully_Display_Text</name>
            <fieldText>&lt;p&gt;✅ &lt;span style=&quot;font-size: 14px;&quot;&gt;The request for deactivating &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!Selected_User_To_Deactivate.recordName}&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; has been created successfully &lt;/span&gt;✅&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u style=&quot;font-size: 14px;&quot;&gt;Deactivate Time: &lt;/u&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!Deactivate_Date}&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; by the end of the day, as per Israeli time.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;For any changes please update the relevant &lt;/span&gt;&lt;a href=&quot;{!Link_To_Deactivate_Manage_Users_Log}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;&lt;strong&gt;Manage Users Log Record&lt;/strong&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Deactivate_User_Screen</name>
        <label>Deactivate User Screen</label>
        <locationX>1304</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Search_for_Open_Manage_Users_Log_Record</targetReference>
        </connector>
        <fields>
            <name>Selected_User_To_Deactivate</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Open_Log_Validation_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(241, 40, 40);&quot;&gt;There is an open request for &lt;/span&gt;&lt;strong style=&quot;color: rgb(241, 40, 40); background-color: rgb(255, 255, 255);&quot;&gt;{!Selected_User_To_Deactivate.recordName}&lt;/strong&gt;&lt;strong style=&quot;color: rgb(241, 40, 40);&quot;&gt;.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(241, 40, 40);&quot;&gt;Please update the &lt;/strong&gt;&lt;a href=&quot;{!Link_To_Existing_Manage_User_Log}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(39, 80, 247);&quot;&gt;&lt;strong&gt;Open request&lt;/strong&gt;&lt;/a&gt;&lt;strong style=&quot;color: rgb(241, 40, 40);&quot;&gt; or &lt;/strong&gt;&lt;strong style=&quot;color: rgb(244, 66, 66);&quot;&gt;select a different user&lt;/strong&gt;&lt;strong style=&quot;color: rgb(241, 40, 40);&quot;&gt;.﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Validation_Message_For_Existing_Record</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Deactivate_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Today_Var</elementReference>
            </defaultValue>
            <fieldText>Deactivate Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;The Deactivate Date field should contain either Today&apos;s date or a date in the future.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Deactivate_Date} &gt;= {!$Flow.CurrentDate}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Deactivate_Reason</name>
            <choiceReferences>Deactivate_Reason_Choice_Set</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Deactivate Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Existing_User_Found</name>
        <label>Existing - User Found</label>
        <locationX>50</locationX>
        <locationY>1664</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Username_taken</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;We found an existing user with the same username: &lt;/strong&gt;&lt;a href=&quot;{!Link_to_Existing_User_Found}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;&lt;strong&gt;{!Find_User_with_the_Username.FirstName} {!Find_User_with_the_Username.LastName}&lt;/strong&gt;&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;This isn’t supported in the flow, so please reach out to MIS and request to update &amp;amp; activate the existing user.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Hierarchy_Role_Screen</name>
        <label>Hierarchy Role Screen</label>
        <locationX>1700</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Manage_Users_Log_Role_Update</targetReference>
        </connector>
        <fields>
            <name>Current_Role_Data</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Selected Role:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Get_Existing_Role_Update.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Currently under Role:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Get_Existing_Parent_Role_Update.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Pick a new Role for this Hierarchy:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Parent_Role_To_Update</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Parent Role</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>UserRoleId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Name_Is_Required_Screen</name>
        <label>Name Is Required Screen</label>
        <locationX>314</locationX>
        <locationY>1664</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>New_User_fields</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Username_taken</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please complete the &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;First Name&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; and &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Last Name&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; fields.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_User_fields</name>
        <label>New User fields</label>
        <locationX>314</locationX>
        <locationY>1340</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Find_User_with_the_Username</targetReference>
        </connector>
        <fields>
            <name>Cloned_User_name</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Clone From {!Get_Existing_User_Create.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_User_fields_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_User_fields_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldsToDisplayList</name>
                        <value>
                            <stringValue>firstName,lastName</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>NewEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Email_and_Username_Formula</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <elementReference>Email_and_Username_Formula</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Title</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existing_User_Create.Title</elementReference>
                    </defaultValue>
                    <fieldText>Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Department</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existing_User_Create.Department</elementReference>
                    </defaultValue>
                    <fieldText>Department</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Manager_New_User</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ManagerId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>User</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Manager</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Existing_User_Create.ManagerId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Employee_Hire_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Employee Hire Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_User_fields_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Clone_Options</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Clone the following:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Permission_Set_Assignment</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Permission Set Assignment</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Public_Group_Memebership</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Public Group Memebership</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Package_Licenses</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Package Licenses</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Profile_Role_Display_Text</name>
                    <fieldText>&lt;p&gt;&lt;u&gt;Profile:&lt;/u&gt; &lt;strong&gt;{!Get_Existing_User_Create.Profile.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u&gt;Role:&lt;/u&gt; &lt;strong&gt;{!Get_Existing_User_Create.UserRole.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Role_Type</name>
                    <choiceReferences>Role_Type_Picklist_Choice_Set</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existing_User_Create.Role_Type__c</elementReference>
                    </defaultValue>
                    <fieldText>Role Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>User_Business_Unit</name>
                    <choiceReferences>User_Business_Unit_Picklist_Choice_Set</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Business_Unit_Existing_User_Choice</elementReference>
                    </defaultValue>
                    <fieldText>User Business Unit</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Division</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existing_User_Create.Division</elementReference>
                    </defaultValue>
                    <fieldText>Division</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Sub_Division</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existing_User_Create.Sub_Division__c</elementReference>
                    </defaultValue>
                    <fieldText>Sub Division</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Company</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existing_User_Create.CompanyName</elementReference>
                    </defaultValue>
                    <fieldText>Company</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Channel_Manager_Text</name>
                    <fieldText>&lt;p&gt;&lt;u style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Channel Manager:&lt;/u&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Existing_User_Create.Channel_Manager__r.FirstName}  {!Get_Existing_User_Create.Channel_Manager__r.LastName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Existing_User_Create.Channel_Manager__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Address</name>
            <fieldText>Address</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Address_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Country_Name</name>
                    <choiceReferences>Country_Picklist_Choice_set</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existing_User_Create.CountryCode</elementReference>
                    </defaultValue>
                    <fieldText>Country</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>City</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existing_User_Create.City</elementReference>
                    </defaultValue>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Address_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Time_Zone</name>
                    <choiceReferences>TimeZone_Picklist_Choice_Set</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existing_User_Create.TimeZoneSidKey</elementReference>
                    </defaultValue>
                    <fieldText>Time Zone</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Action_Screen</name>
        <label>Select Action Screen</label>
        <locationX>1139</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Which_Action_Selected</targetReference>
        </connector>
        <fields>
            <name>Select_Action</name>
            <choiceReferences>Create_New_User</choiceReferences>
            <choiceReferences>Deactivate_User</choiceReferences>
            <choiceReferences>Update_Existing_User</choiceReferences>
            <choiceReferences>Update_Role_Hierarchy</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Existing_User</name>
        <label>Select Existing User</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selected_an_Active_User</targetReference>
        </connector>
        <fields>
            <name>Clone_Header</name>
            <fieldText>&lt;p&gt;&lt;u style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Available Licenses:&lt;/u&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;color: rgb(11, 11, 11); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!Available_Licenses_Formula}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>No_available_license_text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(218, 70, 70);&quot;&gt;No license is available.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(218, 70, 70);&quot;&gt;To create a new user, you must deactivate another user first.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Available_Licenses_Formula</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Existing_User_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Existing User to Clone from</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Available_Licenses_Formula</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Provide_Email_Inactive_User_Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Provide_Email_Inactive_User_Checkbox</name>
            <dataType>Boolean</dataType>
            <fieldText>If there is no Active User to clone from, please enter Email of Inactive User</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Not_Found_Inactive_User_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(218, 70, 70); font-size: 16px;&quot;&gt;Not found a user with the email address: &lt;/strong&gt;&lt;strong style=&quot;color: rgb(71, 120, 224); font-size: 16px;&quot;&gt;{!Email_of_Deactivated_User.value}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(218, 70, 70); font-size: 16px;&quot;&gt;Please enter a different Email address or select an Active User.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Validation_Inactive_User</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Email_of_Deactivated_User</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>@similarweb.com</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <stringValue>@similarweb.com</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Provide_Email_Inactive_User_Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Role_Screen</name>
        <label>Select Role Screen</label>
        <locationX>1700</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Existing_Role_Update</targetReference>
        </connector>
        <fields>
            <name>Role_To_Update</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Role to Update</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>UserRoleId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Start_Screen</name>
        <label>Start Screen</label>
        <locationX>1139</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_Action_Screen</targetReference>
        </connector>
        <fields>
            <name>Image_Manage_Users_Logo</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Manage_User_Requests_Icon</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>Logo Manage Users</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>225</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>250</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Manage_Users_Icon_Display_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(44, 115, 204); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Manage Users and Role Hierarchy&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(44, 115, 204); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Create | Update | Deactivate&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <helpText>&lt;p&gt;Create a new request for Create/Update/Deactivate User&lt;/p&gt;</helpText>
        <nextOrFinishButtonLabel>Create New Request</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Final_Screen</name>
        <label>Success Final Screen</label>
        <locationX>1139</locationX>
        <locationY>2048</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Your request has been created successfully ✅&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!Link_To_Create_Manage_Users_Log}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;Manage Users Log Record&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Please note that this request requires authorization from someone who has the relevant permissions.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Once the request is approved, a new user will be created and the &lt;a href=&quot;{!Link_To_Create_Manage_Users_Log}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Manage Users Log Record&lt;/a&gt; will be updated to &apos;C&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;ompleted&apos; with a lookup to the new user.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_User_fields</name>
        <label>Update User fields</label>
        <locationX>908</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Manage_Users_Log_Update</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Cloned_User_name</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Clone From {!Get_Existing_User_Create.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Update_User_fields_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Update_User_fields_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Title_update</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existing_User_Update.Title</elementReference>
                    </defaultValue>
                    <fieldText>Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Department_update</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existing_User_Update.Department</elementReference>
                    </defaultValue>
                    <fieldText>Department</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Division_update</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existing_User_Update.Division</elementReference>
                    </defaultValue>
                    <fieldText>Division</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Sub_Division_update</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existing_User_Update.Sub_Division__c</elementReference>
                    </defaultValue>
                    <fieldText>Sub Division</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Manager_New_User_update</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ManagerId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>User</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Manager</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Existing_User_Update.ManagerId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Update_User_fields_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Clone_Options_update</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Clone the following:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Permission_Set_Assignment_update</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Permission Set Assignment</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Public_Group_Memebership_update</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Public Group Memebership</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Package_Licenses_update</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Package Licenses</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Profile_Role_Display_Text_update</name>
                    <fieldText>&lt;p&gt;&lt;u&gt;Profile:&lt;/u&gt; &lt;strong&gt;{!Get_Existing_User_Update.Profile.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u&gt;Role:&lt;/u&gt; &lt;strong&gt;{!Get_Existing_User_Update.UserRole.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>User_Business_Unit_update</name>
                    <choiceReferences>User_Business_Unit_Picklist_Choice_Set</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Business_Unit_Existing_User_Choice</elementReference>
                    </defaultValue>
                    <fieldText>User Business Unit</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Channel_Manager_Text_update</name>
                    <fieldText>&lt;p&gt;&lt;u style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Channel Manager:&lt;/u&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Existing_User_Update.Channel_Manager__r.FirstName}  {!Get_Existing_User_Update.Channel_Manager__r.LastName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Existing_User_Update.Channel_Manager__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_User_Screen</name>
        <label>Update User Screen</label>
        <locationX>908</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Existing_User_Update</targetReference>
        </connector>
        <fields>
            <name>Selected_User_To_Update</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>User to Update</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Existing_User_For_Update</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Needs to be the same as</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1013</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Start_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>L11_Licenses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>UserPackageLicense</objectType>
    </variables>
    <variables>
        <name>New_User_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Permission_Set_Assignments_Names</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Public_Groups_Assignments_Names</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Show_Validation_Inactive_User</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Show_Validation_Message_For_Existing_Record</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Today_Var</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>varExistingUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRMembership</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>varRMemberships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>varRPSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>varRPSAs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
</Flow>
